@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url(../css/font.css);
.table-top select {
  margin-left: 10px;
}

.list-table input {
  max-width: 80%;
}
.list-table.type02 td {
  height: 46px;
  box-sizing: border-box;
}
.list-table.type03 {
  margin-top: 40px;
}
.list-table.type03 .table-tit {
  margin-bottom: 0;
}
.list-table.type03 .btn-wrap {
  margin-top: 0;
}
.list-table.type03 input {
  max-width: 95%;
}
.list-table.type03 .font-red {
  margin-top: 10px;
  color: #ff0000;
  font-size: 14px;
  text-align: right;
}
.list-table .btn-txt.pop-btn {
  color: #666;
  border-bottom-color: #d1d1d1;
}

.date-wrap {
  display: inline-block;
}
.date-wrap input[type=text] {
  width: 100% !important;
}

.g-btn {
  background-color: #6a6a6a !important;
}

.radio-wrap.type02 {
  display: inline-block;
  margin-left: 5px;
}
.radio-wrap.type02 input[type=radio] + label {
  padding: 5px 10px;
  margin: 0;
  background: none;
  border: 1px solid #ddd;
  cursor: pointer;
  background-color: #fff;
}
.radio-wrap.type02 input[type=radio]:checked + label {
  color: #fff;
  background-color: #7959c8;
}

.view-table th, .view-table td {
  height: 60px;
  box-sizing: border-box;
}
.view-table input[type=text] {
  width: 90%;
}
.view-table .btn-wrap {
  margin-bottom: 40px;
}
.view-table .btn-wrap a {
  display: inline-flex;
  align-items: center;
  height: 34px;
  box-sizing: border-box;
}
.view-table .btn-wrap a:first-child {
  background-color: #6a6a6a;
}
.view-table .btn-wrap .c-btn {
  background-color: #7959c8 !important;
}
.view-table .btn-wrap .g-btn {
  background-color: #6a6a6a;
}
.view-table .file-name {
  display: inline-block;
  margin-bottom: 10px;
  color: #7959c8;
  border-bottom: 1px solid #7959c8;
}
.view-table .img-box {
  display: inherit;
  min-width: 300px;
  width: auto;
  border: 1px solid #ddd;
}
.view-table .img-box .img-area {
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 100%;
}
.view-table .img-box .img-area img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.view-table .img-box .txt {
  display: block;
  width: 100%;
  padding: 5px;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}
.view-table .img-box + .filebox {
  margin-top: 10px;
}
.view-table .cnt {
  padding: 20px;
  line-height: 1.5;
}
.view-table .editor {
  height: auto;
}
.view-table .editor .scroll-inner {
  height: 400px;
  padding-right: 20px;
}
.view-table .file-txt {
  display: inline-block;
  margin-top: 10px;
}
.view-table .file-txt span {
  color: #7959c8;
  font-size: 14px;
  border-bottom: 1px solid #7959c8;
}
.view-table .file-txt button {
  position: relative;
  top: -5px;
  width: auto;
  height: auto;
  margin-left: 5px;
  padding: 5px;
  border: 1px solid #666;
  border-radius: 100%;
  background: url("../../images/admin/btn_close.png") no-repeat center;
  background-size: 6px;
  filter: invert(42%) sepia(1%) saturate(0%) hue-rotate(57deg) brightness(90%) contrast(86%);
}
.view-table .file-down {
  color: #7959c8;
  border-bottom: 1px solid #7959c8;
}
.view-table .file-down + .file-down {
  margin-left: 10px;
}
.view-table .download-area {
  padding: 40px 0;
  text-align: center;
  border: 1px solid #ddd;
}
.view-table .download-area .btn-wrap {
  margin: 0 0 10px 0;
}

.filebox input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.filebox input {
  padding: 5px;
  border: 1px solid #ededed;
  background-color: #fff;
}
.filebox label {
  position: relative;
  top: -1px;
  height: 36px;
}

.answer-table {
  margin-top: 40px;
  border: 1px solid #ddd;
  background-color: #f3f3f3;
}
.answer-table .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.answer-table button {
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  background-color: #7959c8;
}
.answer-table textarea {
  width: 100%;
  padding: 10px;
  resize: none;
  box-sizing: border-box;
  border: 0;
  border-top: 1px solid #ddd;
}

.preview-pop {
  width: 60%;
}

.search-wrap.type02 {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-bottom: 40px;
  background-color: #fff;
}
.search-wrap.type02 select + select {
  margin-left: 10px;
}
.search-wrap.type02 .search-box {
  position: relative;
  margin-left: 10px;
}
.search-wrap.type02 .search-box input {
  padding-right: 70px;
  box-sizing: border-box;
}
.search-wrap.type02 .search-box button {
  position: absolute;
  right: 10px;
  top: 50%;
  padding-left: 23px;
  background: url("../../images/admin/ico_search.png") no-repeat 0% 50%;
  transform: translateY(-50%);
}

.pop-wrap .btn-wrap .pop-close, .pop-wrap .btn-wrap .pop-close02 {
  position: inherit;
  width: auto;
  font-size: 16px;
  filter: none;
  background-image: none;
}

.info-pop .pop-inner {
  width: 600px;
}
.info-pop .pop-content {
  padding: 0 30px 30px;
}
.info-pop .pop-content .tit {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
.info-pop table {
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.info-pop th, .info-pop td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.info-pop th {
  background-color: #f3f3f3;
}
.info-pop input[type=text] {
  width: 60px;
}
.info-pop .reset {
  padding: 3px 10px;
  margin-left: 10px;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  background-color: #666;
}

.inner-pop {
  z-index: 30;
}

.dim02 {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 25;
}

.pop-close02 {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 20px;
  right: 20px;
  padding-top: 0;
  color: #d9caff;
  font-size: 13px;
  background: url("../../images/admin/btn_close.png") no-repeat 50% 0;
  filter: invert(71%) sepia(88%) saturate(0%) hue-rotate(12deg) brightness(104%) contrast(96%);
}

.view-pop {
  width: 900px;
  border: 1px solid #ccc;
}
.view-pop .scroll-inner {
  height: 700px;
  padding-right: 17px;
}
.view-pop table {
  width: 100%;
}
.view-pop table td {
  position: relative;
}
.view-pop table td textarea {
  width: 100%;
  height: 100px;
  resize: none;
}
.view-pop .btn-wrap {
  margin: 20px 0;
}
.view-pop .img-box {
  width: 300px;
}
.view-pop .filebox {
  position: absolute;
  right: 10px;
  top: 50%;
}

.upload-pop {
  width: 550px;
}
.upload-pop .pop-content {
  display: flex;
  flex-direction: column;
  padding: 0 30px 30px;
}
.upload-pop .scroll-inner {
  max-height: 700px;
  overflow-y: auto;
}
.upload-pop table {
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.upload-pop table th {
  text-align: center;
  background-color: #f3f3f3;
}
.upload-pop table th, .upload-pop table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.upload-pop table td input, .upload-pop table td select {
  width: 230px;
  border-radius: 6px;
}
.upload-pop table td select {
  background: url("../../images/admin/ico_select_arr.png") no-repeat 93% 55% #fff;
}
.upload-pop table .date-wrap input[type=text] {
  width: 167px !important;
  border-radius: 6px;
}
.upload-pop.type02 {
  width: 700px;
}
.upload-pop.type02 .tit {
  font-size: 20px;
  margin-bottom: 10px;
}
.upload-pop .txt-center th, .upload-pop .txt-center td {
  text-align: center;
}
.upload-pop.type03 .pop-header {
  padding-bottom: 20px;
}
.upload-pop.type03 table {
  margin-top: 0;
}
.upload-pop.type03 table th {
  font-weight: 500;
}
.upload-pop.type03 table input {
  width: 100%;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
}
.upload-pop.type03 .form-txt-chk {
  display: block;
  margin-top: 5px;
  color: #fc3812;
  font-size: 14px;
}
.upload-pop.type03 .form-txt-chk img {
  position: relative;
  top: -2px;
  margin-right: 5px;
}

.center-table .tit-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-table .tit-wrap .toggle-btn {
  margin: 0;
}
.center-table .tit-wrap .toggle-btn .checkbox:checked + .knobs::after {
  content: "운영";
}
.center-table .tit-wrap .toggle-btn .knobs::after {
  content: "비운영";
}
.center-table input[type=text] {
  width: 230px;
  height: 33px;
}
.center-table input[type=text].w76 {
  width: 76%;
}
.center-table input[type=number] {
  width: 72px;
  height: 33px;
  border: 1px solid #dddddd;
}
.center-table select {
  position: relative;
  top: 2px;
  height: 33px;
}
.center-table select.w162 {
  width: 162px;
}
.center-table span {
  margin: 0 5px;
}
.center-table .txt {
  color: #666666;
  font-size: 14px;
}
.center-table .email-box input, .center-table .email-box select {
  width: 122px;
}
.center-table .datepicker-wrap input {
  width: 167px !important;
}
.center-table table button {
  width: 80px;
  margin-left: 5px;
}
.center-table table button + span {
  color: #7959c8;
  font-size: 14px;
}

.academy-table .logo {
  position: relative;
}
.academy-table .logo img {
  position: absolute;
  right: 13px;
  max-width: 96px;
}
.academy-table .txt {
  color: #666;
  font-size: 14px;
}
.academy-table select {
  width: 162px;
  padding: 5px 24px 5px 5px;
  background: url("../../images/admin/ico_select_arr.png") no-repeat 95% 55% #fff;
}
.academy-table select.w72 {
  width: 72px;
}
.academy-table input[type=text] {
  width: 122px;
}
.academy-table.list-table {
  margin-top: 33px;
}
.academy-table.list-table table td {
  border-bottom: 1px solid #ddd;
}
.academy-table.list-table .table-tit {
  margin-bottom: 0;
}
.academy-table.list-table .btn-wrap {
  margin-top: 0;
}
.academy-table.list-table .hidden-cnt {
  position: relative;
  display: block;
  width: 613px;
  margin: auto;
  padding: 10px 15px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
}
.academy-table.list-table .hidden-cnt .txt {
  display: block;
  width: 97%;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url(ellipsis.xml#ellipsis);
}
.academy-table.list-table .hidden-cnt .cnt-btn {
  position: absolute;
  right: 15px;
  top: 50%;
  width: 11px;
  height: 7px;
  margin-top: -2px;
  background: url(../../images/common/select_arrow.png) no-repeat;
  background-size: contain;
}
.academy-table.list-table .hidden-cnt.on .txt {
  overflow: inherit;
  white-space: normal;
}
.academy-table.list-table .hidden-cnt.on .cnt-btn {
  transform: rotate(-180deg);
  background-size: contain;
}
.academy-table.list-table .paging-wrap + .btn-wrap {
  margin: 40px 0 35px;
}

.justify-cnt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.justify-cnt .left-cnt {
  width: 470px;
  flex: none;
}
.justify-cnt .left-cnt label {
  display: block;
  height: 20px;
}
.justify-cnt .left-cnt label:last-child {
  margin-top: 5px;
}
.justify-cnt .left-cnt .textarea-box {
  position: relative;
  margin: 10px 0 20px;
}
.justify-cnt .left-cnt textarea {
  overflow-y: scroll;
  width: 100%;
  height: 300px;
  padding: 20px 20px 30px;
  border: 1px solid #ddd;
  resize: none;
  outline: none;
  box-sizing: border-box;
}
.justify-cnt .left-cnt .textLengthWrap {
  position: absolute;
  bottom: 15px;
  right: 30px;
}
.justify-cnt .left-cnt .textLengthWrap p {
  display: inline-block;
}
.justify-cnt .left-cnt .textLengthWrap .textTotal {
  color: #666;
}
.justify-cnt .left-cnt .num-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
  margin: 10px 0;
}
.justify-cnt .left-cnt .num-wrap .input-wrap {
  width: min-content;
}
.justify-cnt .left-cnt .num-wrap input {
  width: 357px;
}
.justify-cnt .left-cnt .num-wrap input + input {
  margin-top: 5px;
}
.justify-cnt .left-cnt .num-wrap .btn-wrap {
  display: inline-flex;
  margin-top: 0;
}
.justify-cnt .left-cnt .num-wrap .btn-wrap button {
  height: auto;
}
.justify-cnt .left-cnt .phone-wrap {
  padding-top: 10px;
  border-top: 1px solid #909090;
}
.justify-cnt .right-cnt .search-wrap {
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;
}
.justify-cnt .right-cnt .search-wrap button {
  display: inline-flex;
  align-items: center;
  padding: 5px 20px;
  margin-left: 5px;
  height: 34px;
  color: #fff;
  border-radius: 5px;
  background-color: #7959c8;
}

.sms-pop .w680 {
  width: 680px;
}
.sms-pop .text-box {
  padding: 20px 0;
  text-align: center;
  line-height: 1.8;
  border-top: 1px solid #000;
}
.sms-pop .text-box em {
  font-weight: 600;
}
.sms-pop .info-box {
  padding: 10px 15px;
  font-weight: 500;
  text-align: center;
  background-color: #f6f6f6;
  box-sizing: border-box;
}
.sms-pop .info-box em {
  color: #5a14be;
  font-weight: 500;
}
.sms-pop .coupon-box {
  padding: 20px 0;
  text-align: center;
  border: 1px solid #dddddd;
  border-radius: 6px;
}
.sms-pop table {
  margin: 20px 0;
}
.sms-pop table th, .sms-pop table td {
  height: 60px;
}
.sms-pop table tr:last-child th, .sms-pop table tr:last-child td {
  border-bottom: 1px solid #333;
}
.sms-pop table + .txt {
  display: block;
  margin-bottom: 10px;
  text-align: center;
}

.form-pop .pop-header {
  padding: 30px 0 17px;
}
.form-pop .pop-inner {
  width: 560px;
}
.form-pop table {
  margin-top: 0;
}
.form-pop input {
  height: 40px;
  border: 1px solid #dddddd;
}
.form-pop input.w160 {
  width: 160px;
}
.form-pop .btn {
  width: 110px;
  height: 40px;
  margin-left: 6px;
  color: #5a14be;
  border: 1px solid #5a14be;
  border-radius: 5px;
}
.form-pop select {
  width: 73px !important;
  padding-right: 20px;
}
.form-pop .tel-form input {
  width: 65px;
}
.form-pop .tel-form span {
  margin: 0 3px;
}