@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url(../css/font.css);
.common-cnt {
  margin-top: 70px;
}
.common-cnt .container .wing-menu {
  position: fixed;
  top: 190px;
  right: 160px;
  z-index: 7;
}
.common-cnt .container .wing-menu::before {
  content: "";
  display: block;
  width: 112px;
  height: 69px;
  background: url(../../images/common/ico_quick.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -50px;
  left: 30px;
}
.common-cnt .container .wing-menu a {
  display: block;
  width: 169px;
  background: #ff3f68;
  border-radius: 36px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  padding: 19px 0 13px;
}
.common-cnt .container .wing-menu.wing04::before {
  top: -43px;
  left: 56px;
  width: 57px;
  height: 57px;
  background: url(../../images/common/ico_quick04.png) no-repeat;
  background-size: contain;
}
.common-cnt .container .wing-menu.wing04 a {
  background-color: #6a2ac4;
}
.common-cnt .inner {
  width: 1240px;
  margin: auto;
}
.common-cnt .scroll-inner {
  overflow: auto;
}
.common-cnt .scroll-inner::-webkit-scrollbar {
  width: 28px;
}
.common-cnt .scroll-inner::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border: 10px solid #fff;
  border-radius: 35px;
}
.common-cnt .scroll-inner::-webkit-scrollbar-track {
  background-color: transparent;
}
.common-cnt [class^=btn-], .common-cnt [class^="a.btn-"] {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.common-cnt [class^=btn-] + [class^=btn-], .common-cnt [class^=btn-] [class^="a.btn-"], .common-cnt [class^="a.btn-"] + [class^=btn-], .common-cnt [class^="a.btn-"] [class^="a.btn-"] {
  margin-left: 10px;
}
.common-cnt [class^=btn-default-], .common-cnt [class^="a.btn-default-"] {
  width: 230px;
  height: 60px;
}
.common-cnt [class^=btn-default-].w100, .common-cnt [class^="a.btn-default-"].w100 {
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
}
.common-cnt [class^=btn-default-]:hover, .common-cnt [class^="a.btn-default-"]:hover {
  color: #fff;
  background-color: #5a14be;
}
.common-cnt [class^=btn-icon-], .common-cnt [class^="a.btn-icon-"] {
  color: #fff;
  background-color: #282828;
}
.common-cnt [class^=btn-icon-] img, .common-cnt [class^="a.btn-icon-"] img {
  position: relative;
  top: 1px;
  margin-right: 10px;
}
.common-cnt [class^=btn-icon-]:hover, .common-cnt [class^="a.btn-icon-"]:hover {
  color: #fff;
  background-color: #5a14be;
}
.common-cnt [class^=btn-line-], .common-cnt [class^="a.btn-line-"] {
  border-radius: 5px;
}
.common-cnt .btn-default-type01, .common-cnt a.btn-default-type01 {
  color: #fff !important;
  font-size: 18px;
  font-weight: 700;
  background-color: #282828;
}
.common-cnt .btn-default-type02, .common-cnt a.btn-default-type02 {
  font-size: 18px;
  background-color: #e6e6e6;
}
.common-cnt .btn-default-type02:hover, .common-cnt a.btn-default-type02:hover {
  color: #333333;
  background-color: #e6e6e6;
}
.common-cnt .btn-icon-arrow, .common-cnt a.btn-icon-arrow {
  justify-content: flex-start;
  position: relative;
  width: 244px;
  padding: 13px 20px 15px;
  font-size: 20px;
  color: #fff;
}
.common-cnt .btn-icon-arrow img, .common-cnt a.btn-icon-arrow img {
  width: 14px;
  height: 15px;
}
.common-cnt .btn-icon-arrow::after, .common-cnt a.btn-icon-arrow::after {
  position: absolute;
  right: 20px;
  top: 50%;
  content: "";
  display: block;
  clear: both;
  width: 7px;
  height: 11px;
  margin-top: -6px;
  background: url(../../images/common/ico_arrow_w_type02.png) no-repeat;
  background-size: contain;
  transform: rotate(-180deg);
}
.common-cnt .btn-icon-pen, .common-cnt a.btn-icon-pen {
  width: 464px;
  height: 80px;
  font-size: 24px;
  font-weight: 700;
}
.common-cnt .btn-icon-guide, .common-cnt a.btn-icon-guide {
  width: 400px;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
}
.common-cnt .btn-line-type01, .common-cnt a.btn-line-type01 {
  width: 120px;
  height: 40px;
  color: #5a14be;
  border: 1px solid #5a14be;
}
.common-cnt .btn-line-type01.w150, .common-cnt a.btn-line-type01.w150 {
  width: 150px;
}
.common-cnt .btn-line-type01.w230, .common-cnt a.btn-line-type01.w230 {
  width: 230px;
  height: 52px;
  font-size: 18px;
  font-weight: 500;
}
.common-cnt .btn-line-type01.w230:hover, .common-cnt a.btn-line-type01.w230:hover {
  color: #5a14be;
  background: transparent;
}
.common-cnt .btn-line-type01 .num, .common-cnt a.btn-line-type01 .num {
  margin-left: 5px;
  color: #666666;
  font-weight: 500;
}
.common-cnt .btn-line-type01 .num span, .common-cnt a.btn-line-type01 .num span {
  color: #5a14be;
}
.common-cnt .btn-line-type01:hover, .common-cnt a.btn-line-type01:hover {
  color: #fff;
  background-color: #5a14be;
}
.common-cnt .btn-line-type02, .common-cnt a.btn-line-type02 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 34px;
  color: #666666;
  font-size: 14px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
}
.common-cnt [class^=tab-menu-] {
  display: inline-flex;
  align-items: center;
}
.common-cnt [class^=tab-menu-] li a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  box-sizing: border-box;
}
.common-cnt .tab-menu-type01 li a {
  width: 100%;
  height: 50px;
  border-radius: 5px 5px 0 0;
  border: 1px solid #dcdcdc;
  border-bottom: 2px solid #5a14be;
  background-color: #f2f2f2;
}
.common-cnt .tab-menu-type01 li.active a {
  padding-bottom: 2px;
  color: #5a14be;
  font-weight: 700;
  border: 2px solid #5a14be;
  border-bottom: 0;
  background-color: #fff;
}
.common-cnt .tab-menu-type02 {
  overflow: hidden;
  height: 45px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
}
.common-cnt .tab-menu-type02 li a {
  width: 125px;
}
.common-cnt .tab-menu-type02 li + li {
  border-left: 1px solid #dcdcdc;
}
.common-cnt .tab-menu-type02 li.active a {
  color: #fff;
  font-weight: 700;
  background-color: #5a14be;
}
.common-cnt .tab-wrap .contents {
  display: none;
}
.common-cnt .tab-wrap .contents.on {
  display: block;
}
.common-cnt .tab-wrap .tab-wrap {
  margin-bottom: 30px;
  text-align: center;
}
.common-cnt .common-paging-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.common-cnt .common-paging-wrap a {
  display: block;
  padding: 0 12px;
  font-size: 18px;
}
.common-cnt .common-paging-wrap a.active {
  font-weight: 700;
}
.common-cnt .common-paging-wrap a.active span {
  border-bottom: 2px solid #333333;
}
.common-cnt .common-paging-wrap a.prev, .common-cnt .common-paging-wrap a.next {
  width: 9px;
  height: 17px;
  padding: 0;
}
.common-cnt .common-paging-wrap a.prev {
  margin-right: 18px;
  background: url(../../images/common/ico_arrow_b.png) no-repeat;
  background-size: contain;
  transform: rotate(-180deg);
}
.common-cnt .common-paging-wrap a.next {
  margin-left: 18px;
  background: url(../../images/common/ico_arrow_b.png) no-repeat;
  background-size: contain;
}
.common-cnt .common-search-box {
  position: relative;
  width: 267px;
  margin-left: 20px;
}
.common-cnt .common-search-box .btn-search {
  position: absolute;
  top: 50%;
  right: 24px;
  width: 18px;
  height: 20px;
  margin-top: -10px;
  background: url(../../images/common/ico_search.png) no-repeat;
  background-size: contain;
}
.common-cnt .common-search-box input {
  background: #fff;
}
.common-cnt input[type=text], .common-cnt input[type=number], .common-cnt input[type=password] {
  width: 166px;
  height: 40px;
  padding: 13px 15px;
  border-radius: 5px;
  border: 1px solid #cfcfcf;
  box-sizing: border-box;
}
.common-cnt input[type=text].w88, .common-cnt input[type=number].w88, .common-cnt input[type=password].w88 {
  width: 88px;
}
.common-cnt input[type=text].w182, .common-cnt input[type=number].w182, .common-cnt input[type=password].w182 {
  width: 182px;
}
.common-cnt input[type=text].w264, .common-cnt input[type=number].w264, .common-cnt input[type=password].w264 {
  width: 264px;
}
.common-cnt input[type=text].w392, .common-cnt input[type=number].w392, .common-cnt input[type=password].w392 {
  width: 392px;
}
.common-cnt input[type=text].full, .common-cnt input[type=number].full, .common-cnt input[type=password].full {
  width: 100%;
}
.common-cnt input[type=text]::placeholder, .common-cnt input[type=number]::placeholder, .common-cnt input[type=password]::placeholder {
  color: #999;
}
.common-cnt input[type=text].search, .common-cnt input[type=number].search, .common-cnt input[type=password].search {
  width: 100%;
  padding: 13px 50px 13px 24px;
  border: 0;
  border-radius: 20px;
  background-color: #f2f2f2;
}
.common-cnt input[type=radio], .common-cnt input[type=checkbox] {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
.common-cnt input[type=radio] + label, .common-cnt input[type=checkbox] + label {
  position: relative;
}
.common-cnt input[type=radio] + label::before, .common-cnt input[type=checkbox] + label::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 50%;
  left: 0;
}
.common-cnt .input-radio-type01 input[type=radio] + label {
  padding-left: 30px;
  margin-right: 23px;
}
.common-cnt .input-radio-type01 input[type=radio] + label::before {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  background: url(../../images/common/input_radio.png) no-repeat;
  background-size: contain;
}
.common-cnt .input-radio-type01 input[type=radio] + label:last-child {
  margin-right: 0;
}
.common-cnt .input-radio-type01 input[type=radio]:checked + label::before {
  background: url(../../images/common/input_radio_chk.png) no-repeat;
  background-size: contain;
}
.common-cnt .common-input-radio-type02 input[type=radio] + label {
  padding-left: 24px;
  color: #666666;
  font-weight: 700;
}
.common-cnt .common-input-radio-type02 input[type=radio]:checked + label {
  color: #5a14be;
}
.common-cnt .common-input-radio-type02 input[type=radio]:checked + label::before {
  left: 5px;
  width: 16px;
  height: 11px;
  margin-top: -6px;
  background: url(../../images/common/input_radio_chk02.png) no-repeat;
  background-size: contain;
}
.common-cnt input[type=checkbox] + label {
  padding-left: 27px;
}
.common-cnt input[type=checkbox] + label::before {
  width: 18px;
  height: 18px;
  margin-top: -8px;
  background: url(../../images/common/input_checkbox.png) no-repeat;
  background-size: contain;
}
.common-cnt input[type=checkbox]:checked + label::before {
  background: url(../../images/common/input_checkbox_chk.png) no-repeat;
  background-size: contain;
}
.common-cnt .select-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 180px;
  height: 40px;
  padding: 13px 15px;
  margin-bottom: 0;
  color: #666666;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}
.common-cnt .select-btn::after {
  position: absolute;
  right: 15px;
  top: 50%;
  content: "";
  display: block;
  clear: both;
  width: 13px;
  height: 7px;
  margin-top: -4px;
  background: url(../../images/common/select_arrow.png) no-repeat;
  background-size: contain;
}
.common-cnt .select-btn.active::after {
  transform: rotate(-180deg);
}
.common-cnt .select-btn.w88 {
  width: 88px;
}
.common-cnt .select-btn.w138 {
  width: 138px;
}
.common-cnt .select-btn.w264 {
  width: 264px;
}
.common-cnt [class^=form-txt-] {
  margin-left: 2px;
  font-size: 14px;
}
.common-cnt [class^=form-txt-] img {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.common-cnt .form-txt-error {
  color: #fc3812;
}
.common-cnt .form-txt-error.type-color02 {
  color: #666666;
}
.common-cnt .form-txt-error.type-color03 {
  color: #5a14be;
}
.common-cnt .table-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.common-cnt .table-top .total {
  font-size: 18px;
  font-weight: 700;
}
.common-cnt .table-top .total em {
  font-size: 18px;
  font-weight: 700;
}
.common-cnt .table-top .search-form {
  display: flex;
  align-items: center;
}
.common-cnt .table-tit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.common-cnt .table-tit .tit {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  padding-left: 22px;
}
.common-cnt .table-tit .tit::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  clear: both;
  width: 7px;
  height: 11px;
  margin-top: -5px;
  background: url(../../images/common/ico_arrow_c.png) no-repeat;
  background-size: contain;
}
.common-cnt .table-tit .txt {
  position: relative;
  padding-left: 12px;
}
.common-cnt .table-tit .txt::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  clear: both;
  width: 5px;
  height: 5px;
  margin-top: -2px;
  border-radius: 100%;
  background-color: #5a14be;
}
.common-cnt .table-list table {
  width: 100%;
  border-top: 2px solid #282828;
  border-bottom: 1px solid #e6e6e6;
}
.common-cnt .table-list table th, .common-cnt .table-list table td {
  height: 60px;
  text-align: center;
}
.common-cnt .table-list table th {
  font-size: 18px;
  font-weight: 700;
}
.common-cnt .table-list table td {
  color: #666666;
  font-weight: 500;
  border-top: 1px solid #e6e6e6;
}
.common-cnt .table-list table td.tit {
  padding: 0 20px;
  color: #333333;
  font-size: 18px;
  text-align: left;
}
.common-cnt .table-list table .notice th, .common-cnt .table-list table .notice td {
  color: #5a14be;
  font-weight: 700;
}
.common-cnt .table-list table .notice a {
  color: #5a14be;
  font-weight: 700;
}
.common-cnt .table-list table.type02 {
  table-layout: fixed;
}
.common-cnt .table-list table.type02 td.tit {
  display: flex;
  align-items: center;
}
.common-cnt .table-list table.type02 td.tit a {
  display: block;
  max-width: calc(100% - 70px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url(ellipsis.xml#ellipsis);
}
.common-cnt .table-list table.type02 td .answer {
  margin-left: 18px;
  padding-left: 23px;
  color: #5a14be;
  background: url(../../images/common/ico_answer02.png) no-repeat left center;
}
.common-cnt .table-view table {
  width: 100%;
}
.common-cnt .table-view table th {
  height: 58px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
.common-cnt .table-view table td {
  text-align: center;
}
.common-cnt .table-view table .top-text-area {
  margin-bottom: 20px;
  text-align: right;
}
.common-cnt .table-view table .top-text-area span {
  display: inline-block;
  margin: 0;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
}
.common-cnt .table-view table .top-text-area span:last-child {
  position: relative;
}
.common-cnt .table-view table .top-text-area span:last-child::before {
  content: "";
  display: block;
  clear: both;
  width: 1px;
  height: 18px;
  position: absolute;
  top: 2px;
  left: 7px;
  background-color: #666;
}
.common-cnt .table-view table .tit {
  display: block;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.3;
}
.common-cnt .table-view table .tit.notice {
  color: #5a14be;
}
.common-cnt .table-view table .date {
  display: block;
  margin-bottom: 40px;
  font-size: 20px;
}
.common-cnt .table-view table .cnt {
  padding: 60px 0;
  margin-bottom: 60px;
  border-radius: 10px;
  background-color: #f4f4f4;
}
.common-cnt .table-view table .cnt p {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 2;
}
.common-cnt .table-view table .file-cnt:last-child th, .common-cnt .table-view table .file-cnt:last-child td {
  border-bottom: 1px solid #c5c5c5;
}
.common-cnt .table-view table .file-cnt th, .common-cnt .table-view table .file-cnt td {
  border-top: 1px solid #c5c5c5;
}
.common-cnt .table-view table .file-cnt td {
  padding-left: 20px;
  text-align: left;
}
.common-cnt .table-view table .file-cnt td img {
  margin-right: 6px;
}
.common-cnt .table-view table .file-cnt td a {
  margin-left: 20px;
}
.common-cnt .table-form {
  margin-bottom: 20px;
}
.common-cnt .table-form table {
  width: 100%;
  border-top: 2px solid #333333;
}
.common-cnt .table-form table th, .common-cnt .table-form table td {
  height: 60px;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.common-cnt .table-form table th {
  padding-top: 20px;
  font-weight: 500;
  vertical-align: top;
  background-color: #f7f7f7;
}
.common-cnt .table-form table th em {
  position: relative;
  top: -11px;
  left: 4px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #5a14be;
}
.common-cnt .table-form .input-row > input[type=text] {
  margin-top: 10px;
}
.common-cnt .table-form .input-box {
  display: flex;
  align-items: center;
}
.common-cnt .table-form .input-box .btn-line-type01 {
  margin-left: 10px;
}
.common-cnt .table-form .select-row {
  position: relative;
  height: 60px;
}
.common-cnt .table-form .select-wrap {
  position: relative;
}
.common-cnt .table-form .select-wrap .select-list {
  position: absolute;
  top: 36px;
  width: 100%;
  max-height: 210px;
}
.common-cnt .table-form .select-wrap + input {
  margin-left: 10px;
}
.common-cnt .table-form .input-radio-type01 {
  display: inline-block;
}
.common-cnt .table-form span {
  padding: 0 11px;
}
.common-cnt .table-form .caption {
  margin-top: 14px;
  text-align: right;
}
.common-cnt .table-form.type02 th {
  font-size: 18px;
  font-weight: 500;
}
.common-cnt .table-form.type02 td {
  padding: 30px 20px;
  font-weight: 500;
}
.common-cnt .table-form.type02 td .chk-box {
  position: relative;
}
.common-cnt .table-form.type02 td .chk-box + .chk-box {
  margin-top: 20px;
}
.common-cnt .table-form.type02 td em {
  color: #5a14be;
}
.common-cnt .table-form.type02 td button {
  position: absolute;
  right: 0;
  top: -4px;
  padding-right: 15px;
}
.common-cnt .table-form.type02 td button::before {
  position: absolute;
  top: 50%;
  right: 0;
  content: "";
  display: block;
  clear: both;
  width: 7px;
  height: 11px;
  margin-top: -5px;
  background: url(../../images/common/ico_arrow_c.png) no-repeat;
  background-size: contain;
}
.common-cnt [class^=list-thum-] li {
  width: 610px;
}
.common-cnt .list-thum-type01 li .img-box {
  overflow: hidden;
  border-radius: 10px;
}
.common-cnt .list-thum-type01 li .tit {
  margin-top: 20px;
}
.common-cnt .list-thum-type01 li .tit span {
  display: inline-flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.common-cnt .list-thum-type01 li .tit span img {
  margin-right: 10px;
}
.common-cnt .list-thum-type02 li {
  overflow: hidden;
  border-radius: 10px;
}
.common-cnt .list-thum-type02 li .txt-box {
  padding: 35px 40px 40px;
  background-color: #f2f2f2;
}
.common-cnt .list-thum-type02 li .tit {
  color: #5a14be;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}
.common-cnt .list-thum-type02 li .txt {
  margin-top: 10px;
  font-size: 18px;
}
.common-cnt .list-thum-type02 li .txt .name {
  position: relative;
  padding-right: 12px;
  margin-right: 6px;
  font-weight: 500;
}
.common-cnt .list-thum-type02 li .txt .name::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  right: 0;
  top: 7px;
  width: 1px;
  height: 16px;
  background-color: #929292;
}
.common-cnt .list-thum-type02 li .date {
  display: block;
  margin-top: 28px;
  font-size: 14px;
}
.common-cnt .header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 8;
  min-width: 1200px;
}
.common-cnt .header.active {
  height: 270px;
}
.common-cnt .header.active .header-content {
  border-bottom: 1px solid #e6e6e6;
}
.common-cnt .header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.common-cnt .header .logo {
  width: 152px;
  height: 32px;
}
.common-cnt .header .logo a {
  display: block;
}
.common-cnt .header .logo + div {
  display: flex;
}
.common-cnt .header .nav-wrap {
  display: flex;
  align-items: center;
}
.common-cnt .header .nav > li {
  position: relative;
  display: inline-block;
  padding: 0 19px;
}
.common-cnt .header .nav > li > a {
  display: block;
  height: 30px;
  padding: 30px 0;
  font-weight: 700;
  font-size: 22px;
}
.common-cnt .header .nav > li > a.active {
  padding: 30px 0 29px;
  border-bottom: 1px solid #5a14be;
}
.common-cnt .header .nav > li a.active {
  color: #5a14be;
}
.common-cnt .header .nav > li .depth2 {
  display: none;
  position: absolute;
  left: 0;
  top: 111px;
  width: 100%;
}
.common-cnt .header .nav > li .depth2 li {
  text-align: center;
}
.common-cnt .header .nav > li .depth2 li + li {
  margin-top: 28px;
}
.common-cnt .header .nav > li .depth2 li a {
  font-size: 18px;
}
.common-cnt .header .nav > li .depth2.on {
  display: block;
}
.common-cnt .header .nav .drmath a {
  color: #5a14be;
}
.common-cnt .header .nav .drmath img {
  position: relative;
  top: -2px;
}
.common-cnt .header .btn-wrap a {
  display: inline-block;
  font-weight: 700;
  border-radius: 25px;
}
.common-cnt .header .btn-wrap a:nth-child(1) {
  background-color: #ff3f68;
  padding: 15px 28px 14px 27px;
  color: #fff;
}
.common-cnt .header .btn-wrap a:nth-child(1) img {
  position: relative;
  top: -2px;
  margin-right: 10px;
}
.common-cnt .header .btn-wrap a:nth-child(2) {
  padding: 14px;
  background-color: #fff047;
}
.common-cnt .header .btn-wrap a:nth-child(2) img {
  margin-right: 0;
}
.common-cnt .header .btn-wrap a:nth-child(3) {
  padding: 15px 21px 15px 25px;
  color: #fff;
  padding-left: 45px;
  background: #ec761f url(../../images/common/ico_pen.png) no-repeat;
  background-position: 25px center;
  background-size: 14px 15px;
}
.common-cnt .header .btn-wrap a:nth-child(4) {
  padding: 15px 20px;
  color: #fff;
  background: #5a93ff;
}
.common-cnt .header .btn-wrap a + a {
  margin-left: 10px;
}
.common-cnt .header .btn-wrap a img {
  margin-right: 10px;
}
.common-cnt .footer {
  border-top: 1px solid #e6e6e6;
  background-color: #fff;
}
.common-cnt .footer .inner {
  width: 1500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 42px 0;
}
.common-cnt .footer .left-cnt {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.common-cnt .footer .left-cnt .ft-logo {
  margin-right: 40px;
}
.common-cnt .footer .left-cnt .link-wrap a {
  display: inline-block;
  font-weight: 700;
}
.common-cnt .footer .left-cnt .link-wrap a + a {
  margin-left: 20px;
}
.common-cnt .footer .left-cnt .txt {
  margin-top: 20px;
  font-size: 14px;
}
.common-cnt .footer .left-cnt .txt span {
  display: block;
  color: #9a9a9a;
  line-height: 1.8;
}
.common-cnt .footer .left-cnt .txt span:last-child {
  margin-top: 10px;
  color: #a1a1a1;
  font-weight: 500;
}
.common-cnt .footer .left-cnt .txt span span {
  display: inline-block !important;
}
.common-cnt .footer .service-cnt {
  padding-left: 20px;
  font-weight: 500;
  border-left: 1px solid #666666;
  flex: none;
}
.common-cnt .footer .service-cnt .tit {
  font-size: 20px;
}
.common-cnt .footer .service-cnt .tel {
  display: block;
  margin-top: 5px;
  font-size: 32px;
  font-family: "Montserrat", sans-serif;
}
.common-cnt .footer .service-cnt .txt {
  display: block;
  margin-top: 5px;
  color: #666666;
}
.common-cnt .footer .service-cnt .txt em {
  font-family: "Montserrat", sans-serif;
}
.common-cnt .sub-top {
  height: 159px;
  margin-top: 85px;
  padding-top: 30px;
  text-align: center;
  background: url(../../images/sub/sub_title_bg.jpg) no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
.common-cnt .sub-top .txt {
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
}
.common-cnt .sub-top.txt-1 {
  padding-top: 45px;
}
.common-cnt .title-wrap {
  position: relative;
  top: -30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  margin: auto;
  padding: 16px 30px 17px;
  color: #fff;
  background-color: #3dc8a2;
  box-sizing: border-box;
}
.common-cnt .title-wrap .tit {
  font-size: 24px;
  font-weight: 700;
}
.common-cnt .title-wrap .loacation {
  display: flex;
  align-items: center;
}
.common-cnt .title-wrap .loacation a {
  position: relative;
  display: block;
  color: #fff;
}
.common-cnt .title-wrap .loacation a + a {
  padding-left: 14px;
  margin-left: 10px;
}
.common-cnt .title-wrap .loacation a + a::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  display: block;
  clear: both;
  width: 4px;
  height: 7px;
  background: url(../../images/common/ico_arrow_w.png) no-repeat;
  background-size: contain;
  transform: translateY(-50%);
}
.common-cnt .title-wrap .loacation a:nth-child(1) {
  width: 17px;
  height: 15px;
}
.common-cnt .title-wrap .loacation a:nth-child(1) img {
  display: block;
}
.common-cnt .que-wrap {
  font-family: "Pretendard", sans-serif;
}
.common-cnt .que-wrap .inner {
  width: 1280px;
  margin: auto;
}
.common-cnt .que-wrap .scroll-inner {
  overflow: overlay;
}
.common-cnt .que-wrap .scroll-inner::-webkit-scrollbar {
  width: 8px;
}
.common-cnt .que-wrap .scroll-inner::-webkit-scrollbar-thumb {
  background-color: #cfcfcf;
  border-radius: 35px;
}
.common-cnt .que-wrap .scroll-inner::-webkit-scrollbar-track {
  background-color: transparent;
}
.common-cnt .que-header .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}
.common-cnt .que-header .logo a {
  display: block;
  width: 105px;
  height: 27px;
}
.common-cnt .que-header .logo a img {
  width: 100%;
}
.common-cnt .que-header .nav {
  display: flex;
  align-items: center;
}
.common-cnt .que-header .nav li > a {
  position: relative;
  font-size: 18px;
  font-weight: 700;
}
.common-cnt .que-header .nav li > a.active {
  color: #5a14be;
}
.common-cnt .que-header .nav li > a.active::after {
  position: absolute;
  top: 1px;
  right: -9px;
  content: "";
  display: block;
  clear: both;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #ffba00;
}
.common-cnt .que-header .nav li + li {
  margin-left: 40px;
}
.common-cnt .que-header .nav li:nth-child(2) .depth2 {
  padding-left: 30%;
}
.common-cnt .que-header .nav li:nth-child(3) .depth2 {
  padding-left: 37%;
}
.common-cnt .que-header .nav li:nth-child(4) .depth2 {
  padding-left: 43%;
}
.common-cnt .que-header .depth2 {
  display: flex;
  align-items: center;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding-left: 21%;
  border-bottom: 1px solid #d3c9ee;
  background-color: #f5f1ff;
  box-sizing: border-box;
}
.common-cnt .que-header .depth2 li a {
  display: block;
  padding: 11px 0;
  font-size: 16px;
  font-weight: 400;
}
.common-cnt .que-header .depth2 li a:hover {
  padding-bottom: 9px;
  color: #5a14be;
  font-weight: 700;
  border-bottom: 2px solid #5a14be;
}
.common-cnt .que-header .depth2.on {
  display: flex;
}
.common-cnt .que-header .btn-wrap a {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.common-cnt .que-header .btn-wrap a:last-child {
  padding-right: 0;
}
.common-cnt .que-header .btn-wrap a + a::before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  display: block;
  clear: both;
  width: 1px;
  height: 11px;
  margin-top: -5px;
  background-color: #dedede;
}
.common-cnt .que-header .btn-wrap a span {
  display: block;
  font-size: 12px;
}
.common-cnt .que-header .btn-wrap a:nth-child(1) span {
  padding-left: 24px;
  background: url(../../images/common/ico_guide_type02.png) no-repeat left center;
  background-size: 17px 14px;
}
.common-cnt .que-header .btn-wrap a:nth-child(2) span {
  padding-left: 19px;
  background: url(../../images/common/ico_service.png) no-repeat left center;
  background-size: 13px 10px;
}
.common-cnt .que-header .btn-wrap a:nth-child(3) span {
  padding-left: 18px;
  background: url(../../images/common/ico_mypage.png) no-repeat left center;
  background-size: 13px 13px;
}
.common-cnt .que-header .btn-wrap a:nth-child(4) span {
  padding-left: 18px;
  background: url(../../images/common/ico_logout.png) no-repeat left center;
  background-size: 12px 13px;
}
.common-cnt .que-header .btn-wrap a:hover span {
  filter: invert(0) sepia(27%) saturate(5921%) hue-rotate(252deg) brightness(91%) contrast(96%);
}
.common-cnt .privacy-txt-wrap .scroll-inner {
  padding: 20px;
}
.common-cnt .privacy-txt-wrap p {
  margin-bottom: 10px;
}
.common-cnt .privacy-txt-wrap .title {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 600;
}
.common-cnt .privacy-txt-wrap .title:nth-child(1) {
  margin-top: 0;
}
.common-cnt .privacy-txt-wrap .tit {
  margin-top: 20px;
  font-weight: 500;
}
.common-cnt .privacy-txt-wrap .tit:nth-child(1) {
  margin-top: 0;
}
.common-cnt .privacy-txt-wrap .txt {
  line-height: 1.5;
}
.common-cnt .privacy-txt-wrap table {
  width: 100%;
  border: 1px solid #ddd;
}
.common-cnt .privacy-txt-wrap table th, .common-cnt .privacy-txt-wrap table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.common-cnt .privacy-txt-wrap table th {
  text-align: center;
  font-weight: 500;
}
.common-cnt .dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}
.common-cnt .mobile-menu-dim {
  display: none;
}
.common-cnt .tab-menu-type01 li {
  flex: 1;
}
.common-cnt .sub-tit {
  margin: 40px 0 20px;
  font-size: 22px;
  font-weight: 700;
}
.common-cnt .faq-list {
  width: 100%;
  text-align: left;
  border-top: 2px solid #282828;
  margin-bottom: 30px;
}
.common-cnt .faq-list ul li {
  border-bottom: 1px solid #e6e6e6;
}
.common-cnt .faq-list ul li .acc-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  text-align: left;
  height: 80px;
  padding: 0 30px;
  cursor: pointer;
}
.common-cnt .faq-list ul li .acc-btn::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  right: 40px;
  top: 50%;
  width: 10px;
  height: 17px;
  margin-top: -8px;
  background: url(../../images/common/ico_arrow_book_paging.png) no-repeat;
  transform: rotate(-90deg);
}
.common-cnt .faq-list ul li .acc-btn em {
  display: inline-block;
  margin-right: 10px;
  color: #5a14be;
}
.common-cnt .faq-list ul li .acc-btn.active::after {
  transform: rotate(90deg);
}
.common-cnt .faq-list ul li .cnt {
  display: none;
  padding: 25px 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 0 30px 35px;
}
.common-cnt .faq-list ul li .cnt span {
  line-height: 26px;
}
.common-cnt .btn-wrap.align-r {
  margin-bottom: 15px;
  justify-content: flex-end;
}
.common-cnt .btn-wrap.align-r button {
  width: 110px;
}
.common-cnt .text-box {
  position: relative;
  margin-top: 20px;
}
.common-cnt .text-box textarea {
  width: 100%;
  height: 490px;
  padding: 20px;
  resize: none;
  border: 1px solid #959595;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}
.common-cnt .answer-box {
  margin-top: 20px;
  padding: 20px 0 20px 20px;
  border: 1px solid #959595;
  border-radius: 8px;
}
.common-cnt .answer-box .tit {
  color: #5a14be;
}
.common-cnt .answer-box .txt {
  display: block;
  margin-top: 10px;
  color: #666666;
}
.common-cnt .answer-box .scroll-inner {
  height: 120px;
}
.common-cnt .answer-box + .btn-wrap {
  margin: 30px 0;
}
.common-cnt .table-wrap.type02 table {
  border-top: 2px solid #000;
  border-bottom: 1px solid #dddddd;
}
.common-cnt .table-wrap.type02 td {
  padding: 0 20px;
}
.common-cnt .table-wrap.type02 td input {
  width: 100%;
}
.common-cnt .table-wrap.type02 td.file-box {
  padding: 20px;
}
.common-cnt .table-wrap.type02 td.file-box .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.common-cnt .table-wrap.type02 td.file-box .row + .row {
  margin-top: 20px;
}
.common-cnt .table-wrap.type02 td.file-box .file a {
  margin-right: 10px;
  padding-bottom: 2px;
  color: #3c99da;
  border-bottom: 1px solid #3c99da;
}
.common-cnt .table-wrap + .btn-wrap {
  margin: 30px 0;
}

.pop-wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.pop-wrap .pop-close {
  width: 25px;
  height: 25px;
  background: url(../../images/common/ico_close.png) no-repeat;
}
.pop-wrap.search-type {
  width: 600px;
  min-height: 660px;
  background-color: #fff;
}
.pop-wrap.search-type .pop-header {
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #5a14be;
}
.pop-wrap.search-type .pop-header .tit {
  font-size: 24px;
  font-weight: 700;
}
.pop-wrap.search-type .pop-header .pop-close {
  background: url(../../images/common/ico_close_w.png) no-repeat;
  background-size: contain;
}
.pop-wrap.search-type .pop-content {
  padding: 30px;
}
.pop-wrap.search-type .pop-content .search-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dcdcdc;
  background-color: #f2f2f2;
}
.pop-wrap.search-type .pop-content .search-wrap input {
  width: calc(100% - 110px);
}
.pop-wrap.search-type .pop-content .table-top {
  position: relative;
  margin-top: 10px;
}
.pop-wrap.search-type .pop-content .table-top .txt em {
  color: #5a14be;
  font-weight: 500;
}
.pop-wrap.search-type .pop-content .table-top .select-wrap {
  position: relative;
}
.pop-wrap.search-type .pop-content .table-top .select-wrap .select-btn {
  width: 148px;
  height: 36px;
  font-size: 14px;
}
.pop-wrap.search-type .pop-content .table-top .select-wrap .select-list {
  position: absolute;
  width: 100%;
  top: 34px;
  max-height: 140px;
  font-size: 14px;
}
.pop-wrap.search-type .pop-content table {
  margin-top: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.pop-wrap.search-type .pop-content table td div {
  text-align: left;
}
.pop-wrap.search-type .pop-content table td div span {
  font-size: 14px;
}
.pop-wrap.search-type .pop-content table td div span:nth-child(1) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 26px;
  margin-right: 10px;
  border: 1px solid #e0e0e0;
}
.pop-wrap.search-type .pop-content table td div + div {
  margin-top: 5px;
}
.pop-wrap.search-type .pop-content table td:nth-child(1) {
  padding: 10px 8px;
}
.pop-wrap.search-type .pop-content table td:last-child {
  font-size: 18px;
  font-weight: 700;
  color: #5a14be;
}
.pop-wrap.search-type .no-data {
  padding-top: 30px;
  text-align: center;
  line-height: 1.5;
}
.pop-wrap.search-type .no-data em {
  color: #5a14be;
}
.pop-wrap.alert-type {
  overflow: hidden;
  width: 300px;
  border: 2px solid #5a14be;
  border-radius: 10px;
  background-color: #fff;
}
.pop-wrap.alert-type .pop-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 148px;
}
.pop-wrap.alert-type .pop-content .tit {
  font-size: 20px;
  font-weight: 700;
}
.pop-wrap.alert-type .pop-content .txt {
  padding: 20px 0 0 0;
  font-size: 18px;
  text-align: center;
  line-height: 1.6;
}
.pop-wrap.alert-type .pop-content .pop-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 17px;
  height: 17px;
  background-size: contain;
}
.pop-wrap.alert-type .pop-content.img-cnt {
  flex-direction: column;
}
.pop-wrap.alert-type .pop-content.img-cnt img {
  padding-top: 20px;
}
.pop-wrap.alert-type .pop-content.img-cnt .txt {
  padding-top: 10px;
}
.pop-wrap.alert-type .pop-footer {
  display: flex;
}
.pop-wrap.alert-type .pop-footer button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50px;
  font-size: 18px;
  color: #333;
  background-color: #e6e6e6;
}
.pop-wrap.alert-type .pop-footer button:last-child {
  color: #fff;
  font-weight: 500;
  background-color: #5a14be;
}
.pop-wrap.alert-type.img-type {
  width: 600px;
}
.pop-wrap.alert-type.img-type .pop-content {
  flex-direction: column;
  padding: 80px 0;
}
.pop-wrap.alert-type.img-type .tit {
  margin-top: 35px;
}
.pop-wrap.alert-type.img-type .form-txt-error {
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
.pop-wrap.content-type {
  overflow: hidden;
  width: 800px;
  border: 2px solid #5a14be;
  border-radius: 10px;
  background-color: #fff;
}
.pop-wrap.content-type .pop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 20px;
  margin: 0 30px;
  border-bottom: 2px solid #282828;
}
.pop-wrap.content-type .pop-header .tit {
  font-size: 18px;
  font-weight: 700;
}
.pop-wrap.content-type .pop-header .pop-close {
  width: 16px;
  height: 16px;
  background-size: contain;
}
.pop-wrap.content-type .pop-content {
  margin: 25px 30px;
  border: 1px solid #cfcfcf;
}
.pop-wrap.content-type .pop-content .scroll-inner {
  height: 425px;
  word-break: break-all;
}
.pop-wrap.content-type .pop-footer {
  display: flex;
}
.pop-wrap.content-type .pop-footer button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 50px;
  font-size: 18px;
  background-color: #e6e6e6;
}
.pop-wrap.content-type .pop-footer button:last-child {
  color: #fff;
  font-weight: 500;
  background-color: #5a14be;
}
.pop-wrap.content-type.type02 {
  width: 370px;
  text-align: center;
}
.pop-wrap.content-type.type02 .pop-inner {
  padding: 30px 0;
}
.pop-wrap.member-type {
  width: 800px;
  background-color: #fff;
}
.pop-wrap.member-type .pop-header {
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #5a14be;
}
.pop-wrap.member-type .pop-header .tit {
  font-size: 24px;
  font-weight: 700;
}
.pop-wrap.member-type .pop-header .pop-close {
  background: url(../../images/common/ico_close_w.png) no-repeat;
  background-size: contain;
}
.pop-wrap.member-type .pop-content {
  padding: 30px 10px 30px 30px;
}
.pop-wrap.member-type .pop-content .privacy_date_sel {
  display: inline-block;
  height: 40px;
  border-radius: 20px;
  background-color: #20154d;
  margin-bottom: 15px;
}
.pop-wrap.member-type .pop-content .privacy_date_sel select {
  background: url(../../images/main/ico_select.png) no-repeat 97% center #20154d;
  background-size: 1.62rem auto;
  font-size: 15px;
  width: 380px;
  height: 40px;
  color: #fff;
  border-radius: 20px;
  background-color: #20154d;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 0 45px 0 15px;
}
.pop-wrap.member-type .pop-content .privacy_date_sel select option {
  padding-right: 10px;
}
.pop-wrap.member-type .pop-content .scroll-inner {
  height: 660px;
  overflow-y: auto;
}
.pop-wrap.member-type .privacy_info {
  margin: 10px 0;
}
.pop-wrap.member-type .privacy_sub {
  margin-bottom: 10px;
}
.pop-wrap.member-type table {
  width: 100%;
  border: 1px solid #ddd;
}
.pop-wrap.member-type table th {
  text-align: center;
}
.pop-wrap.member-type table th, .pop-wrap.member-type table td {
  padding: 5px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}