@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url(../css/font.css);
.table-top select {
  margin-left: 10px;
}

.filebox .file_upload {
  color: #7959c8;
  border-bottom: 1px solid #7959c8;
  cursor: pointer;
}
.filebox input[type=file] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.filebox input {
  padding: 5px;
  border: 1px solid #ededed;
  background-color: #fff;
}
.filebox label {
  position: relative;
  top: -1px;
  height: 36px;
}

.pop-wrap .btn-wrap .pop-close {
  position: initial;
  font-size: 16px;
  background-image: none;
}

.alert-pop .btn-wrap {
  margin-top: 15px;
  font-size: 16px;
}

.ques-reg-pop {
  width: 50%;
}
.ques-reg-pop .info {
  padding: 20px;
}
.ques-reg-pop .info .view-table {
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid #333;
}
.ques-reg-pop .info .view-table select {
  width: 130px;
}
.ques-reg-pop .info th {
  background-color: #f3f3f3;
}

.video-pop {
  width: 60%;
}
.video-pop .pop-content {
  padding: 20px;
}
.video-pop .info .view-table {
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid #333;
}
.video-pop .info th {
  background-color: #f3f3f3;
}
.video-pop .info textarea {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.video-pop .preview {
  padding: 20px;
  height: 500px;
}
.video-pop .preview > div {
  width: 100%;
  height: 100%;
  background-color: red;
}

.upload-pop {
  width: 500px;
}
.upload-pop .pop-content {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.upload-pop .scroll-inner {
  max-height: 700px;
  overflow-y: auto;
}
.upload-pop table {
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.upload-pop table th {
  background-color: #f3f3f3;
}
.upload-pop table th, .upload-pop table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.upload-pop.type02 {
  width: 700px;
}
.upload-pop.type02 .tit {
  font-size: 20px;
  margin-bottom: 10px;
}
.upload-pop .txt-center th, .upload-pop .txt-center td {
  text-align: center;
}