@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
.que_cont .tab-wrap::after {
  display: none;
}
.que_cont .tab-menu-type01 {
  margin-top: 30px;
}
.que_cont .tab-list-type01 {
  padding: 0px 20px 20px;
}
.que_cont .tab-list-type01 .table.half-type .scroll-inner {
  height: 630px;
}
@media (max-width: 1280px) {
  .que_cont .tab-list-type01 .table.half-type .scroll-inner {
    height: 435px;
  }
}
.que_cont .tab-list-type01 .table.half-type .test.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.que_cont .tab-list-type01 .table.half-type .test.no-data .txt {
  text-align: center;
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.5;
  z-index: 0;
}
.que_cont .tab-list-type01 .table.half-type .test.no-data .txt em {
  position: relative;
  color: #5a14be;
  font-weight: bold;
}
.que_cont .tab-list-type01 .table.half-type .test.no-data .txt em::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 11px;
  background-color: #efe4ff;
  z-index: -1;
}
@media (max-width: 1280px) {
  .que_cont .tab-list-type01 .table .scroll-inner {
    height: 435px;
  }
}
.que_cont .tab-top {
  border: 1px solid #dddddd;
  border-top: 0;
  border-bottom: 0;
}
.que_cont .table p.txt {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.que_cont .none-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 627px;
}
.que_cont .none-data .none-txt {
  margin-top: 14px;
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 1280px) {
  .que_cont .none-data {
    height: 435px;
  }
}
.que_cont.sub01 .table span:nth-child(1) {
  width: 6%;
}
.que_cont.sub01 .table span:nth-child(2) {
  width: 7%;
}
.que_cont.sub01 .table span:nth-child(3) {
  width: 8%;
  padding: 0;
  justify-content: center;
}
.que_cont.sub01 .table span:nth-child(4) {
  width: 7%;
}
.que_cont.sub01 .table span:nth-child(5) {
  min-width: 585px;
  width: 51%;
}
.que_cont.sub01 .table span:nth-child(5) img {
  margin: 0 10px;
}
.que_cont.sub01 .table span:nth-child(6) {
  width: 5%;
}
.que_cont.sub01 .table span:nth-child(7) {
  width: 7%;
}
.que_cont.sub01 .table span:nth-child(8) {
  width: 5%;
}
.que_cont.sub01 .table span:nth-child(9) {
  width: 5%;
}
.que_cont.sub01 .table span:nth-child(10) {
  width: 10%;
}
.que_cont.sub01 .table span:last-child {
  width: 3%;
  padding-right: 15px;
}
.que_cont.sub01 .table.table-type01 span:nth-child(1) {
  width: 6%;
}
.que_cont.sub01 .table.table-type01 span:nth-child(2) {
  width: 6%;
}
.que_cont.sub01 .table.table-type01 span:nth-child(3) {
  width: 8%;
  padding: 0;
  justify-content: center;
}
.que_cont.sub01 .table.table-type01 span:nth-child(4) {
  width: 7%;
}
.que_cont.sub01 .table.table-type01 span:nth-child(5) {
  width: 53%;
}
.que_cont.sub01 .table.table-type01 span:nth-child(5) img {
  margin: 0 10px;
}
.que_cont.sub01 .table.table-type01 span:nth-child(6) {
  width: 5%;
}
.que_cont.sub01 .table.table-type01 span:nth-child(7) {
  width: 7%;
}
.que_cont.sub01 .table.table-type01 span:nth-child(8) {
  width: 5%;
}
.que_cont.sub01 .table.table-type01 span:nth-child(9) {
  width: 7%;
}
.que_cont.sub01 .table.table-type01 span:nth-child(10) {
  width: 4%;
}
.que_cont.sub01 .table.table-type01 span:last-child {
  width: 3%;
}
.que_cont.sub01 .table span.tool-type01 {
  width: auto;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}
.que_cont.sub01 .table span.tool-type01 .tag-type01 {
  width: auto;
  padding: 4px 10px 3px;
  font-size: 12px;
  font-weight: 700;
  margin: 0 5px 0 0;
}
.que_cont.sub01 .table .col {
  position: relative;
}
.que_cont.sub01 .table .col span:nth-child(2) {
  justify-content: center;
  padding: 0;
  width: 7%;
}
.que_cont.sub01 .table .col span:nth-child(5) {
  justify-content: flex-start;
  padding: 13px;
}
.que_cont.sub01 .table .col .cate {
  position: relative;
}
.que_cont.sub01 .table .col .cate .txt {
  position: relative;
  display: inline-block;
  width: 70px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -moz-binding: url(ellipsis.xml#ellipsis);
  cursor: pointer;
}
.que_cont.sub01 .table .col .cate .txt:hover + .tooltip-txt {
  display: block;
}
.que_cont.sub01 .table .col .cate .tooltip-txt {
  display: none;
  position: absolute;
  top: 50px;
  left: -25px;
  width: 90px;
  padding: 4px 10px;
  color: #fff;
  text-align: center;
  word-break: break-all;
  background-color: #969696;
  border-radius: 3px;
  z-index: 1;
}
.que_cont.sub01 .table .col .cate .tooltip-txt::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 47px;
  top: -8px;
  width: 11px;
  height: 8px;
  background: url(../../images/common/ico_arrow_tooltip.png) no-repeat;
}
.que_cont.sub02 .table span:nth-child(1) {
  width: 10%;
}
.que_cont.sub02 .table span:nth-child(2) {
  width: 63%;
}
.que_cont.sub02 .table span:nth-child(3) {
  width: 14%;
}
.que_cont.sub02 .table span:nth-child(4) {
  width: 12%;
}
.que_cont.sub03 .select-list {
  max-height: 182px;
}
.que_cont.sub03 .table span:nth-child(1) {
  width: 8%;
}
.que_cont.sub03 .table span:nth-child(2) {
  width: 8%;
}
.que_cont.sub03 .table span:nth-child(3) {
  width: 52%;
}
.que_cont.sub03 .table span:nth-child(4) {
  width: 4%;
}
.que_cont.sub03 .table span:nth-child(5) {
  width: 7%;
}
.que_cont.sub03 .table span:nth-child(6) {
  width: 5%;
}
.que_cont.sub03 .table span:nth-child(7) {
  width: 5%;
}
.que_cont.sub03 .table span:nth-child(8) {
  width: 9%;
}
.que_cont.sub03 .table span:nth-child(9) {
  width: 2%;
}
.que_cont.sub03_04 .table span:nth-child(1) {
  width: 9%;
}
.que_cont.sub03_04 .table span:nth-child(2) {
  width: 54%;
}
.que_cont.sub03_04 .table span:nth-child(3) {
  width: 8%;
}
.que_cont.sub03_04 .table span:nth-child(4) {
  width: 16%;
}
.que_cont.sub03_04 .table span:nth-child(5) {
  width: 12%;
}
.que_cont.sub03_04 .table span.tool-type01 {
  width: auto;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
}
.que_cont .tag-type01 {
  padding: 4px 10px 3px !important;
  width: auto !important;
  margin-left: 5px;
}
.que_cont .tooltip-wrap button {
  margin: 0;
}
.que_cont .tooltip-wrap .btn-tip {
  margin: 0 5px 0 0;
}
.que_cont .tooltip-wrap .tooltip.type01 {
  width: 408px;
  left: -200px;
}
.que_cont .tooltip-wrap .tooltip::before {
  left: 50%;
}
.que_cont .tooltip-wrap .tooltip.type02 {
  left: 0;
  transform: translateX(-45%);
}
.que_cont .tooltip-wrap .tooltip.type02 span.level {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  min-width: 28px;
  padding: 0;
  z-index: 10;
}
.que_cont .tooltip-wrap .tooltip.type03 {
  left: -260px;
}
.que_cont .tooltip-wrap .tooltip.type03::before {
  left: 264px;
}

.gallery-box {
  width: 100%;
  border: 1px solid #dddddd;
}
.gallery-box .gallery-wrap {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 85px;
  gap: 35px 75px;
}
.gallery-box .scroll-inner {
  height: 670px;
}
@media (max-width: 1280px) {
  .gallery-box .scroll-inner {
    height: 475px;
  }
}
.gallery-box .book-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 210px;
  text-align: center;
}
.gallery-box .book-box .book img {
  object-fit: contain;
}
.gallery-box .book-box span {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
}
.gallery-box .book-box .grade {
  font-size: 14px;
  font-weight: 500;
  color: #666666;
  margin: 15px 0 10px;
}

.btn-icon.fix-m {
  padding: 10px 15px;
}
.btn-icon.fix-m + .fix-m {
  margin-left: 10px;
}

.problem {
  background: url(../../images/common/ico_problem.png);
  background-size: 12px 11px !important;
  background-size: contain;
}

.comment {
  background: url(../../images/common/ico_comment.png);
  background-size: 14px 13px !important;
  background-size: contain;
}

.repeat {
  background: url(../../images/common/ico_resubmission.png);
  background-size: 14px !important;
  background-size: contain;
}

.top_box {
  position: relative;
}
.top_box .topbtn-right {
  position: absolute;
  right: 0;
  bottom: 10px;
}
.top_box .btn-icon.type02 {
  margin-left: 5px;
}
.top_box .btn-icon.type04 {
  margin-left: 5px;
  display: inline-flex;
}

.btn-icon.type04 {
  padding: 10px 15px;
  color: #333333;
}
.btn-icon.type04.active {
  color: #5a14be;
  border-color: #5a14be;
}
.btn-icon.type04.active .gallery {
  background: url(../../images/common/ico_gallery_on.png);
}
.btn-icon.type04.active .list {
  background: url(../../images/common/ico_list_on.png);
  height: 11px;
}
.btn-icon.type04 i {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.right_wrap {
  display: flex;
}
.right_wrap .search-box {
  margin-left: 6px;
}

.pop-wrap.table-type .btn-icon.pop-top-btn {
  position: absolute;
  right: 30px;
  top: 70px;
}

.sub02-01 .tab-list-type01 .table span:nth-child(2) {
  width: 66%;
}
.sub02-01 .tab-list-type01 .table span:nth-child(3) {
  width: 6%;
}
.sub02-01 .tab-list-type01 .table span:nth-child(4) {
  width: 8%;
}
.sub02-01 .tab-list-type01 .table span:last-child {
  width: 12%;
}
.sub02-01 .tab-list-type01 .table span.company {
  width: 80px;
  word-break: break-all;
  text-align: center;
}
.sub02-01 .select-list {
  max-height: 110px;
}