@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
.guide {
  padding: 0 30px 60px;
  background-color: #fafafa;
}
.guide h1 {
  margin: 60px 0 15px;
  font-size: 22px;
  font-weight: 700;
}
.guide h2 {
  margin: 40px 0 10px;
  font-size: 18px;
}
.guide > button {
  margin-bottom: 10px;
}
.guide .tab-wrap + .tab-wrap {
  margin-top: 40px;
}
.guide .pop-wrap {
  display: block;
  position: relative;
  top: inherit;
  left: inherit;
  transform: none;
}
.guide .header {
  position: relative;
}
.guide .site {
  color: #5a14be;
}
.guide .h1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
  color: #5a14be;
}
.guide .h2 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
  color: #3dc8a2;
}
.guide .h3 {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #282828;
}
.guide .h4 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  color: #333333;
}
.guide .h5 {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 700;
  color: #e6e6e6;
}
.guide .h6 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #e0e0e0;
}
.guide .p1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
  color: #666666;
}
.guide .p2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #e0e0e0;
}
.guide .p3 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #fc3812;
}
.guide .p4 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}
.guide.que-wrap .h1 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #5a14be;
}
.guide.que-wrap .h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #ffba00;
}
.guide.que-wrap .h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  color: #282828;
}
.guide.que-wrap .h4 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
  color: #dddddd;
}
.guide.que-wrap .p1 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #f6f6f6;
}
.guide.que-wrap .p2 {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #f2f2f2;
}
.guide.que-wrap .p3 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.guide.que-wrap .p4 {
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  color: #666666;
}