@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
.guide { margin-top: 100px; padding: 0 30px 60px; background-color: #fafafa; }

.guide h1 { margin: 60px 0 15px; font-size: 22px; font-weight: 700; }

.guide h2 { margin: 40px 0 10px; font-size: 18px; }

.guide > button { margin-bottom: 10px; }

.guide .tab-wrap + .tab-wrap { margin-top: 40px; }

.guide .pop-wrap { position: relative; top: inherit; left: inherit; -webkit-transform: none; transform: none; }
