@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -3px;
  left: 0;
  width: auto;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px 0 0;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.container {
  padding-top: 80px;
}
.container .wing-menu {
  position: fixed;
  top: 190px;
  right: 160px;
  z-index: 9;
}
.container .wing-menu::before {
  content: "";
  display: block;
  width: 112px;
  height: 69px;
  background: url(../../images/common/ico_quick.png) no-repeat;
  background-size: contain;
  position: absolute;
  top: -50px;
  left: 30px;
}
.container .wing-menu a {
  display: block;
  width: 169px;
  background: #ff3f68;
  border-radius: 36px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  color: #fff;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  padding: 19px 0 13px;
}
.container .wing-menu.wing02 {
  top: 320px;
}
.container .wing-menu.wing02::before {
  width: 104px;
  height: 65px;
  background: url(../../images/common/ico_quick02.png) no-repeat;
  background-size: contain;
}
.container .wing-menu.wing02 a {
  background-color: #ff9600;
}
.container .wing-menu.wing03 {
  top: 452px;
}
.container .wing-menu.wing03::before {
  width: 104px;
  height: 65px;
  background: url(../../images/common/ico_quick02.png) no-repeat;
  background-size: contain;
}
.container .wing-menu.wing03 a {
  background-color: #1497be;
}

.pagination {
  position: absolute;
  display: flex;
  height: 10px;
  z-index: 5;
}
.pagination .swiper-pagination {
  position: relative;
}
.pagination button {
  margin-top: 9px;
}
.pagination .stop {
  width: 15px;
  height: 10px;
  margin-right: 10px;
  background: url(../../images/common/ico_stop.png) no-repeat;
  background-size: contain;
}
.pagination .start {
  width: 13px;
  height: 10px;
  background: url(../../images/common/ico_play.png) no-repeat;
  background-size: contain;
}

.section .inner > .tit-wrap {
  padding-top: 80px;
}
.section .inner > .tit-wrap .title {
  font-size: 40px;
  font-weight: 700;
}
.section .inner > .tit-wrap .txt {
  display: block;
  margin-top: 15px;
  font-size: 22px;
  line-height: 1.3;
}

.main-section {
  position: relative;
  height: 465px;
  background-color: #5a14be;
}
.main-section .inner {
  width: 1600px;
  box-sizing: border-box;
}
.main-section .main-swiper {
  height: 560px;
}
.main-section .swiper-slide {
  display: flex;
  justify-content: space-between;
}
.main-section .swiper-slide .txt-box {
  position: relative;
  padding-top: 130px;
  color: #fff;
  z-index: 1;
}
.main-section .swiper-slide .txt-box p {
  font-size: 30px;
}
.main-section .swiper-slide .txt-box p span {
  display: block;
  margin-top: 10px;
  font-size: 45px;
  white-space: nowrap;
}
.main-section .swiper-slide .txt-box p span em {
  font-weight: 700;
}
.main-section .swiper-slide .txt-box .sub-txt {
  display: block;
  margin-top: 10px;
  font-size: 22px;
}
.main-section .swiper-slide .img-box {
  position: relative;
  left: 0;
  bottom: 0;
}
.main-section .pagination {
  top: 74px;
  left: 180px;
}
.main-section .pagination .swiper-pagination {
  position: relative;
}
.main-section .pagination button:hover {
  filter: invert(0) sepia(100) saturate(2%) hue-rotate(175deg) brightness(100) contrast(101%);
}
.main-section .pagination button.active {
  filter: invert(0) sepia(100) saturate(2%) hue-rotate(175deg) brightness(100) contrast(101%);
}
.main-section .pagination .swiper-pagination-bullet {
  background-color: #8c5bd2;
}
.main-section .pagination .swiper-pagination-bullet:hover, .main-section .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
}
.main-section .tab-img {
  display: none;
}

.sec01 {
  display: flex;
  height: 392px;
}
.sec01 > div {
  flex: 1;
}
.sec01 .left-cnt {
  position: relative;
  top: -70px;
  text-align: right;
  background-color: #fff;
  z-index: 5;
}
.sec01 .left-cnt .inner {
  display: inline-block;
  width: 620px;
  padding: 42px 50px 0 0;
  text-align: left;
  box-sizing: border-box;
}
.sec01 .left-cnt .notice-wrap {
  position: relative;
}
.sec01 .left-cnt .notice-wrap .tit-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sec01 .left-cnt .notice-wrap .tit-wrap .tit {
  font-size: 24px;
  font-weight: 700;
}
.sec01 .left-cnt .notice-wrap .tit-wrap a {
  font-weight: 700;
}
.sec01 .left-cnt .notice-wrap .notice-swiper {
  margin-top: 15px;
  height: 90px;
}
.sec01 .left-cnt .notice-wrap .notice-swiper .swiper-slide {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 43px 0 17px;
  box-sizing: border-box;
}
.sec01 .left-cnt .notice-wrap .notice-swiper .swiper-slide::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  top: 50%;
  width: 5px;
  height: 5px;
  margin-top: -3px;
  border-radius: 100%;
  background-color: #5a14be;
}
.sec01 .left-cnt .notice-wrap .notice-swiper .swiper-slide .cate {
  font-size: 18px;
  font-weight: 700;
}
.sec01 .left-cnt .notice-wrap .notice-swiper .swiper-slide a {
  font-size: 18px;
}
.sec01 .left-cnt .notice-wrap .notice-swiper .swiper-slide .date {
  color: #aaa;
}
.sec01 .left-cnt .notice-wrap .notice-swiper button {
  position: absolute;
  right: 0;
  width: 12px;
  height: 7px;
  background: url(../../images/common/select_arrow.png) no-repeat;
  background-size: contain;
}
.sec01 .left-cnt .notice-wrap .notice-swiper .prev {
  top: 11px;
  transform: rotate(-180deg);
}
.sec01 .left-cnt .notice-wrap .notice-swiper .next {
  top: 56px;
}
.sec01 .left-cnt .notice-wrap .pagination {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}
.sec01 .left-cnt .banner-wrap {
  margin-top: 25px;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .text-box {
  width: 100%;
  height: 209px;
  padding: 44px;
  background: url(../../images/main/sec01_img01.png) no-repeat;
  box-sizing: border-box;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .text-box .tit {
  display: block;
  font-size: 28px;
  font-weight: 700;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .text-box .txt {
  display: block;
  margin-top: 10px;
  color: #4f4f4f;
  line-height: 1.5;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .slide02 .tit {
  color: #5144a1;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .slide02 .text-box {
  background: url(../../images/main/sec01_img02.png) no-repeat center right;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .slide03 .tit {
  color: #373e51;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .slide03 .text-box {
  background: url(../../images/main/sec01_img03.png) no-repeat center right;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .slide04 .tit {
  color: #f86811;
}
.sec01 .left-cnt .banner-wrap .banner-swiper .slide04 .text-box {
  background: url(../../images/main/sec01_img04.png) no-repeat center right;
}
.sec01 .left-cnt .banner-wrap .pagination {
  bottom: 20px;
  left: 42px;
}
.sec01 .left-cnt .banner-wrap .pagination button {
  filter: invert(52%) sepia(8%) saturate(20%) hue-rotate(91deg) brightness(90%) contrast(84%);
}
.sec01 .left-cnt .banner-wrap .pagination button:hover {
  filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(318deg) brightness(0) contrast(86%);
}
.sec01 .left-cnt .banner-wrap .pagination button.active {
  filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(318deg) brightness(0) contrast(86%);
}
.sec01 .left-cnt .banner-wrap .pagination .swiper-pagination-bullet {
  background-color: #7a7a7a;
}
.sec01 .left-cnt .banner-wrap .pagination .swiper-pagination-bullet:hover, .sec01 .left-cnt .banner-wrap .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #282828;
}
.sec01 .right-cnt {
  position: relative;
  padding: 104px 84px 50px;
  color: #fff;
  background-color: #3dc8a2;
  box-sizing: border-box;
}
.sec01 .right-cnt .deco {
  position: absolute;
  top: 215px;
  left: -26px;
  display: inline-block;
  padding-left: 173px;
  font-family: "Montserrat";
  font-weight: 700;
  transform: rotate(-90deg);
}
.sec01 .right-cnt .deco::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 0;
  top: 50%;
  width: 159px;
  height: 3px;
  margin-top: -2px;
  background-color: #fff;
}
.sec01 .right-cnt .text-box {
  padding-left: 45px;
}
.sec01 .right-cnt .text-box .tit {
  font-size: 40px;
  font-weight: 700;
}
.sec01 .right-cnt .text-box .txt {
  display: block;
  margin-top: 10px;
  font-size: 22px;
}
.sec01 .right-cnt .text-box a {
  margin-top: 106px;
}

.sec02 {
  position: relative;
  text-align: center;
  background-color: #dcf5ee;
}
.sec02 .inner {
  width: 1770px;
}
.sec02 .sec02-swiper {
  padding: 40px 0 120px;
}
.sec02 .sec02-swiper .pagination {
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}
.sec02 .sec02-swiper .pagination button {
  filter: invert(52%) sepia(8%) saturate(20%) hue-rotate(91deg) brightness(90%) contrast(84%);
}
.sec02 .sec02-swiper .pagination button:hover {
  filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(318deg) brightness(0) contrast(86%);
}
.sec02 .sec02-swiper .pagination button.active {
  filter: invert(11%) sepia(0%) saturate(0%) hue-rotate(318deg) brightness(0) contrast(86%);
}
.sec02 .sec02-swiper .pagination .swiper-pagination-bullet {
  background-color: #7a7a7a;
}
.sec02 .sec02-swiper .pagination .swiper-pagination-bullet:hover, .sec02 .sec02-swiper .pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #282828;
}
.sec02 .sec02-swiper .swiper-slide {
  position: relative;
  padding-top: 40px;
}
.sec02 .sec02-swiper .swiper-slide .box {
  position: relative;
  width: 268px;
  height: 263px;
  padding: 67px 25px 0;
  text-align: center;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
}
.sec02 .sec02-swiper .swiper-slide .box img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}
.sec02 .sec02-swiper .swiper-slide .box .name {
  font-size: 22px;
}
.sec02 .sec02-swiper .swiper-slide .box .name em {
  font-weight: 700;
}
.sec02 .sec02-swiper .swiper-slide .box .txt {
  display: block;
  margin-top: 20px;
  color: #585858;
  line-height: 1.5;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.sec03 {
  padding-bottom: 150px;
  text-align: center;
}
.sec03 .inner .tit-wrap .title {
  font-weight: 500;
}
.sec03 .inner .tit-wrap .title em {
  color: #5a14be;
  font-weight: 700;
}
.sec03 .sec03-swiper {
  overflow: inherit;
  width: 1090px;
  margin-top: 60px;
}
.sec03 .sec03-swiper .swiper-container {
  width: 100%;
  overflow: hidden;
}
.sec03 .sec03-swiper .swiper-button-next, .sec03 .sec03-swiper .swiper-button-prev {
  top: 29%;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: url(../../images/common/ico_arrow_bg.png) no-repeat;
  background-size: contain;
}
.sec03 .sec03-swiper .swiper-button-prev, .sec03 .sec03-swiper .swiper-rtl .swiper-button-next {
  left: -73px;
  transform: rotate(-180deg);
}
.sec03 .sec03-swiper .swiper-button-next, .sec03 .sec03-swiper .swiper-rtl .swiper-button-prev {
  right: -73px;
}
.sec03 .sec03-swiper .swiper-button-prev:after, .sec03 .sec03-swiper .swiper-rtl .swiper-button-next:after, .sec03 .sec03-swiper .swiper-button-next:after, .sec03 .sec03-swiper .swiper-rtl .swiper-button-prev:after {
  display: none;
}
.sec03 .txt-box .tit {
  display: block;
  margin: 40px 0 20px;
  font-size: 28px;
  font-weight: 700;
  color: #5a14be;
}
.sec03 .txt-box .txt {
  font-size: 20px;
  line-height: 1.3;
}

.sec04 {
  display: flex;
}
.sec04 > div {
  width: 50%;
  box-sizing: border-box;
}
.sec04 .left-cnt {
  position: relative;
  margin-top: -72px;
  padding: 70px;
  color: #fff;
  text-align: right;
  background-color: #282828;
}
.sec04 .left-cnt .txt {
  position: relative;
  display: block;
  padding-bottom: 25px;
  margin-bottom: 20px;
  font-family: "Montserrat";
  font-size: 28px;
  font-weight: 700;
}
.sec04 .left-cnt .txt::after {
  position: absolute;
  bottom: 0;
  right: 0;
  content: "";
  display: block;
  clear: both;
  width: 22px;
  height: 2px;
  background-color: #fff;
}
.sec04 .left-cnt .tit {
  font-size: 36px;
  line-height: 1.3;
}
.sec04 .left-cnt .tit em {
  font-size: 45px;
  font-weight: 700;
  color: #3dc8a2;
}
.sec04 .left-cnt div {
  position: absolute;
  right: -47px;
  margin-top: 130px;
  width: 176px;
}
.sec04 .left-cnt div span {
  position: relative;
  display: block;
  padding-bottom: 15px;
  color: #3dc8a2;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 700;
  text-align: left;
}
.sec04 .left-cnt div span::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  clear: both;
  width: 176px;
  height: 9px;
  background: url(../../images/main/sec04_arrow.png) no-repeat;
  background-size: contain;
}
.sec04 .left-cnt div span + span {
  margin-top: 45px;
}
.sec04 .right-cnt {
  height: 740px;
  padding: 100px 24px;
  background-color: #f2f2f2;
  box-sizing: border-box;
}
.sec04 .right-cnt .sec04-list {
  display: flex;
  align-items: center;
}
.sec04 .right-cnt .sec04-list button {
  width: 42px;
  height: 42px;
  background: url(../../images/common/ico_arrow_bg.png) no-repeat;
  background-size: contain;
}
.sec04 .right-cnt .sec04-list button.prev {
  transform: rotate(-180deg);
}
.sec04 .right-cnt .sec04-list ul {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 16px;
  min-width: 495px;
  min-height: 200px;
}
.sec04 .right-cnt .sec04-list ul li {
  text-align: center;
  cursor: pointer;
}
.sec04 .right-cnt .sec04-list ul li.active .img-box {
  width: 155px;
  height: 155px;
  background-color: #3dc8a2;
}
.sec04 .right-cnt .sec04-list ul li.active .img-box img {
  top: -25px;
  left: 0;
  transform: scale(1);
}
.sec04 .right-cnt .sec04-list ul li.active .txt {
  display: block;
}
.sec04 .right-cnt .sec04-list ul .img-box {
  position: relative;
  width: 96px;
  height: 96px;
  border-radius: 100%;
  background-color: #a5a5a5;
  transition: all 0.5s;
}
.sec04 .right-cnt .sec04-list ul .img-box img {
  position: absolute;
  top: -58px;
  left: -29px;
  transform: scale(0.7);
  transition: all 0.5s;
}
.sec04 .right-cnt .sec04-list ul .txt {
  display: none;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #13a980;
}
.sec04 .right-cnt .contents {
  margin-top: 45px;
  padding-left: 50px;
}
.sec04 .right-cnt .contents ul > li p {
  margin-bottom: 62px;
  font-size: 20px;
  font-weight: 700;
}
.sec04 .right-cnt .contents ul > li:nth-child(2) p {
  margin-bottom: 40px;
}
.sec04 .right-cnt .contents ul > li li {
  display: flex;
  align-items: center;
}
.sec04 .right-cnt .contents ul > li li .txt-box {
  padding-left: 15px;
}
.sec04 .right-cnt .contents ul > li li .tit {
  font-size: 20px;
  font-weight: 700;
}
.sec04 .right-cnt .contents ul > li li .txt {
  display: block;
  margin-top: 5px;
  font-size: 18px;
}
.sec04 .right-cnt .contents ul > li li + li {
  margin-top: 24px;
}

.sec05 {
  padding-bottom: 130px;
  text-align: center;
}
.sec05 .inner > .tit-wrap .title {
  font-weight: 500;
}
.sec05 .inner > .tit-wrap .title em {
  color: #5a14be;
  font-weight: 700;
}
.sec05 .sec05-cnt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.sec05 .sec05-cnt > div {
  text-align: center;
  box-sizing: border-box;
}
.sec05 .sec05-cnt > div img {
  margin-top: 40px;
}
.sec05 .sec05-cnt .left {
  position: relative;
  width: 508px;
  height: 496px;
  padding: 70px;
  color: #8a8a8a;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  background-color: #fcfcfc;
}
.sec05 .sec05-cnt .left .txt {
  font-size: 18px;
  font-weight: 500;
}
.sec05 .sec05-cnt .left .tit {
  display: block;
  font-size: 26px;
  font-weight: 700;
}
.sec05 .sec05-cnt .left img {
  position: relative;
  left: -37px;
}
.sec05 .sec05-cnt .left::after {
  position: absolute;
  right: -52px;
  top: 50%;
  content: "";
  display: block;
  clear: both;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  content: "vs";
  width: 105px;
  height: 105px;
  color: #fff;
  font-family: "Montserrat";
  font-size: 42px;
  background-color: #3dc8a2;
  border-radius: 100%;
  transform: translateY(-50%);
}
.sec05 .sec05-cnt .right {
  overflow: hidden;
  width: 562px;
  height: 657px;
  padding-top: 40px;
  color: #5a14be;
  border: 4px solid #5a14be;
  border-radius: 20px;
}
.sec05 .sec05-cnt .right .txt {
  font-size: 24px;
  font-weight: 500;
}
.sec05 .sec05-cnt .right .tit {
  display: block;
  font-size: 44px;
  font-weight: 900;
}
.sec05 .sec05-cnt .right .txt-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 145px;
  margin-top: 25px;
  color: #fff;
  background-color: #5a14be;
}
.sec05 .sec05-cnt .right .txt-box span {
  font-size: 30px;
  font-weight: 700;
}
.sec05 .sec05-cnt .right .txt-box span em {
  color: #45f1c2;
  font-weight: 700;
}
.sec05 .sec05-cnt .right .txt-box::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  left: 50%;
  top: -13px;
  transform: translateX(-50%);
  width: 49px;
  height: 28px;
  background: url(../../images/main/deco_arrow.png) no-repeat;
  background-size: contain;
}

.sec06 {
  display: flex;
}
.sec06 > div {
  flex: 1;
}
.sec06 .sec06-table {
  margin-top: 60px;
}
.sec06 .sec06-table .tit {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}
.sec06 .sec06-table .table-cnt {
  width: 423px;
  height: 350px;
}
.sec06 .sec06-table .table-cnt .top {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  color: #fff;
}
.sec06 .sec06-table .table-cnt .top span {
  padding-right: 30px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
.sec06 .sec06-table .table-cnt .top ul {
  position: relative;
  padding-left: 30px;
}
.sec06 .sec06-table .table-cnt .top ul::before {
  position: absolute;
  left: 0;
  top: 6px;
  content: "";
  display: block;
  clear: both;
  width: 2px;
  height: 67px;
  background-color: rgba(255, 255, 255, 0.2);
}
.sec06 .sec06-table .table-cnt .top li {
  position: relative;
  padding-left: 14px;
  font-size: 18px;
  text-align: left;
  line-height: 1.4;
}
.sec06 .sec06-table .table-cnt .top li::before {
  position: absolute;
  left: 0;
  top: 11px;
  content: "";
  display: block;
  clear: both;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #3dc8a2;
}
.sec06 .sec06-table .table-cnt .top::after {
  position: absolute;
  bottom: -18px;
  left: 50%;
  content: "";
  display: block;
  clear: both;
  width: 37px;
  height: 37px;
  background: url(../../images/main/sec06_arrow.png) no-repeat;
  background-size: contain;
  transform: translateX(-50%);
}
.sec06 .sec06-table .table-cnt .btm {
  height: 190px;
  padding-top: 40px;
  text-align: center;
  background-color: #fff;
  box-sizing: border-box;
}
.sec06 .sec06-table .table-cnt .btm .tit {
  color: #5a14be;
  font-size: 22px;
}
.sec06 .sec06-table .table-cnt .btm .txt {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.3;
}
.sec06 .left-cnt {
  padding: 70px;
  margin-top: -56px;
  text-align: right;
  background-color: #f1edf5;
}
.sec06 .left-cnt > div {
  display: inline-block;
}
.sec06 .left-cnt .tit-wrap .txt {
  position: relative;
  display: block;
  padding-bottom: 25px;
  margin-bottom: 40px;
  color: #5a14be;
  font-family: "Montserrat";
  font-size: 27px;
  font-weight: 900;
}
.sec06 .left-cnt .tit-wrap .txt::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 22px;
  height: 2px;
  background-color: #5a14be;
}
.sec06 .left-cnt .tit-wrap .tit {
  font-size: 40px;
}
.sec06 .left-cnt .tit-wrap .tit em {
  display: block;
  color: #5a14be;
  font-weight: 700;
}
.sec06 .left-cnt .sec06-table .table-cnt .top {
  background-color: #5a14be;
}
.sec06 .right-cnt {
  height: 750px;
  padding: 110px 70px;
  color: #fff;
  background-color: #5a14be;
  box-sizing: border-box;
}
.sec06 .right-cnt .tit-wrap .tit {
  font-size: 40px;
}
.sec06 .right-cnt .tit-wrap .tit em {
  font-weight: 700;
}
.sec06 .right-cnt .sec06-table .table-cnt .top {
  background-color: #282828;
}
.sec06 .right-cnt .sec06-table .table-cnt .top ul::before {
  height: 91px;
}
.sec06 .right-cnt .sec06-table .table-cnt .btm {
  color: #333333;
}

.sec07 {
  display: flex;
}
.sec07 > div {
  flex: 1;
  height: 250px;
  padding-top: 40px;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
}
.sec07 > div:nth-child(1) {
  background: url(../../images/main/sec06_bg01.png) no-repeat;
  background-size: cover;
}
.sec07 > div:nth-child(1) .txt {
  margin-bottom: 31px;
}
.sec07 > div:nth-child(1) .tit {
  font-size: 40px;
  font-weight: 700;
}
.sec07 > div:nth-child(2) {
  background: url(../../images/main/sec06_bg02.png) no-repeat;
  background-size: cover;
}
.sec07 > div:nth-child(2) .txt {
  margin-bottom: 24px;
}
.sec07 > div:nth-child(2) .tit {
  font-family: "Montserrat";
  font-size: 50px;
  font-weight: 700;
}
.sec07 > div .txt {
  display: block;
  font-family: "Montserrat";
  font-size: 20px;
}
.sec07 > div .tit {
  display: block;
}
.sec07 > div a {
  position: relative;
  display: inline-block;
  padding-right: 28px;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.sec07 > div a::after {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  display: block;
  clear: both;
  width: 10px;
  height: 18px;
  margin-top: -9px;
  background: url(../../images/common/ico_arrow_b.png) no-repeat;
  background-size: cover;
  filter: invert(0) sepia(100) saturate(2%) hue-rotate(175deg) brightness(100) contrast(101%);
}
.sec07 > div .sub-txt {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}
.sec07 > div .sub-txt em {
  font-family: "Montserrat";
  font-size: 20px;
}

@media (max-width: 1770px) {
  .sec02 .inner {
    width: 1170px;
  }
}
@media (max-width: 1360px) {
  .main-section {
    height: 390px;
  }
  .main-section .inner {
    width: 1060px;
  }
  .main-section .pagination {
    top: 80px;
    left: 120px;
  }
  .main-section .main-swiper {
    height: 390px;
  }
  .main-section .img-box {
    width: 100%;
  }
  .main-section .img-box img {
    width: 100%;
    padding-top: 43px;
  }
  .sec01 {
    height: 380px;
  }
  .sec01 .left-cnt .inner {
    width: 600px;
    padding: 29px 40px 0 90px;
  }
  .sec01 .left-cnt .banner-wrap .banner-swiper .text-box {
    padding: 40px 20px;
    background-position: 70%;
  }
  .sec01 .right-cnt {
    padding: 49px 0 56px 30px;
  }
  .sec01 .right-cnt .deco {
    padding-left: 213px;
    bottom: 185px;
    top: inherit;
    left: -100px;
  }
  .sec01 .right-cnt .deco::before {
    width: 199px;
  }
  .sec01 .right-cnt .text-box a {
    margin-top: 143px;
  }
}
@media (max-width: 1240px) {
  .sec03 .sec03-swiper {
    width: 720px;
  }
  .sec04 .left-cnt {
    padding: 50px 40px;
  }
  .sec04 .left-cnt .tit {
    font-size: 30px;
  }
  .sec04 .left-cnt .tit em {
    font-size: 40px;
  }
  .sec04 .right-cnt .sec04-list ul {
    min-width: 395px;
    min-height: 167px;
  }
  .sec04 .right-cnt .sec04-list ul li.active .img-box {
    width: 122px;
    height: 122px;
  }
  .sec04 .right-cnt .sec04-list ul li.active .img-box img {
    top: -40px;
    left: -16px;
    transform: scale(0.8);
  }
  .sec04 .right-cnt .sec04-list ul .img-box {
    width: 75px;
    height: 75px;
  }
  .sec04 .right-cnt .sec04-list ul .img-box img {
    top: -61px;
    left: -39px;
    transform: scale(0.5);
  }
}
.pop-wrap.member-type {
  width: 800px;
  background-color: #fff;
}
.pop-wrap.member-type .pop-header {
  height: 80px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: #5a14be;
}
.pop-wrap.member-type .pop-header .tit {
  font-size: 24px;
  font-weight: 700;
}
.pop-wrap.member-type .pop-header .pop-close {
  background: url(../../images/common/ico_close_w.png) no-repeat;
  background-size: contain;
}
.pop-wrap.member-type .pop-content {
  padding: 30px 10px 30px 30px;
}
.pop-wrap.member-type .pop-content .privacy_date_sel {
  display: inline-block;
  height: 40px;
  border-radius: 20px;
  background-color: #20154d;
  margin-bottom: 15px;
}
.pop-wrap.member-type .pop-content .privacy_date_sel select {
  background: url(../../images/main/ico_select.png) no-repeat 97% center #20154d;
  background-size: 1.62rem auto;
  font-size: 15px;
  width: 380px;
  height: 40px;
  color: #fff;
  border-radius: 20px;
  background-color: #20154d;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  padding: 0 45px 0 15px;
}
.pop-wrap.member-type .pop-content .privacy_date_sel select option {
  padding-right: 10px;
}
.pop-wrap.member-type .pop-content .scroll-inner {
  height: 660px;
  overflow-y: auto;
}
.pop-wrap.member-type .privacy_info {
  margin: 10px 0;
}
.pop-wrap.member-type .privacy_sub {
  margin-bottom: 10px;
}
.pop-wrap.member-type table {
  width: 100%;
  border: 1px solid #ddd;
}
.pop-wrap.member-type table th {
  text-align: center;
}
.pop-wrap.member-type table th, .pop-wrap.member-type table td {
  padding: 5px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}