@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url(../css/font.css);
.sub13-que .pr26 {
  padding-right: 26px;
}
.sub13-que .top-banner {
  margin-bottom: 46px;
  padding: 14px 0;
  font-family: "GmarketSans";
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #f7f4ff;
}
.sub13-que .top-banner img {
  margin-top: -37px;
  margin-bottom: -29px;
}
.sub13-que .top-banner .date {
  font-weight: 500;
}
.sub13-que .top-banner .txt {
  color: #8d4aec;
  font-weight: 700;
}
.sub13-que .container .inner {
  padding-bottom: 20px;
}
.sub13-que .content-wrap {
  margin: 70px 20px 0;
  padding: 40px 30px 20px;
  border: 1px solid #dddddd;
  border-top: 2px solid #5a14be;
}
.sub13-que .sec01 .sub-tit {
  margin-top: 50px;
}
.sub13-que .sec01 .font-g {
  color: #999;
  font-size: 14px;
}
.sub13-que .select-list {
  max-height: 190px;
}
.sub13-que .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0 10px;
}
.sub13-que .title-wrap .sub-tit {
  margin: 0;
}
.sub13-que .title-wrap .sub-tit span {
  margin-left: 10px;
  color: #999;
  font-weight: 400;
}
.sub13-que .title-wrap .sub-tit span img {
  position: relative;
  top: -2px;
}
.sub13-que .title {
  font-size: 28px;
  font-weight: 700;
}
.sub13-que .sub-tit {
  display: block;
  margin: 40px 0 20px;
  font-size: 18px;
  font-weight: 600;
}
.sub13-que .sub-tit em {
  color: #999;
  font-size: 14px;
  font-weight: 400;
}
.sub13-que .coupon {
  position: relative;
  padding: 11px 24px 11px 52px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  background-color: #8d4aec;
}
.sub13-que .coupon::before {
  position: absolute;
  left: 16px;
  top: 10px;
  content: "";
  display: block;
  clear: both;
  width: 27px;
  height: 20px;
  background: url(../../images/common/ico_coupon.png) no-repeat;
}
.sub13-que .coupon:hover {
  background-color: #5a14be;
}
.sub13-que .btn-default {
  margin: 20px auto 0;
}
.sub13-que .price-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sub13-que .price-wrap .box {
  flex: 1;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 26px 19px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #f6f6f6;
}
.sub13-que .price-wrap .box .txt {
  font-weight: 600;
}
.sub13-que .price-wrap .box .price {
  color: #737373;
}
.sub13-que .price-wrap .box .price em {
  margin-right: 3px;
  color: #333333;
  font-size: 18px;
  font-weight: 700;
}
.sub13-que .price-wrap .left-cnt {
  display: flex;
}
.sub13-que .price-wrap .left-cnt .txt-wrap + .txt-wrap {
  position: relative;
  margin-left: 250px;
}
.sub13-que .price-wrap .left-cnt .txt-wrap + .txt-wrap::before {
  position: absolute;
  left: -140px;
  top: 50%;
  content: "";
  display: block;
  clear: both;
  width: 16px;
  height: 2px;
  margin-top: -1px;
  background-color: #333;
}
.sub13-que .right-txt {
  display: block;
  margin-top: 5px;
  color: #999;
  font-size: 14px;
  text-align: right;
}
.sub13-que .payment-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background-color: #f6f6f6;
}
.sub13-que .payment-wrap .btn-line {
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 50%;
  height: 144px;
  padding: 20px;
  font-weight: 600;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;
}
.sub13-que .payment-wrap .btn-line span {
  position: relative;
}
.sub13-que .payment-wrap .btn-line span::before {
  position: absolute;
  left: 0;
  content: "";
  display: block;
  clear: both;
}
.sub13-que .payment-wrap .btn-line .tit-area {
  display: inline-flex;
  align-items: center;
}
.sub13-que .payment-wrap .btn-line .tit-area .form-txt-chk {
  padding-left: 17px;
  color: #999;
  font-weight: 400;
  font-size: 13px;
}
.sub13-que .payment-wrap .btn-line .tit-area .form-txt-chk img {
  position: relative;
  top: -2px;
}
.sub13-que .payment-wrap .btn-line .tit {
  margin-right: 10px;
  font-size: 24px;
}
.sub13-que .payment-wrap .btn-line .tit em {
  display: block;
  color: #999;
  font-size: 16px;
}
.sub13-que .payment-wrap .btn-line.card {
  padding-left: 41px;
}
.sub13-que .payment-wrap .btn-line.card span {
  padding-left: 32px;
}
.sub13-que .payment-wrap .btn-line.card span::before {
  width: 25px;
  height: 18px;
  background: url(../../images/common/ico_card.png) no-repeat;
}
.sub13-que .payment-wrap .btn-line.cash {
  padding-left: 37px;
}
.sub13-que .payment-wrap .btn-line.cash span {
  padding-left: 30px;
}
.sub13-que .payment-wrap .btn-line.cash span::before {
  width: 23px;
  height: 19px;
  background: url(../../images/common/ico_cash.png) no-repeat;
}
.sub13-que .payment-wrap .btn-line.active {
  border-color: #5a14be;
}
.sub13-que .payment-wrap .btn-line.active .tit {
  color: #5a14be;
}
.sub13-que .payment-wrap .btn-line.active.card span::before {
  background: url(../../images/common/ico_card_on.png) no-repeat;
}
.sub13-que .payment-wrap .btn-line.active.cash span::before {
  background: url(../../images/common/ico_cash_on.png) no-repeat;
}
.sub13-que .payment-wrap .price-area {
  display: flex;
  width: 100%;
  color: #999999;
  justify-content: flex-end;
}
.sub13-que .payment-wrap .price-area > div {
  display: flex;
  align-items: flex-end;
}
.sub13-que .payment-wrap .price-area > div > em {
  margin-right: 10px;
}
.sub13-que .payment-wrap .price-area > div + div {
  margin-left: 20px;
}
.sub13-que .payment-wrap .price-area .box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.sub13-que .payment-wrap .price-area .box em {
  margin-right: 3px;
  font-size: 18px;
}
.sub13-que .payment-wrap .price-area .box .font-c {
  color: #5a14be;
}
.sub13-que .payment-wrap .price-area .box .font-c em {
  font-size: 24px;
  font-weight: 600;
}
.sub13-que .payment-wrap .tooltip-wrap {
  position: absolute;
  left: -5px;
  top: -3px;
}
.sub13-que .payment-wrap .tooltip-wrap .tooltip {
  top: -46px;
  left: -20px;
}
.sub13-que .payment-wrap .tooltip-wrap .tooltip::before {
  top: 35px;
  left: 22px;
  transform: rotate(-180deg);
}
.sub13-que .select-btn {
  width: 140px;
}
.sub13-que .txt-box-wrap .txt-box span {
  font-size: 16px;
  font-weight: 500;
}
.sub13-que .txt-box-wrap .txt-box span.num {
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
}
.sub13-que .txt-box-wrap .txt-box span.txt {
  color: #737373;
  font-size: 16px;
  font-weight: 400;
}
.sub13-que .txt-box-wrap .txt-box + .txt-box {
  margin-left: 120px;
}
.sub13-que .txt-box-wrap .txt-box + .txt-box::before {
  left: -67px;
}
.sub13-que .txt-box-wrap.type02 {
  position: relative;
  padding: 27px 100px;
  text-align: left;
}
.sub13-que .txt-box-wrap.type02 .txt-box + .txt-box {
  margin-left: 220px;
}
.sub13-que .txt-box-wrap.type02 .txt-box + .txt-box::before {
  left: -110px;
}
.sub13-que .txt-box-wrap.type02 .txt-box.total {
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.sub13-que .txt-box-wrap.type02 .txt-box.total::before {
  display: none;
}
.sub13-que .benefits td {
  padding: 30px 0;
  vertical-align: top;
}
.sub13-que .benefits td.active {
  background-color: #f5f1ff;
}
.sub13-que .benefits td .txt {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
.sub13-que .benefits .tit {
  padding-top: 15px;
}
.sub13-que .benefits .tit em {
  color: #333;
  font-size: 24px;
  font-weight: 600;
}
.sub13-que .benefits .tit span {
  font-size: 24px;
}
.sub13-que .benefits .tit img {
  position: relative;
  top: -13px;
}
.sub13-que .benefits .list-area {
  margin-top: 40px;
}
.sub13-que .benefits .chk-area {
  margin-bottom: 0;
}
.sub13-que .benefits .chk-area em {
  display: block;
  margin: 5px auto;
}
.sub13-que .benefits .chk-area > span {
  position: relative;
  display: block;
  width: 211px;
  height: 40px;
  margin: auto;
  padding: 11px 15px;
  text-align: left;
  font-size: 16px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}
.sub13-que .benefits .chk-area > span::after {
  position: absolute;
  top: 11px;
  right: 10px;
  content: "";
  display: block;
  clear: both;
  width: 18px;
  height: 18px;
  background: url(../../images/sub/ico_arrow.png) no-repeat;
}
.sub13-que .benefits .chk-area > span.active {
  color: #5a14be;
  font-weight: 500;
  border-color: #5a14be;
}
.sub13-que .benefits .chk-area > span.active::after {
  background: url(../../images/sub/ico_arrow_on.png) no-repeat;
}
.sub13-que .benefits .chk-area.align-c {
  display: flex;
  height: 100px;
}
.sub13-que .benefits .chk-area .tooltip-btn {
  width: 211px;
  padding: 11px 15px 11px 37px;
}
.sub13-que .benefits .chk-area .tooltip-wrap {
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -9px;
}
.sub13-que .benefits .chk-area .tooltip-wrap .tooltip {
  left: -54px;
}
.sub13-que .benefits .select-wrap {
  width: 211px;
}
.sub13-que .benefits .select-wrap .select-btn {
  width: 100%;
}
.sub13-que .benefits .select-wrap .select-list {
  overflow: inherit;
}
.sub13-que .benefits .select-wrap .select-list .btn-line {
  width: 100%;
  border: 0;
  border-top: 1px solid #e1e1e1;
  border-radius: 0;
}
.sub13-que .benefits .select-wrap .select-list .btn-line.active {
  padding: 11px 14px;
  border: 1px solid #5a14be;
}
.sub13-que .benefits .select-wrap .select-list .btn-line.active.tooltip-btn {
  padding: 11px 14px 11px 36px;
}
.sub13-que .benefits .select-wrap .select-list .btn-line:last-child {
  border-radius: 0 0 5px 5px;
}
.sub13-que .red-line em {
  position: relative;
}
.sub13-que .red-line em::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  display: block;
  clear: both;
  width: 102%;
  height: 2px;
  margin-top: -1px;
  background-color: #ec4a4a;
}
.sub13-que .table-wrap.type03 {
  overflow: inherit;
}
.sub13-que .table-wrap.type03 .c-gray {
  margin-right: 0;
}
.sub13-que .table-wrap.type03 .c-black span.num, .sub13-que .table-wrap.type03 .c-black span.txt {
  color: #333;
}
.sub13-que .table-wrap.type03 .input-radio-type01 label:last-child {
  margin-right: 0;
}
.sub13-que .table-wrap.type03 .top-txt, .sub13-que .table-wrap.type03 .btm-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 194px;
  margin: auto;
}
.sub13-que .table-wrap.type03 .top-txt .txt, .sub13-que .table-wrap.type03 .btm-txt .txt {
  width: 76px;
}
.sub13-que .table-wrap.type03 .top-txt {
  margin-bottom: 5px;
  color: #999;
}
.sub13-que .table-wrap.type03 .top-txt span {
  font-size: 16px;
}
.sub13-que .table-wrap.type03 .top-txt .price-txt {
  position: relative;
}
.sub13-que .table-wrap.type03 .top-txt .price-txt::before {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 0;
}
.sub13-que .table-wrap.type03 .btm-txt {
  color: #5a14be;
  font-weight: 600;
}
.sub13-que .table-wrap.type03 .btm-txt .txt {
  padding: 5px 0;
  font-size: 18px;
  border-radius: 15px;
  background-color: #f5f1ff;
}
.sub13-que .table-wrap.type03 .btm-txt .price-txt {
  font-size: 24px;
}
.sub13-que .select-list li {
  padding-left: 0;
  height: 40px;
}
.sub13-que .select-list li a {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}
.sub13-que .pay-wrap .title-box {
  text-align: center;
}
.sub13-que .pay-wrap .title-box .txt {
  line-height: 1.5;
}
.sub13-que .pay-wrap .title-box .txt em {
  font-weight: 600;
}
.sub13-que .pay-wrap .title {
  display: block;
  margin: 20px 0 15px;
}
.sub13-que .pay-wrap .sec01 {
  width: 850px;
  margin: 20px auto 0;
}
.sub13-que .pay-wrap .table-wrap td {
  padding: 15px 20px;
  text-align: right;
}
.sub13-que .pay-wrap .table-wrap .bold {
  font-weight: 600;
  font-size: 16px;
}
.sub13-que .pay-wrap .table-wrap .detail-cnt .tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.sub13-que .pay-wrap .table-wrap .detail-cnt .th {
  color: #999999;
  font-size: 16px;
}
.sub13-que .pay-wrap .table-wrap .num {
  color: #5a14be;
  font-size: 20px;
}
.sub13-que .pay-wrap .table-wrap .num em {
  color: #5a14be;
  font-size: 24px;
  font-weight: 700;
}

.coupon-pop.table-type .pop-content {
  padding: 0 27px 20px;
}
.coupon-pop.table-type .txt {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.sub14 .txt-box-wrap .txt-box {
  align-items: flex-end;
}
.sub14 .txt-box-wrap .txt-box span.num {
  position: relative;
  top: 2px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1;
}
.sub14 .txt-box-wrap .txt-box span.txt {
  margin-left: 3px;
  font-size: 20px;
}

.sub15 .table-wrap tbody td {
  height: 140px;
  box-sizing: border-box;
}
.sub15 .table-wrap tbody .plus {
  position: relative;
  top: -2px;
  margin: 0 5px;
}

.swiper-pop .pop-inner {
  width: 680px;
}
.swiper-pop .pop-header {
  padding: 23px 0;
  color: #fff;
  background-color: #5a14be;
}
.swiper-pop .pop-header .title {
  display: inline-block;
  padding-left: 40px;
  font-size: 24px;
  background: url(../../images/common/ico_book_white.png) no-repeat left center;
}
.swiper-pop .pop-close {
  width: 20px;
  height: 20px;
  background: url(../../images/common/ico_add_type07.png) no-repeat;
  background-size: cover;
  transform: rotate(45deg);
}
.swiper-pop .pop-content {
  padding: 40px 0;
}
.swiper-pop .pop-content .txt-box {
  color: #5a14be;
  text-align: center;
}
.swiper-pop .pop-content .txt-box .txt {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 700;
}
.swiper-pop .pop-content .txt-box .sub-txt {
  color: #999999;
}
.swiper-pop .pop-content .txt-box .sub-txt span {
  margin: 0 10px;
  color: #5a14be;
}
.swiper-pop .pop-content .book-preview-swiper {
  width: 90%;
  margin: 30px auto;
  text-align: center;
}
.swiper-pop .pop-content .book-preview-swiper img {
  height: 596px;
}
.swiper-pop .pop-content .book-preview-swiper .swiper-button-next, .swiper-pop .pop-content .book-preview-swiper .swiper-button-prev {
  width: 26px;
  height: 42px;
  background: url(../../images/common/ico_arrow_bg_d.png) no-repeat;
  background-size: contain;
}
.swiper-pop .pop-content .book-preview-swiper .swiper-button-next {
  transform: rotate(-180deg);
}
.swiper-pop .pop-content .book-preview-swiper .swiper-button-prev:after, .swiper-pop .pop-content .book-preview-swiper .swiper-rtl .swiper-button-next:after, .swiper-pop .pop-content .book-preview-swiper .swiper-button-next:after, .swiper-pop .pop-content .book-preview-swiper .swiper-rtl .swiper-button-prev:after {
  display: none;
}
.swiper-pop .pop-content .pagination {
  font-size: 20px;
  text-align: center;
}
.swiper-pop .pop-content .pagination input {
  width: 37px;
  height: 37px;
  padding: 0;
  text-align: center;
  border-radius: 0;
}

@media (max-width: 1280px) {
  .sub13-que {
    overflow: hidden;
  }
  .sub13-que .container .inner {
    padding-bottom: 0;
  }
}