@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
.user-cnt .tab-menu-type01 {
  width: 100%;
  margin-top: 20px;
}
.user-cnt .tab-menu-type01 li {
  width: 33.333%;
}
.user-cnt .tab-menu-type01 li a {
  width: 100%;
}
.user-cnt .contents {
  padding: 50px 0 100px 0;
}
.user-cnt .box-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px;
}
.user-cnt .box-wrap .line-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 516px;
  border: 1px solid #e6e6e6;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  padding: 57px 0 36px 0;
}
.user-cnt .box-wrap .line-box .img-box {
  margin-left: 20px;
}
.user-cnt .box-wrap .line-box .tit {
  font-size: 30px;
  font-weight: 700;
  color: #5a14be;
}
.user-cnt .box-wrap .line-box .tit .underline {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  text-decoration: underline;
  text-underline-position: under;
}
.user-cnt .box-wrap .line-box .desc {
  font-size: 18px;
  font-weight: 400;
  color: #333333;
  line-height: 36px;
  padding: 0 70px;
}
.user-cnt .box-wrap .line-box .btn-icon-guide {
  color: #fff;
}
.user-cnt .box-wrap .line-box:nth-child(2) {
  padding-top: 37px;
}
.user-cnt .list-thum-type02 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.user-cnt .list-thum-type02 li {
  width: calc(50% - 10px);
}
.user-cnt .list-thum-type02 li .img-box {
  position: relative;
  overflow: hidden;
  height: 240px;
}
.user-cnt .list-thum-type02 li .img-box img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.user-cnt .list-thum-type02 li .txt.type02 .name::after {
  display: none;
}
.user-cnt .list-thum-type02 + .paging-wrap {
  margin-top: 30px;
}
.user-cnt .table-view {
  margin-top: 30px;
}
.user-cnt .table-view .prev-cnt:last-child th, .user-cnt .table-view .prev-cnt:last-child td, .user-cnt .table-view .next-cnt:last-child th, .user-cnt .table-view .next-cnt:last-child td {
  border-bottom: 1px solid #c5c5c5;
}
.user-cnt .table-view .prev-cnt th, .user-cnt .table-view .prev-cnt td, .user-cnt .table-view .next-cnt th, .user-cnt .table-view .next-cnt td {
  border-top: 1px solid #c5c5c5;
}
.user-cnt .table-view .prev-cnt th, .user-cnt .table-view .next-cnt th {
  font-size: 18px;
  font-weight: 400;
}
.user-cnt .table-view .prev-cnt th img, .user-cnt .table-view .next-cnt th img {
  margin-right: 24px;
}
.user-cnt .table-view .prev-cnt td, .user-cnt .table-view .next-cnt td {
  text-align: left;
  font-size: 18px;
  font-weight: 500;
}
.user-cnt .table-view .prev-cnt td span, .user-cnt .table-view .next-cnt td span {
  margin-left: 10px;
}
.user-cnt .list-thum-type01 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}
.user-cnt .list-thum-type01 li {
  width: calc(50% - 10px);
  margin-bottom: 10px;
}
.user-cnt .list-thum-type01 li .img-box {
  position: relative;
  overflow: hidden;
  height: 240px;
}
.user-cnt .list-thum-type01 li .img-box img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.user-cnt .list-thum-type01 + .paging-wrap {
  margin-top: 30px;
}

.fee-cnt01 .list-thum-type03 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  padding: 40px 0 15px 0;
}
.fee-cnt01 .list-thum-type03 li {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
.fee-cnt01 .list-thum-type03 li .tit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: url(../../images/sub/sub03_01_bg.png) no-repeat right -30px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}
.fee-cnt01 .list-thum-type03 li .cont {
  padding: 30px 0 30px 30px;
  color: #333333;
}
.fee-cnt01 .list-thum-type03 li .cont p {
  font-size: 14px;
  font-weight: 400;
}
.fee-cnt01 .list-thum-type03 li .cont p span {
  position: relative;
  display: inline-block;
  margin-top: 5px;
  font-size: 24px;
  font-weight: 700;
}
.fee-cnt01 .list-thum-type03 li .cont p span.num {
  font-size: 18px;
  font-weight: 700;
}
.fee-cnt01 .list-thum-type03 li .cont p span.num::after {
  content: "";
  display: block;
  clear: both;
  width: 100%;
  height: 1px;
  background-color: #333;
  position: absolute;
  top: 50%;
  left: 0;
}
.fee-cnt01 .list-thum-type03 li .cont p.red {
  margin: 5px 0 20px;
  color: #f31e1e;
  font-size: 24px;
  font-weight: 700;
}
.fee-cnt01 .list-thum-type03 li .cont p.red em {
  position: relative;
  top: -3px;
  display: inline-block;
  padding: 2px 10px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  background-color: #f31e1e;
}
.fee-cnt01 .list-thum-type03 li .cont .icon {
  display: block;
  margin: 90px auto 0;
}
.fee-cnt01 .list-thum-type03 li .cont .txt {
  display: block;
  margin-top: 50px;
  font-size: 14px;
}
.fee-cnt01 .list-thum-type03 li.item-type01 {
  border: 1px solid #3dc8a2;
  background-color: #e5f8f4;
}
.fee-cnt01 .list-thum-type03 li.item-type01 .tit {
  background-color: #3dc8a2;
}
.fee-cnt01 .list-thum-type03 li.item-type02 {
  border: 1px solid #4953e8;
  background-color: #eaebff;
}
.fee-cnt01 .list-thum-type03 li.item-type02 .tit {
  background-color: #4953e8;
}
.fee-cnt01 .list-thum-type03 li.item-type03 {
  border: 1px solid #5a14be;
  background-color: #eee7f7;
}
.fee-cnt01 .list-thum-type03 li.item-type03 .tit {
  background-color: #5a14be;
}
.fee-cnt01 .msg-txt {
  display: block;
  width: 940px;
  margin: 0 auto;
  text-align: right;
}
.fee-cnt01 .msg-txt span {
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}
.fee-cnt01 .msg-txt + .btn-wrap {
  margin: 30px 0 70px 0;
}
.fee-cnt01 .msg-txt.type02 {
  font-size: 20px;
  font-weight: 500;
}
.fee-cnt01 .btn-icon-pen {
  color: #fff;
}

.fee-cnt02 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #f4f4f4;
  padding: 70px 0;
}
.fee-cnt02 .tit {
  margin-bottom: 70px;
}
.fee-cnt02 .tit span {
  font-size: 30px;
  font-weight: 700;
  color: #333333;
}
.fee-cnt02 .input-radio-type01 input[type=radio] + label {
  padding-left: 30px;
  margin-right: 90px;
  font-size: 18px;
  font-weight: 400;
  color: #333333;
}
.fee-cnt02 .input-radio-type01 input[type=radio] + label:last-child {
  margin-right: 0;
}
.fee-cnt02 .fee-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  gap: 40px;
  border-top: 1px solid #e6e6e6;
  padding: 30px 0 20px 0;
  margin-top: 30px;
}
.fee-cnt02 .fee-box .box {
  text-align: center;
  width: 216px;
}
.fee-cnt02 .fee-box .box p {
  font-size: 22px;
  font-weight: 700;
  color: #5a14be;
  margin-bottom: 15px;
}
.fee-cnt02 .fee-box .box.type01 .num-box {
  width: 216px;
  height: 80px;
}
.fee-cnt02 .fee-box .box.type01 .num-box input {
  width: 216px;
  height: 80px;
  font-size: 30px;
  font-weight: 700;
  color: #5a14be;
  text-align: center;
}
.fee-cnt02 .fee-box .box.type02 .num-box {
  height: 80px;
  background-color: #5a14be;
  border-radius: 5px;
}
.fee-cnt02 .fee-box .box.type02 .num-box .value {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  height: 80px;
  color: #fff;
  text-align: center;
}
.fee-cnt02 .msg-txt {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
  line-height: 1.5;
  margin-top: 50px;
}
.fee-cnt02 .msg-txt img {
  margin-right: 7px;
}
.fee-cnt02 .txt-right {
  display: block;
  width: 480px;
  text-align: right;
}

.guide-top .btn-wrap {
  padding: 15px 20px;
  justify-content: flex-start;
}
.guide-top button {
  width: 132px;
  height: 50px;
  color: #fff;
  border-radius: 25px;
  font-weight: 600;
  line-height: 1;
}
.guide-top button.btn-pc {
  background-color: #5a15c0;
}
.guide-top button.btn-app {
  background-color: #282828;
}
.guide-top .guide-title {
  padding: 37px 0;
  color: #fff;
  text-align: center;
  background: url(../../images/sub/guide_bg.png) no-repeat center;
}
.guide-top .guide-title .tit {
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: 600;
}
.guide-top .guide-title .txt {
  font-size: 30px;
}

.guide-ft-logo {
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.guide-page01 .inner {
  width: 960px;
  margin-top: 6.7708333333vw;
}
.guide-page01 .box-wrap .line-box {
  height: 383px;
}
.guide-page01 .line-box {
  cursor: pointer;
}
.guide-page01 .line-box.active {
  border-color: #5a15c0;
  background-color: #f7f4fc;
}

.guide-page02 .guide-title {
  padding: 5px;
}

.event-pop {
  overflow: hidden;
  width: 610px;
  border-radius: 10px;
  border: 1px solid #5416b5;
}
.event-pop .pop-close {
  position: absolute;
  width: 17px;
  height: 17px;
  right: 20px;
  top: 20px;
}
.event-pop .pop-footer {
  padding: 12px 20px;
  color: #fff;
  text-align: right;
  background-color: #161616;
}
.event-pop .mobile-img {
  display: none;
}

@media (max-width: 1280px) {
  .guide-ft-logo {
    right: 10px;
    bottom: 10px;
  }
}
@media (max-width: 1023px) {
  .fee-cnt01 {
    padding: 0 20px;
  }
  .fee-cnt01 .msg-txt {
    width: 100%;
  }
  .fee-cnt01 .msg-txt + .btn-wrap {
    margin: 30px 0 40px;
  }
  .fee-cnt01 .list-thum-type03 {
    padding: 0 0 10px 0;
  }
  .fee-cnt01 .list-thum-type03 li {
    height: auto;
  }
  .fee-cnt01 .list-thum-type03 li .cont {
    padding: 20px 20px 30px;
  }
  .fee-cnt01 .list-thum-type03 li .cont p.red em {
    display: block;
    top: 0;
    width: fit-content;
    margin-top: 5px;
  }
  .fee-cnt01 .list-thum-type03 li .cont .icon {
    margin-top: 25px;
  }
  .user-cnt .tab-menu-type01 {
    margin-top: 0;
  }
  .user-cnt .contents {
    padding: 20px 0 40px;
  }
  .user-cnt .box-wrap {
    gap: 10px;
  }
  .user-cnt .box-wrap .line-box {
    height: auto;
    padding: 40px 0 20px;
  }
  .user-cnt .box-wrap .line-box .img-box {
    margin-left: 0;
    margin-bottom: 30px;
  }
  .user-cnt .box-wrap .line-box .desc {
    padding: 0;
    margin-top: 20px;
    line-height: 1.5;
  }
  .user-cnt .box-wrap .line-box:nth-child(2) {
    padding: 26px 0 20px;
  }
  .user-cnt .box-wrap .line-box .btn-wrap {
    width: calc(100% - 40px);
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .fee-cnt01 .list-thum-type03 {
    flex-direction: column;
  }
  .fee-cnt01 .list-thum-type03 li {
    width: 100%;
  }
  .fee-cnt01 .list-thum-type03 li .tit {
    height: 62px;
    font-size: 24px;
  }
  .fee-cnt01 .list-thum-type03 li .cont {
    padding: 20px;
  }
  .fee-cnt01 .list-thum-type03 li .cont p span {
    margin-top: 5px;
    font-size: 22px;
  }
  .fee-cnt01 .list-thum-type03 li .cont p span.num {
    margin-top: 15px;
    font-size: 16px;
  }
  .fee-cnt01 .list-thum-type03 li .cont p.red {
    margin: 5px 0 15px;
    font-size: 22px;
  }
  .fee-cnt01 .list-thum-type03 li .cont p.red em {
    display: inline-block;
    font-size: 14px;
  }
  .fee-cnt01 .list-thum-type03 li .cont .icon {
    margin-top: 0;
  }
  .fee-cnt01 .msg-txt span {
    font-size: 14px;
  }
  .fee-cnt01 .msg-txt + .btn-wrap {
    margin: 20px 0 30px;
  }
  .fee-cnt01 .msg-txt + .btn-wrap a {
    height: 45px;
    font-size: 16px;
  }
  .fee-cnt01 .msg-txt + .btn-wrap img {
    width: 14px;
    height: 16px;
    margin-right: 7px;
  }
  .event-pop {
    width: 320px;
  }
  .event-pop .pc-img {
    display: none;
  }
  .event-pop .mobile-img {
    display: block;
  }
  .user-cnt .tab-menu-type01 li a {
    height: 40px;
    font-size: 14px;
  }
  .user-cnt .box-wrap .line-box {
    padding: 30px 0 10px;
  }
  .user-cnt .box-wrap .line-box .tit {
    font-size: 16px;
  }
  .user-cnt .box-wrap .line-box .tit .underline {
    margin-bottom: 5px;
    font-size: 13px;
  }
  .user-cnt .box-wrap .line-box .desc {
    height: 54px;
    font-size: 12px;
  }
  .user-cnt .box-wrap .line-box .img-box img {
    width: 100%;
  }
  .user-cnt .box-wrap .line-box:nth-child(1) .img-box {
    width: 56px;
  }
  .user-cnt .box-wrap .line-box:nth-child(2) {
    padding: 23px 0 10px;
  }
  .user-cnt .box-wrap .line-box:nth-child(2) .img-box {
    width: 44px;
  }
  .user-cnt .box-wrap .line-box .btn-wrap {
    width: calc(100% - 20px);
  }
  .user-cnt .box-wrap .line-box .btn-wrap a {
    height: 35px;
    font-size: 14px;
  }
  .user-cnt .box-wrap .line-box .btn-wrap img {
    width: 11px;
    margin-right: 7px;
  }
}