@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url(../css/font.css);
/* range slider */
.range-bar {
  background: #dddddd;
  border: none !important;
  width: 100%;
  height: 4px;
  margin: 30px 20px !important;
  border-radius: 0 !important;
  position: relative;
}
.range-bar .ui-slider-handle {
  position: absolute;
  width: 30px;
  height: 30px;
  top: -12px;
  margin-left: 0;
  background: url(../../images/sub/range-handle.png) no-repeat;
  background-size: contain;
  outline: none;
  transform: translateX(-50%);
}
.range-bar .ui-slider-range {
  background-color: #5a14be;
  height: 4px;
}

/* btn-step */
.btn-step.next {
  background: #5a14be url(../../images/common/ico_arrow_step_next.png) no-repeat right 20px center;
  padding-left: 0;
  padding-right: 30px;
}
.btn-step.end {
  background: #5a14be;
  padding-left: 0;
}

/* btn-line */
.btn-line {
  height: 40px;
  color: #333333;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
}
.btn-line.active {
  background-color: #ebe3ff;
  color: #5a14be;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid #dbcbf3;
}

/* btn-star */
.btn-star {
  width: 16px;
  height: 15px;
  background: url(../../images/sub/ic-btn-star-off.png) no-repeat center center;
  background-size: contain;
}
.btn-star.active {
  background: url(../../images/sub/ic-btn-star-on.png) no-repeat center center;
}

/* que-badge */
.que-badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  height: 26px;
  padding: 0 13px;
  border-radius: 13px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 500;
  line-height: 26px;
}
.que-badge.yellow {
  background-color: #fff6dc;
  color: #bb7b00;
}
.que-badge.green {
  background-color: #bfebdf;
  color: #1b9372;
}
.que-badge.blue {
  background-color: #d8e1f7;
  color: #4b70c9;
}
.que-badge.gray {
  background-color: #e8e8e8;
  color: #666666;
}

/* que */
.full-pop-que {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #f8f8f8;
}
.full-pop-que .full-pop-wrap {
  max-width: 1280px;
  padding: 10px 20px;
  margin: 0 auto;
  box-sizing: border-box;
  /* 레이어 팝업으로 인한 z-index 추가 */
}
.full-pop-que .full-pop-wrap .tab-wrap::after {
  display: none;
}
.full-pop-que .full-pop-wrap .pop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.full-pop-que .full-pop-wrap .pop-header .title {
  display: flex;
  align-items: center;
  gap: 30px;
}
.full-pop-que .full-pop-wrap .pop-header .title li {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  color: #6a6a6a;
}
.full-pop-que .full-pop-wrap .pop-header .title li::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 50%;
  right: -19px;
  width: 11px;
  height: 1px;
  background-color: #d2d2d2;
}
.full-pop-que .full-pop-wrap .pop-header .title li.active {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}
.full-pop-que .full-pop-wrap .pop-header .title li.active img {
  margin-right: 5px;
}
.full-pop-que .full-pop-wrap .pop-header .title li:nth-last-child(1)::before {
  display: none;
}
.full-pop-que .full-pop-wrap .pop-header .pop-btn {
  width: 32px;
  height: 32px;
  background: url(../../images/sub/ico_full_pop_close.png) no-repeat;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #fff;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box {
  width: 800px;
  height: 772px;
  border: 1px solid #dbcbf3;
  box-sizing: border-box;
  overflow-y: auto;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box {
    height: 578px;
  }
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt {
  width: 100%;
  overflow-y: auto;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .check-group {
  position: relative;
  padding: 10px 0 10px 20px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .check-group::before {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  top: 16px;
  left: 0;
  width: 13px;
  height: 7px;
  background: url("../../images/common/select_arrow.png") no-repeat;
  transform: rotate(-90deg);
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .check-group.title {
  background-color: #f6f6f6;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .check-group.title::before {
  left: 25px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .check-group.title .title-chk {
  padding-left: 25px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .check-group.on::before {
  transform: rotate(0);
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .depth02 {
  display: none;
  padding-left: 55px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .depth03, .full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .depth04, .full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt .depth05 {
  display: none;
  padding-left: 30px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt input[type=checkbox] + label {
  padding-left: 30px;
  font-size: 16px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt input[type=checkbox] + label::before {
  width: 20px;
  height: 20px;
  margin-top: -9px;
  border-radius: 3px;
  background: url(../../images/common/input_checkbox.png) no-repeat;
  background-size: contain;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt input[type=checkbox] + label .num {
  font-size: 13px;
  font-weight: 400;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt input[type=checkbox]:checked + label .dep-btn, .full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt input[type=checkbox]:checked + label span {
  color: #5a14be;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .unit-box .unit-cnt input[type=checkbox]:checked + label::before {
  background: url(../../images/common/input_checkbox_chk.png) no-repeat;
  background-size: contain;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box {
  width: 440px;
  height: 772px;
  border: 1px solid #dddddd;
  box-sizing: border-box;
  padding: 0 30px;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box {
    height: 578px;
  }
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box {
  padding: 25px 0;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .btn-wrap .btn-line {
  flex-grow: 1;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap .tit-text {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap .right-area {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap .right-area .tooltip-wrap {
  padding: 5px 0;
  margin-right: 5px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap .right-area .tooltip-wrap .tooltip {
  text-align: center;
  z-index: 3;
  left: -141px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap .right-area .tooltip-wrap .tooltip::before {
  left: 198px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap .right-area .toggle-wrap {
  display: inline-flex;
  align-items: center;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap .right-area .toggle-wrap .tit {
  font-size: 16px;
  font-weight: 600;
  margin-right: 10px;
  line-height: 29px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .title-wrap .right-area .toggle-wrap .tit.on {
  color: #5a14be;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  margin-top: 28px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range {
  flex-grow: 1;
  text-align: center;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range .bar {
  display: block;
  width: 100%;
  height: 5px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range .tit {
  display: block;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(1) .bar {
  background-color: #50acfb;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(1) .tit {
  color: #50acfb;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(2) .bar {
  background-color: #4b70c9;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(2) .tit {
  color: #4b70c9;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(3) .bar {
  background-color: #1b9372;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(3) .tit {
  color: #1b9372;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(4) .bar {
  background-color: #ff9314;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(4) .tit {
  color: #ff9314;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(5) .bar {
  background-color: #fc5a28;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .range-wrap .range:nth-child(5) .tit {
  color: #fc5a28;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .gray-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f6f6;
  margin-top: 10px;
  height: 50px;
  border-radius: 5px;
  padding: 0 15px;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .gray-box .num {
  font-size: 16px;
  font-weight: 600;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box .gray-box .num input {
  width: 50px;
  margin: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: #5a14be;
  text-align: center;
}
.full-pop-que .full-pop-wrap .pop-content .tab-wrap .contents .unit-box-wrap .type-box .box + .box {
  border-top: 1px solid #dddddd;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box {
  width: calc(50% - 5px);
  height: 824px;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  box-sizing: border-box;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box {
    height: 630px;
  }
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-top .title {
  font-size: 20px;
  font-weight: 600;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-top .right-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-top .right-area .toggle-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-top .right-area .toggle-wrap .toggle-btn {
  margin-right: 5px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list {
  overflow-y: auto;
  margin: 0 30px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list.scroll-inner {
  height: 687px;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list.scroll-inner {
    height: 493px;
  }
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 15px 20px;
  background-color: #fff;
  /* view-que active */
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-top .title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-top .title .num {
  font-size: 16px;
  font-weight: 700;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-top .title .que-badge-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-top .btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  gap: 24px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-top .btn-wrap .btn-error {
  width: 26px;
  height: 21px;
  background: url(../../images/sub/ic_btn_error.png) no-repeat;
  background-size: contain;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-top .btn-wrap .btn-delete {
  width: 17px;
  height: 20px;
  background: url(../../images/sub/ic_btn_delete.png) no-repeat;
  background-size: contain;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-content {
  padding: 20px 0;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-content .txt {
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-content ul {
  margin-top: 15px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-content ul ol + ol {
  margin-top: 15px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-bottom .que-info .answer .label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 24px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  line-height: 24px;
  margin-right: 5px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-bottom .que-info .chapter {
  font-size: 14px;
  font-weight: 400;
  color: #999;
  margin-top: 7px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que .que-bottom .btn-que {
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background: url(../../images/sub/ic_btn_que.png) center center no-repeat;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que em {
  font-size: 12px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que + .view-que {
  margin-top: 20px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que.active {
  border: 2px solid #5a14be;
  background-color: #fcfaff;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-que-list .view-que.active .que-bottom .btn-que {
  border: 1px solid #5a14be;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-bottom {
  width: 100%;
  height: 56px;
  border-top: 1px solid #dddddd;
  padding: 0 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-badge-group {
  display: flex;
  align-items: center;
  gap: 20px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-badge-group .que-badge-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-badge-group .que-badge-wrap .que-badge {
  min-width: 24px;
  height: 24px;
  border-radius: 12px;
  padding: 0;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-bottom .que-badge-group .que-badge-wrap .num {
  font-size: 16px;
  font-weight: 500;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-bottom .total-num {
  font-size: 16px;
  font-weight: 500;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .view-bottom .total-num span {
  font-size: 16px;
  font-weight: 700;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table {
  width: calc(100% - 60px);
  overflow-y: auto;
  border: 1px solid #dddddd;
  background-color: #fff;
  border-radius: 5px;
  border-bottom: 0;
  margin: 0 30px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .col {
  font-size: 14px;
  font-weight: 400;
  box-sizing: border-box;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .col.active {
  border: 1px solid #5a14be;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .fix-head, .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .col {
  display: flex;
  width: 100%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table span:nth-child(1) {
  width: 8%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table span:nth-child(2) {
  width: 45%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table span:nth-child(3) {
  width: 4%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table span:nth-child(4) {
  width: 21%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table span:nth-child(5) {
  width: 7%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table span:nth-child(6) {
  width: 15%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .fix-head {
  border-bottom: 1px solid #dddddd;
  background-color: #f2f2f2;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .fix-head span {
  padding: 11px 0;
  font-weight: 600;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .col {
  border-bottom: 1px solid #dddddd;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .col span {
  padding: 13px 0;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .col span:nth-child(2) {
  justify-content: flex-start;
  padding: 13px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .tbody {
  background-color: #fff;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table.half-type .scroll-inner {
  height: 619px;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table.half-type .scroll-inner {
    height: 426px;
  }
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table.half-type span:nth-child(1) {
  width: 12%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table.half-type span:nth-child(2) {
  width: 7%;
  padding: 0;
  justify-content: center;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table.half-type span:nth-child(3) {
  width: 55%;
  padding: 13px 27px;
  justify-content: flex-start;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table.half-type span:nth-child(4) {
  width: 13%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table.half-type span:nth-child(5) {
  width: 13%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table.half-type a {
  display: flex;
  width: 100%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .dragHandle {
  cursor: move;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .table .myDragClass {
  box-shadow: 1px 1px 9.9px 0.1px rgba(0, 0, 0, 0.34);
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 {
  background-color: #f6f3fa;
  border: 1px solid #d2c6e4;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .tab-menu-type03 {
  background-color: #fff;
  margin: 20px 30px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-top {
  padding-top: 0;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-top .select-btn {
  width: 130px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-top + .view-que-list.scroll-inner {
  height: 626px;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-top + .view-que-list.scroll-inner {
    height: 432px;
  }
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-que-list .btn-wrap button + button {
  margin-left: 10px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-que-list.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 687px;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-que-list.no-data {
    height: 493px;
  }
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-que-list.no-data .ic-no-data {
  display: block;
  width: 110px;
  height: 110px;
  background: url(../../images/sub/ic_que_no_data.png) center center no-repeat;
  background-size: contain;
  margin-bottom: 18px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-que-list.no-data p {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box.type02 .view-bottom .que-badge-group .que-badge-wrap .que-badge {
  min-width: 45px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list {
  padding: 0 30px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list > li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 0;
  border-top: 1px solid #dddddd;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list > li:nth-child(1) {
  padding: 20px 0 25px 0;
  border-top: 0;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .tit {
  display: inline-flex;
  align-items: center;
  width: 92px;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  padding-top: 13px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .tit .tooltip-wrap .btn-tip {
  margin-left: 5px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .tit .tooltip-wrap .tooltip {
  left: -47px;
  z-index: 2;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .opt-wrap {
  width: 100%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .opt-wrap .form-txt-error {
  display: block;
  color: #fc3812;
  margin-top: 7px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .opt-wrap .ip-name {
  margin-right: 18px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .opt-wrap .sel-label {
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .opt-wrap .select-btn {
  width: 90px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-wrap {
  flex-wrap: wrap;
  justify-content: start;
  gap: 10px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-wrap .btn-line {
  flex-shrink: 0;
  width: 84px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .range-wrap {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 365px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .range-wrap span {
  font-size: 14px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .check-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .check-wrap .check-group {
  display: inline-block;
  width: 150px;
  margin-bottom: 20px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .check-wrap .check-group label {
  font-size: 16px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-color-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-color-wrap .btn-color {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-color-wrap .btn-color.type01 {
  background-color: #e84a1f;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-color-wrap .btn-color.type02 {
  background-color: #f0bf14;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-color-wrap .btn-color.type03 {
  background-color: #8abc04;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-color-wrap .btn-color.type04 {
  background-color: #04b6bc;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .btn-color-wrap .btn-color.type05 {
  background-color: #828282;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper {
  overflow: hidden;
  width: 100%;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-container {
  width: 375px;
  overflow: hidden;
  margin: 0 auto;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-container .swiper-slide {
  position: relative;
  border: 1px solid #dddddd;
  border-radius: 3px;
  box-sizing: border-box;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-container .swiper-slide.swiper-slide-active {
  border: 1px solid #5a14be;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-container .swiper-slide.swiper-slide-active .btn-star {
  background: url(../../images/sub/ic-btn-star-on.png) no-repeat center center;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-container .swiper-slide .btn-star {
  position: absolute;
  right: 6px;
  bottom: 7px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-button-next, .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-button-prev {
  top: 50%;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #4a4a4a url(../../images/common/ico_arrow_w_lg.png) no-repeat center;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-button-next:hover, .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-button-prev:hover {
  background-color: #5a14be;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-button-prev, .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-rtl .swiper-button-next {
  left: 0;
  transform: rotate(-180deg);
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-button-next, .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-rtl .swiper-button-prev {
  right: 0;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-button-prev:after, .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-rtl .swiper-button-next:after, .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-button-next:after, .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .que-setting-list .template-swiper .swiper-rtl .swiper-button-prev:after {
  display: none;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .preview-box .tit {
  display: block;
  display: flex;
  align-items: center;
  padding: 30px 50px 20px 50px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .preview-box .tit span {
  font-size: 20px;
  font-weight: 600;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .preview-box .tit .preview-file {
  display: inline-block;
  width: 20px;
  height: 22px;
  background: url(../../images/sub/ic-preview-file.png) no-repeat;
  background-size: contain;
  margin-right: 13px;
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .preview-box .img-box {
  width: 100%;
  height: 731px;
  text-align: center;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .preview-box .img-box {
    height: 537px;
  }
}
.full-pop-que .full-pop-wrap .pop-content .view-box-wrap .view-box .preview-box .img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .tab-top {
  background-color: #fff;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .tab-top .search-box {
  width: 250px;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .table {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .table .col span {
  padding: 22px 0;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .table .col span:nth-child(2) {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .table span:nth-child(1) {
  width: 12%;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .table span:nth-child(2) {
  width: 60%;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .table span:nth-child(3) {
  width: 7%;
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .table .scroll-inner {
  height: 638px;
}
@media (max-width: 1280px) {
  .full-pop-que .full-pop-wrap .pop-content.cnt02 .table .scroll-inner {
    height: 444px;
  }
}
.full-pop-que .full-pop-wrap .pop-content.cnt02 .view-box-wrap {
  background-color: #fff;
  padding: 13px 30px 20px 20px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.full-pop-que .full-pop-wrap .step-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}
.full-pop-que .full-pop-wrap .step-btn-wrap.single {
  display: flex;
  justify-content: flex-end;
}
.full-pop-que .full-pop-wrap .toggle-btn {
  z-index: 0;
}

/* popup has-check */
.pop-wrap.alert-type.has-check .check-wrap {
  padding-bottom: 50px;
}
.pop-wrap.alert-type.has-check .check-wrap label {
  font-size: 16px;
}