@charset "UTF-8";
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
/**
	* Computes a CSS calc function that betweens a value from
	* A to B over viewport-width A to viewport-width B.
	* Requires a media query to cap the value at B.
	* vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을
	* 계산해주는 SASS 함수.
	* 간격이나 폰트사이즈에 적용하면 자연스러운
	* 반응형 사이즈 처리가 가능 함.
	* 참고사이트 http://dohoons.com/blog/1364
	*/
/**
	* Read the article: http://sassbreak.com/viewport-relative-headings-with-sass
	* px 를 vw 로 자동으로 바꿔 줌.
	* max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨.
	* 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨.
	* 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨.
	* 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/
	*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
.serv-cnt .tab-menu-type01 {
  width: 100%;
}
.serv-cnt .tab-menu-type01 li {
  width: 100%;
}
.serv-cnt .tab-menu-type01 li a {
  width: 100%;
}
.serv-cnt .contents {
  margin: 50px auto 110px;
}
.serv-cnt .sub-tit {
  font-size: 36px;
  font-weight: 700;
  color: #333333;
  line-height: 48px;
  letter-spacing: -0.025em;
}
.serv-cnt .tab-wrap {
  margin: 30px 0;
}
.serv-cnt .tab-wrap .tab-wrap {
  text-align: center;
}
.serv-cnt .paging-wrap {
  margin-top: 30px;
}
.serv-cnt .table-list table {
  border-bottom: 1px solid #e6e6e6;
}
.serv-cnt .table-view {
  padding-top: 30px;
}
.serv-cnt .table-tit {
  padding-top: 50px;
}
.serv-cnt .faq-list {
  width: 100%;
  text-align: left;
  border-top: 2px solid #282828;
  margin-bottom: 30px;
}
.serv-cnt .faq-list ul li {
  border-bottom: 1px solid #e6e6e6;
}
.serv-cnt .faq-list ul li .acc-btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  text-align: left;
  height: 80px;
  padding: 0 30px;
  cursor: pointer;
}
.serv-cnt .faq-list ul li .acc-btn::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  right: 40px;
  top: 50%;
  width: 10px;
  height: 17px;
  margin-top: -8px;
  background: url(../../images/common/ico_arrow_book_paging.png) no-repeat;
  transform: rotate(-90deg);
}
.serv-cnt .faq-list ul li .acc-btn em {
  display: inline-block;
  margin-right: 10px;
  color: #5a14be;
}
.serv-cnt .faq-list ul li .acc-btn.active::after {
  transform: rotate(90deg);
}
.serv-cnt .faq-list ul li .cnt {
  display: none;
  padding: 25px 30px;
  background-color: #f4f4f4;
  border-radius: 10px;
  margin: 0 30px 35px;
}
.serv-cnt .faq-list ul li .cnt span {
  line-height: 26px;
}
.serv-cnt .table-form.tbl_flex_type {
  width: 100%;
  border-top: 2px solid #333333;
}
.serv-cnt .table-form > div {
  width: 100%;
}
.serv-cnt .table-form > div .row {
  width: 100%;
  display: flex;
  align-items: center;
}
.serv-cnt .table-form > div .row.wide .tr .tit,
.serv-cnt .table-form > div .row.wide .tr .cnt {
  height: 93px;
}
.serv-cnt .table-form > div .row.wide .tr .tit {
  padding: 35px 25px;
  white-space: nowrap;
}
.serv-cnt .table-form > div .row.wide .tr .cnt {
  padding: 25px 20px;
}
.serv-cnt .table-form > div .row.wide .tr .cnt.small {
  padding: 10px 20px;
}
.serv-cnt .table-form > div .row .tr {
  width: 50%;
  display: flex;
  align-items: center;
}
.serv-cnt .table-form > div .row .tr .tit,
.serv-cnt .table-form > div .row .tr .cnt {
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
  box-sizing: border-box;
}
.serv-cnt .table-form > div .row .tr .tit {
  width: 120px;
  padding: 20px;
  display: inline-block;
  vertical-align: middle;
  background-color: #f7f7f7;
}
.serv-cnt .table-form > div .row .tr .tit em {
  position: relative;
  top: -11px;
  left: 4px;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: #5a14be;
}
.serv-cnt .table-form > div .row .tr .cnt {
  width: 500px;
  padding: 10px 20px;
}
.serv-cnt .table-form > div .row .tr .cnt .stan {
  position: relative;
}
.serv-cnt .table-form > div .row .tr .cnt .stan .time-txt {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #fc3812;
}
.serv-cnt .table-form .form-txt-error {
  padding: 10px 0;
  display: block;
}
.serv-cnt .table-form .select-btn.w188 {
  width: 188px;
}
.serv-cnt .table-form input[type=text].w68,
.serv-cnt .table-form input[type=number].w68 {
  width: 68px;
}
.serv-cnt .table-form input[type=text].w188,
.serv-cnt .table-form input[type=number].w188 {
  width: 188px;
}
.serv-cnt .table-form input[type=text].w325,
.serv-cnt .table-form input[type=number].w325 {
  width: 325px;
}
.serv-cnt .table-form input[type=text].w458,
.serv-cnt .table-form input[type=number].w458 {
  width: 458px;
}
@media (max-width: 1240px) {
  .serv-cnt .table-form.tbl_flex_type > div .row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .serv-cnt .table-form.tbl_flex_type > div .row .tr {
    width: 100%;
  }
  .serv-cnt .table-form.tbl_flex_type > div .row .tr .tit {
    width: 140px;
  }
  .serv-cnt .table-form.tbl_flex_type > div .row .tr .cnt {
    width: 100%;
  }
}
.serv-cnt .text-box {
  margin: 20px 0;
}
.serv-cnt .text-box textarea {
  width: 100%;
  padding: 20px;
  resize: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  border-radius: 8px;
  border: 1px solid #959595;
}
.serv-cnt .line {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  margin-bottom: 20px;
}

.free-cnt {
  padding-bottom: 117px;
}
.free-cnt .btn-wrap {
  margin-top: 50px;
}
.free-cnt .input-radio-type01 {
  text-align: center;
}
.free-cnt .ui-datepicker {
  width: 486px;
}
.free-cnt .ui-widget.ui-widget-content {
  margin: auto;
  border: none;
}
.free-cnt .ui-datepicker .ui-datepicker-header {
  border: none;
  background-color: transparent;
}
.free-cnt .ui-datepicker .ui-datepicker-title {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
}
.free-cnt .ui-datepicker .ui-datepicker-prev, .free-cnt .ui-datepicker .ui-datepicker-next {
  overflow: hidden;
  width: 29px;
  height: 29px;
  border-radius: 100%;
}
.free-cnt .ui-widget-header .ui-icon {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  background: #282828 url(../../images/common/ico_arrow_w_type02.png) no-repeat 49% 50%;
  background-size: 7px 11px;
}
.free-cnt .ui-datepicker .ui-datepicker-prev-hover .ui-icon, .free-cnt .ui-datepicker .ui-datepicker-next-hover .ui-icon {
  background-color: #5a14be;
}
.free-cnt .ui-datepicker-next {
  transform: rotate(-180deg);
}
.free-cnt .ui-datepicker-week-end {
  color: #fc3812;
}
.free-cnt .ui-datepicker-week-end:last-child {
  color: #1669e7;
}
.free-cnt .ui-state-default, .free-cnt .ui-widget-content .ui-state-default, .free-cnt .ui-widget-header .ui-state-default, .free-cnt .ui-button, .free-cnt html .ui-button.ui-state-disabled:hover, .free-cnt html .ui-button.ui-state-disabled:active {
  border: none;
  text-align: center;
  background: transparent;
}
.free-cnt .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
  color: #333;
  background: transparent;
}
.free-cnt .ui-state-highlight, .free-cnt .ui-widget-content .ui-state-highlight, .free-cnt .ui-widget-header .ui-state-highlight, .free-cnt .ui-datepicker-today {
  border: none;
  background-color: #e7ddf5;
  opacity: 1;
}
.free-cnt .ui-datepicker-current-day, .free-cnt .ui-state-active {
  background: #e7ddf5 url(../../images/sub/calendar_bg.png) no-repeat left center !important;
}
.free-cnt .ui-datepicker-current-day a, .free-cnt .ui-state-active a {
  color: #fff !important;
}
.free-cnt .ui-datepicker-calendar {
  margin-top: 40px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
}
.free-cnt .ui-datepicker td {
  height: 42px;
  padding: 0;
  cursor: pointer;
}
.free-cnt .hasDatepicker {
  padding: 30px 0 10px;
  margin-bottom: 75px;
  border-top: 2px solid #000;
  border-bottom: 1px solid #e1e1e1;
}

@media screen and (max-width: 1023px) {
  .sub-top {
    height: 174px;
    margin-top: 0;
    padding-top: 67px;
  }
  .sub-top.txt-1 {
    padding-top: 82px;
  }
  .title-wrap {
    top: -20px;
    width: calc(100% - 40px);
  }
  .free-cnt .table-form {
    margin-bottom: 30px;
  }
  .free-cnt .table-form table th, .free-cnt .table-form table td {
    padding: 10px;
  }
  .free-cnt .table-form table th {
    width: 22%;
    vertical-align: middle;
  }
  .free-cnt .btn-line-type01 {
    font-size: 14px;
  }
  .free-cnt input[type=text], .free-cnt input[type=number], .free-cnt input[type=password] {
    padding: 13px 12px;
    font-size: 14px;
  }
  .free-cnt input[type=text].w392, .free-cnt input[type=number].w392, .free-cnt input[type=password].w392 {
    width: 287px;
  }
  .num-input-box {
    position: relative;
  }
  .num-input-box input[type=text] {
    padding-right: 50px;
  }
  .num-input-box .time-wrap {
    position: absolute;
    top: 50%;
    right: 10px;
    color: #fc3812;
    font-size: 15px;
    transform: translateY(-50%);
  }
  .input-box.type02 {
    gap: 10px;
  }
  .input-radio-type01 + .form-txt-error {
    display: block;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
  }
  .pop-wrap.content-type {
    width: 83%;
  }
  .pop-wrap.alert-type.img-type .pop-content .tit {
    font-size: 18px;
    text-align: center;
    line-height: 1.4;
  }
}
@media screen and (max-width: 767px) {
  .sub-top {
    height: 166px;
    padding-top: 72px;
  }
  .sub-top .txt {
    font-size: 16px;
  }
  .title-wrap {
    padding: 12px 0;
    margin-bottom: 10px;
    justify-content: center;
  }
  .title-wrap .loacation {
    display: none;
  }
  .title-wrap .tit {
    font-size: 16px;
  }
  .free-cnt {
    padding-bottom: 30px;
  }
  .free-cnt .table-tit {
    margin-bottom: 10px;
  }
  .free-cnt .table-tit .tit {
    padding-left: 10px;
    font-size: 16px;
  }
  .free-cnt .table-tit .tit::before {
    width: 5px;
    height: 9px;
  }
  .free-cnt .table-tit .txt {
    font-size: 12px;
  }
  .free-cnt .table-form table th, .free-cnt .table-form table td {
    display: flex;
    width: 100%;
    height: auto;
    border-bottom: 0;
  }
  .free-cnt .table-form table th {
    padding: 15px 10px 5px;
    font-size: 15px;
    background-color: #fff;
  }
  .free-cnt .table-form table th em {
    top: 0;
  }
  .free-cnt .table-form table td {
    padding: 5px 10px 0;
    font-size: 14px;
  }
  .free-cnt .table-form table td.column-type {
    flex-direction: column;
  }
  .free-cnt .table-form table td.column-type .form-txt-error {
    display: flex;
    padding-left: 0;
    margin-top: 20px;
    font-size: 12px;
  }
  .free-cnt .table-form table td.column-type .form-txt-error img {
    top: 0;
    height: 16px;
  }
  .free-cnt .table-form table td.column-type .input-radio-type01 {
    text-align: left;
  }
  .free-cnt .table-form span {
    padding: 0 5px;
  }
  .free-cnt .table-form input[type=text], .free-cnt .table-form input[type=number], .free-cnt .table-form input[type=password] {
    width: 100%;
    height: 34px;
  }
  .free-cnt .table-form .select-btn {
    padding: 10px;
    height: 34px;
  }
  .free-cnt .table-form .select-btn.w138 {
    width: 95px;
  }
  .free-cnt .table-form .select-btn.w88 {
    width: 68px;
  }
  .free-cnt .table-form .select-btn::after {
    width: 9px;
    height: 5px;
    margin-top: -2px;
    right: 10px;
  }
  .free-cnt .table-form .btn-line-type01 {
    flex: none;
    width: 70px;
    height: 34px;
    margin-left: 5px;
  }
  .free-cnt .table-form .input-box {
    width: 100%;
  }
  .free-cnt .table-form .input-box.type02 {
    gap: 5px;
  }
  .free-cnt .table-form .input-box.type02 .select-wrap {
    width: 50%;
  }
  .free-cnt .table-form .input-box.type02 .select-wrap .select-btn {
    width: 100%;
  }
  .free-cnt .table-form .input-box.type03 {
    flex-wrap: wrap;
  }
  .free-cnt .table-form .input-box.type03 input[type=text] {
    width: 75%;
  }
  .free-cnt .table-form .input-box.type03 input[type=password] {
    width: 100%;
  }
  .free-cnt .table-form .input-box.type03 input[type=number] {
    width: 96px;
  }
  .free-cnt .table-form .input-box.type03 input[type=number] + .btn-line-type01 {
    width: 100%;
    margin-left: 0;
    margin-top: 5px;
  }
  .free-cnt .table-form .input-box.type03 .form-txt-check, .free-cnt .table-form .input-box.type03 .form-txt-error {
    margin-left: 0;
    margin-top: 10px;
    padding-left: 0;
  }
  .free-cnt .table-form .input-box.type03 .num-input-box {
    width: 100%;
  }
  .free-cnt .table-form .input-box.type03 .num-input-box input {
    width: 100%;
  }
  .free-cnt .table-form .input-box.type03 .num-input-box + .btn-line-type01 {
    width: 100%;
    margin-left: 0;
    margin-top: 5px;
  }
  .free-cnt .table-form .select-wrap .select-list {
    top: 31px;
  }
  .free-cnt .table-form.column-type {
    margin-bottom: 10px;
  }
  .free-cnt .table-form.column-type table th, .free-cnt .table-form.column-type table td {
    border-bottom: 1px solid #e1e1e1;
  }
  .free-cnt .table-form.column-type table th {
    padding: 15px 10px 10px;
  }
  .free-cnt .table-form.column-type table td {
    padding: 10px;
    flex-direction: column;
  }
  .free-cnt .input-radio-type01 {
    font-size: 14px;
  }
  .free-cnt .btn-wrap {
    margin-top: 20px;
  }
  .free-cnt .btn-wrap button {
    width: 100%;
    height: 45px;
    font-size: 16px;
  }
  .pop-wrap .pop-close {
    width: 17px;
    height: 17px;
  }
  .pop-wrap.content-type {
    width: 90%;
  }
  .pop-wrap.content-type .pop-header {
    padding: 20px 0;
    margin: 0 20px;
  }
  .pop-wrap.content-type .pop-content {
    margin: 20px;
  }
  .pop-wrap.content-type .pop-content.privacy-txt-wrap .scroll-inner {
    font-size: 14px;
  }
  .pop-wrap.content-type .pop-content.privacy-txt-wrap .scroll-inner.pr0 {
    padding-right: 0;
  }
  .pop-wrap.search-type {
    overflow: hidden;
    width: 90%;
    border-radius: 10px 10px 0 0;
  }
  .pop-wrap.search-type .pop-header {
    height: 57px;
  }
  .pop-wrap.search-type .pop-header .tit {
    font-size: 18px;
  }
  .pop-wrap.search-type .pop-content {
    padding: 10px;
  }
  .pop-wrap.search-type .pop-content .tab-menu-type01 {
    width: 100%;
  }
  .pop-wrap.search-type .pop-content .tab-menu-type01 li {
    width: 50%;
  }
  .pop-wrap.search-type .pop-content .tab-menu-type01 li a {
    width: 100%;
    height: 40px;
    font-size: 14px;
  }
  .pop-wrap.search-type .pop-content .search-wrap {
    padding: 0;
    margin-top: 10px;
    border: 0;
    background-color: #fff;
  }
  .pop-wrap.search-type .pop-content .search-wrap input {
    width: calc(100% - 75px);
    height: 34px;
    font-size: 14px;
  }
  .pop-wrap.search-type .pop-content .btn-default-type01 {
    width: 70px;
    height: 34px;
    font-size: 14px;
  }
  .pop-wrap.search-type .pop-content .table-top {
    margin-bottom: 0;
    font-size: 14px;
  }
  .pop-wrap.search-type .pop-content .table-top .select-wrap .select-btn {
    width: 121px;
    height: 34px;
    padding: 10px;
  }
  .pop-wrap.search-type .pop-content .table-top .select-wrap .select-btn::after {
    right: 10px;
    width: 11px;
    margin-top: -2px;
  }
  .pop-wrap.search-type .pop-content table tr, .pop-wrap.search-type .pop-content table td {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .pop-wrap.search-type .pop-content table tr + tr {
    border-top: 1px solid #e1e1e1;
  }
  .pop-wrap.search-type .pop-content table td {
    height: auto;
    border-top: 0;
  }
  .pop-wrap.search-type .pop-content table td:nth-child(1) {
    order: 2;
    padding: 5px 0 20px;
  }
  .pop-wrap.search-type .pop-content table td:last-child {
    order: 1;
    padding: 20px 5px 0;
    text-align: left;
    font-size: 15px;
  }
  .pop-wrap.search-type .pop-content table td div {
    display: flex;
    gap: 5px;
    align-items: flex-start;
  }
  .pop-wrap.search-type .pop-content table td div span {
    padding-top: 5px;
    font-size: 13px;
    line-height: 1.3;
  }
  .pop-wrap.search-type .pop-content table td div span:nth-child(1) {
    width: 42px;
    height: 21px;
    padding-top: 0;
    margin-right: 0;
    font-size: 12px;
  }
  .pop-wrap.search-type .table-list .scroll-inner {
    max-height: 480px;
  }
  .pop-wrap.alert-type.img-type {
    width: 90%;
  }
  .pop-wrap.alert-type.img-type .form-txt-error {
    font-size: 14px;
  }
}