@charset "UTF-8";
/** Computes a CSS calc function that betweens a value from A to B over viewport-width A to viewport-width B. Requires a media query to cap the value at B. vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을 계산해주는 SASS 함수. 간격이나 폰트사이즈에 적용하면 자연스러운 반응형 사이즈 처리가 가능 함. 참고사이트 http://dohoons.com/blog/1364 */
/** Read the article: http://sassbreak.com/viewport-relative-headings-with-sass px 를 vw 로 자동으로 바꿔 줌. max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨. 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨. 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨. 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/ */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
.h1 { margin-bottom: 10px; font-size: 40px; font-weight: 700; color: #5a14be; }

.h2 { margin-bottom: 10px; font-size: 40px; font-weight: 500; color: #3dc8a2; }

.h3 { margin-bottom: 10px; font-size: 30px; font-weight: 700; color: #282828; }

.h4 { margin-bottom: 10px; font-size: 24px; font-weight: 700; color: #333333; }

.h5 { margin-bottom: 10px; font-size: 22px; font-weight: 700; color: #e6e6e6; }

.h6 { margin-bottom: 10px; font-size: 20px; font-weight: 700; color: #e0e0e0; }

.p1 { margin-bottom: 10px; font-size: 20px; font-weight: 400; color: #666666; }

.p2 { margin-bottom: 10px; font-size: 18px; font-weight: 400; color: #e0e0e0; }

.p3 { margin-bottom: 10px; font-size: 16px; font-weight: 400; color: #fc3812; }

.p4 { margin-bottom: 10px; font-size: 14px; font-weight: 400; }

/** Computes a CSS calc function that betweens a value from A to B over viewport-width A to viewport-width B. Requires a media query to cap the value at B. vw 단위를 활용하여 미디어쿼리 분기의 중간 상태값을 계산해주는 SASS 함수. 간격이나 폰트사이즈에 적용하면 자연스러운 반응형 사이즈 처리가 가능 함. 참고사이트 http://dohoons.com/blog/1364 */
/** Read the article: http://sassbreak.com/viewport-relative-headings-with-sass px 를 vw 로 자동으로 바꿔 줌. max-breakpoint 를 설정하면 미디어쿼리 브레이크 포인트가 됨. 그래서 미디어쿼리 브레이크 포인트에 맞춰 px 가 vw 로 변환됨. 100% 보다 더 크게 적용 하고 싶으면 return 부분을 수정하면됨. 참고사이트 http://sassbreak.com/viewport-relative-headings-with-sass/ */
.h1 { margin-bottom: 10px; font-size: 40px; font-weight: 700; color: #5a14be; }

.h2 { margin-bottom: 10px; font-size: 40px; font-weight: 500; color: #3dc8a2; }

.h3 { margin-bottom: 10px; font-size: 30px; font-weight: 700; color: #282828; }

.h4 { margin-bottom: 10px; font-size: 24px; font-weight: 700; color: #333333; }

.h5 { margin-bottom: 10px; font-size: 22px; font-weight: 700; color: #e6e6e6; }

.h6 { margin-bottom: 10px; font-size: 20px; font-weight: 700; color: #e0e0e0; }

.p1 { margin-bottom: 10px; font-size: 20px; font-weight: 400; color: #666666; }

.p2 { margin-bottom: 10px; font-size: 18px; font-weight: 400; color: #e0e0e0; }

.p3 { margin-bottom: 10px; font-size: 16px; font-weight: 400; color: #fc3812; }

.p4 { margin-bottom: 10px; font-size: 14px; font-weight: 400; }

.sub-section { position: relative; width: 100%; margin-top: 20px; }

.sub-section .tab-wrap .tab-menu-type01 { width: 100%; }

.sub-section .tab-wrap .tab-menu-type01 li { width: 100%; }

.sub-section .tab-wrap .tab-menu-type01 li a { width: 100%; }

.sub-section .tab-wrap .contents .sub-tit { font-size: 36px; font-weight: 700; line-height: 48px; letter-spacing: -0.025em; margin: 50px 0; }

.sub-section .tab-wrap .contents .tab-wrap { text-align: center; margin: -20px 0 30px; }

.sub-section .tab-wrap .contents .paging-wrap { margin: 30px 0 110px; }

.sub-section .tab-wrap .table-list table { border-bottom: 1px solid #e6e6e6; }

.sub-section .tab-wrap .table-view table .tit { margin-top: 80px; }

.sub-section .tab-wrap .table-view .btn-default-type01 { margin: 50px auto 110px; }

.sub-section .faq-list { width: 100%; text-align: left; border-top: 2px solid #282828; border-bottom: 1px solid #e6e6e6; }

.sub-section .faq-list ul li { border-bottom: 1px solid #e6e6e6; }

.sub-section .faq-list ul li .acc-btn { position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; font-size: 18px; text-align: left; height: 80px; padding: 0 30px; cursor: pointer; }

.sub-section .faq-list ul li .acc-btn em { display: inline-block; margin-right: 10px; color: #5a14be; }

.sub-section .faq-list ul li .cnt { display: none; padding: 25px 30px; background-color: #f4f4f4; border-radius: 10px; margin: 0 30px 35px; }

.sub-section .faq-list ul li .cnt span { line-height: 26px; }

.sub-section .faq-list .btn-line-type01 { margin: 30px auto 130px; }

.sub-section .table-form table .form-txt-error { padding: 15px 0 0; display: block; }

.sub-section .table-form table .select-btn.w188 { width: 188px; }

.sub-section .table-form table input[type="text"].w68, .sub-section .table-form table input[type="number"].w68 { width: 68px; }

.sub-section .table-form table input[type="text"].w188, .sub-section .table-form table input[type="number"].w188 { width: 188px; }

.sub-section .table-form table input[type="text"].w325, .sub-section .table-form table input[type="number"].w325 { width: 325px; }

.sub-section .text-box textarea { width: 100%; padding: 20px; resize: none; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 16px; border-radius: 8px; }

.free-cnt { padding-bottom: 117px; }

.free-cnt .input-radio-type01 { margin-bottom: 50px; text-align: center; }

.free-cnt .ui-datepicker { width: 486px; }

.free-cnt .ui-widget.ui-widget-content { margin: auto; border: none; }

.free-cnt .ui-datepicker .ui-datepicker-header { border: none; background-color: transparent; }

.free-cnt .ui-datepicker .ui-datepicker-title { font-family: 'Noto Sans KR', sans-serif; font-size: 26px; font-weight: 700; line-height: 1; }

.free-cnt .ui-datepicker .ui-datepicker-prev, .free-cnt .ui-datepicker .ui-datepicker-next { overflow: hidden; width: 29px; height: 29px; border-radius: 100%; }

.free-cnt .ui-widget-header .ui-icon { position: relative; top: 0; left: 0; display: inline-block; width: 100%; height: 100%; margin: 0; background: #282828 url(../../images/common/ico_arrow_w_type02.png) no-repeat 49% 50%; background-size: 7px 11px; }

.free-cnt .ui-datepicker .ui-datepicker-prev-hover .ui-icon, .free-cnt .ui-datepicker .ui-datepicker-next-hover .ui-icon { background-color: #5a14be; }

.free-cnt .ui-datepicker-next { -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }

.free-cnt .ui-datepicker-week-end { color: #fc3812; }

.free-cnt .ui-datepicker-week-end:last-child { color: #1669e7; }

.free-cnt .ui-state-default, .free-cnt .ui-widget-content .ui-state-default, .free-cnt .ui-widget-header .ui-state-default, .free-cnt .ui-button, .free-cnt html .ui-button.ui-state-disabled:hover, .free-cnt html .ui-button.ui-state-disabled:active { border: none; text-align: center; background: transparent; }

.free-cnt .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a { color: #333; background: transparent; }

.free-cnt .ui-state-highlight, .free-cnt .ui-widget-content .ui-state-highlight, .free-cnt .ui-widget-header .ui-state-highlight, .free-cnt .ui-datepicker-today { border: none; background-color: #e7ddf5; opacity: 1; }

.free-cnt .ui-datepicker-current-day, .free-cnt .ui-state-active { background: #e7ddf5 url(../../images/sub/calendar_bg.png) no-repeat left center !important; }

.free-cnt .ui-datepicker-current-day a, .free-cnt .ui-state-active a { color: #fff !important; }

.free-cnt .ui-datepicker-calendar { margin-top: 40px; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; }

.free-cnt .ui-datepicker td { height: 42px; padding: 0; cursor: pointer; }

.free-cnt .hasDatepicker { padding: 30px 0 10px; margin-bottom: 75px; border-top: 2px solid #000; border-bottom: 1px solid #e1e1e1; }
