@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url(../css/font.css);

// common
#wrap {
  min-width: 1280px;
}

.inner {
  padding: 0 50px;
}

.container {
  padding-top: 50px;
}

.contents,
.content {
  display: none;

  &.on {
    display: block;
  }
}

.contents {
  padding: 40px 0;
}

.content {
  padding: 40px 0;
}

.scroll-inner {
  overflow: overlay;
}

.mt40 {
  margin-top: 40px;
}
.g-btn {
  background-color: #6a6a6a !important;
}
.purple {
  background-color: #7959c8 !important;
}

input {
  &[type="text"] {
    padding: 5px;
    box-sizing: border-box;
    border: 1px solid #ededed;
  }

  &[type="checkbox"] {
    &+label {
      padding-left: 30px;
      margin-right: 20px;
      background: url('../../images/admin/ty_chk.png') no-repeat 0 50%;
    }

    &:checked+label {
      color: #7959c8;
      background: url('../../images/admin/ty_chk_on.png') no-repeat 0 50%;
    }
  }

  &[type="radio"] {
    &+label {
      padding-left: 30px;
      margin-right: 20px;
      background: url('../../images/admin/ty_radio.png') no-repeat 0 50%;
    }

    &:checked+label {
      color: #7959c8;
      background: url('../../images/admin/ty_radio_on.png') no-repeat 0 50%;
    }
  }
}

select {
  border-color: #ededed;
  padding: 5px 50px 5px 5px;
  background: url('../../images/admin/ico_select_arr.png') no-repeat 88% 55% #fff;
}

.toggle-btn {
  position: relative;
  overflow: hidden;
  width: 70px;height: 26px;
  margin: auto;
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
    &:checked + .knobs {
      border-color: #7959c8;
      &::before {
        left: 46px;
        background-color: #7959c8;
      }
      &::after {
        content:"노출";
        color: #7959c8;
        right: 33px;
      }
    }
  }
  
  .knobs, .knobs::before, .layer {
    transition: 0.3s ease all;
  }
  .knobs {
    border: 1px solid #a8a8a8;
    border-radius: 13px;
    z-index: 2;
    &::before {
      @include virtual-selector;
      position: absolute;
      top: 2px;left: 5px;
      width: 19px;height: 19px;
      background-color: #a8a8a8;
      border-radius: 100%;
      transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
    }
    &::after {
      content:"비노출";
      display: block;
      clear: both;
      position: absolute;
      top: 4px;right: 6px;
      color: #a8a8a8;
      font-weight: 500;
      font-size: 14px;
      z-index: 1;
    }
  }
  .knobs, .layer {
    position: absolute;
    top: 0;right: 0;bottom: 0;left: 0;
  }
  .layer {
    width: 100%;
    background-color: #fff;
    z-index: 1;
  }
}
.left-cnt {
  margin-bottom: 20px;
  button, a {
    font-size: 14px;
  }
}
.btn-wrap {
  margin-top: 10px;
  text-align: center;

  button,
  a {
    @include content-center;
    padding: 5px 20px;
    height: 34px;
    color: #fff;
    border-radius: 5px;
    background-color: #9c9c9c;
    box-sizing: border-box;

    &:last-child {
      background-color: #7959c8;
    }
    &.bg-c {
      background-color: #7959c8 !important;
    }
  }
}

.table-bottom {
  clear: both;

  .btn-wrap {
    float: right;
    margin-top: -30px;

    button {
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      height: auto;
      font-size: 14px;
      border-radius: 3px;
      background-color: $color-font6a;
    }

    button.purple {
      background-color: #7959c8;
    }
  }
}

.paging-wrap {
  margin-top: 40px;
  @include layout-center-center;

  a {
    @include content-center-center;
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
  }

  .first {
    background: url('../../images/admin/ico_page_first.png') no-repeat 50% 50%;
  }

  .last {
    background: url('../../images/admin/ico_page_end.png') no-repeat 50% 50%;
  }

  .prev {
    margin-right: 10px;
    border-left: 0;
    background: url('../../images/admin/ico_page_prev.png') no-repeat 50% 50%;
  }

  .next {
    margin-left: 10px;
    border-right: 0;
    background: url('../../images/admin/ico_page_next.png') no-repeat 50% 50%;
  }

  .page {
    border: 0;

    &.active {
      color: #7959c8;
      border: 1px solid #7959c8;
    }
  }
}

// components
.btn-txt,
a.btn-txt {
  @include content-center-center;
  border-radius: 5px;
  padding: 0 17px;
  height: 30px;
  color: $color-font66;
  font-size: 14px;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
}

//popup
.dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.pop-wrap {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.pop-close {
  position: absolute;
  top: 50px;
  right: 50px;
  padding-top: 20px;
  color: #d9caff;
  font-size: 13px;
  background: url('../../images/common/ico_close.png') no-repeat 50% 0;


  &.ico {
    width: 18px;
    height: 18px;
    top: 34px;
    right: 30px;
    padding-top: 0;
  }
}

.pop-header {
  padding: 30px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.pop-inner {
  position: relative;
}

.pop-footer {
  .btn-wrap {
    display: flex;
    height: 50px;
    margin: 0 !important;
    button {
      padding: 0;
      height: 100%;
      flex: 1;
      font-size: 18px !important;
      font-weight: 600;
      @include content-center-center;
      border-radius: 0;
      &:last-child {
        background-color: #5a14be;
      }
    }
  }
}

// 시험지 팝업
.test-pop {
  width: 90%;

  .pop-content {
    display: flex;
  }

  .info {
    width: 25%;
    padding: 20px;

    table {
      margin-top: 10px;
      width: 100%;
      border-top: 1px solid #333;
      border-bottom: 1px solid #333;
    }

    th,
    td {
      padding: 10px;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f3f3f3;
    }
  }

  .preview {
    width: 75%;
    background-color: red;
  }
}

// alert
.alert-pop {
  overflow: hidden;
  width: 340px;
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  border-radius: 10px;
  .pop-content {
    position: relative;
    padding-top: 60px;
    text-align: center;
    img {
      display: block;
      margin: auto;
      // padding-top: 50px;
    }
    .txt {
      display: block;
      padding: 15px 0 30px;
      font-size: 18px;
      line-height: 1.5;
      em {
        color: $color-main-purple;
        font-weight: 600;
      }
    }
  }
  .pop-close {
    filter: invert(71%) sepia(88%) saturate(0%) hue-rotate(12deg) brightness(104%) contrast(96%);
  }
  .btn-wrap {
    
    display: flex;
    margin-top: 15px;
    font-size: 16px;
    .pop-close {
      position: inherit;
      filter: none;
      font-size: 16px;
      background-image: none;
    }
    button {
      width: 50% !important;
      height: 50px;
      justify-content: center;
      border-radius: 0;
    }
  }
}

// 결제 팝업
.detail-pop {
  .pop-content {
    padding: 0 30px 30px;
    text-align: right;
  }
  .btn-w {
    @include content-center-center;
    width: 97px;
    height: 40px;
    color: #5a14be;
    border: 1px solid #5a14be;
    border-radius: 5px;
  }
  .table-type01 {
    text-align: left;
    table {      
      border-top: 1px solid #333333;
      border-bottom: 1px solid #333333;
    }
    th, td {
      padding: 20px 10px 20px 20px;
    }
    td {
      color: #666666;
    }
  }
  .table-type02 {    
    text-align: center;
    table {
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }
    th {
      text-align: center;
      padding: 9px 0 11px;
    }
    td {
      padding: 18px 0;
    }
    .total {
      th, td {
        font-weight: 600;
        background-color: #efe4ff;
      }
      .font-c {
        color: #5a14be;
      }
    }
  }
  table {
    width: 620px;
    margin-top: 20px;
    tbody {
      tr {
        &:last-child {
          border-bottom: 0;
        }
      }
    }
    th, td {
      border-right: 1px solid #dddddd;
    }
    tr {
      border-bottom: 1px solid #dddddd;
    }
    th {
      font-weight: 500;
      background-color: #f6f6f6;
    }
    td {
      &:last-child {
        border-right: 0;
      }
    }
  }
  &.w870 {
    width: 870px;
    table {
      width: 100%;
      margin-top: 0;
    }
    .list-table {
      tr {
        border-bottom: 0;
      }
      th, td {
        border-right: 0;        
      }
      th {
        background-color: #fff;
      }
    }
    .table-top {
      margin-top: 10px;
      align-items: flex-end;
    }
    .paging-wrap {
      margin-top: 20px;
    }
  }
}

// 비밀번호 변경 팝업
.table-type {
  
}



// header
.header-top {
  border-bottom: 1px solid #ededed;

  .inner {
    padding-right: 15px;
    text-align: right;
  }

  a {
    display: inline-block;
    padding: 9px 0 9px 17px;
    background: url('../../images/admin/ico_logout.png') no-repeat 0% 50%;
    color: #999;
    font-size: 14px;
  }
}

.nav-wrap {
  position: relative;

  .inner {
    @include layout-center;
    padding-right: 0;
  }

  .nav {
    display: flex;
    margin-left: 40px;
    font-size: 18px;

    &>li {
      &>a {
        display: block;
        margin: 0 15px 15px;
        padding: 25px 12px 10px;
      }

      &:hover {
        &>a {
          // padding: 25px 12px 9px;
          color: #7959c8;
          border-bottom: 1px solid #7959c8;
        }
      }

      &.on {
        &>a {
          color: #7959c8;
          border-bottom: 1px solid #7959c8;
        }
      }
    }
  }

  .all-menu,
  .depth2 {
    display: none;
  }

  .all-menu {
    transform: none;
  }

  .all-menu-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    text-align: center;
    border-left: 1px solid #ededed;

    >button {
      padding-top: 45px;
      padding-bottom: 7px;
      color: #808080;
      font-size: 13px;
      background: url('../../images/admin/ico_allmenu.png') no-repeat 50% 16px;

    }
  }

  .depth2 {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 10;
    border: 1px solid #ededed;

    &.on {
      display: flex;
    }

    .tit {
      width: 200px;
      padding: 40px 0;
      color: #6346a5;
      font-weight: 700;
      font-size: 24px;
      text-align: center;
      border-right: 1px solid #ededed;
    }

    ul {
      @include layout-center;
      width: 100%;
      padding-left: 50px;

      li {
        a {
          display: inline-block;
          padding: 9px 15px;
          font-size: 18px;

          &:hover {
            background-color: #e6e6e6;
          }

          &.on {
            background-color: #e6e6e6;
          }
        }

        &+li {
          margin-left: 40px;
        }
      }
    }
  }
}

.local-nav {
  background-color: #7959c8;

  .inner {
    @include layout-center;

    &>div {
      position: relative;
    }
  }

  .home {
    display: block;
    width: 50px;
    height: 45px;
    border-left: 1px solid #9077cf;
    border-right: 1px solid #9077cf;
    background: url('../../images/admin/ico_home.png') no-repeat 50% 50%;
  }

  .select-btn {
    width: 220px;
    height: 45px;
    padding: 0 20px;
    color: #fff;
    text-align: left;
    border-right: 1px solid #9077cf;
    background: url('../../images/admin/bg_menu_on.png') no-repeat 190px 50%;

    &.active {
      color: #7959c8;
      border: 1px solid #7354c3;
      border-bottom: 0;
      background: url('../../images/admin/ico_arr_up.png') no-repeat 190px 50% #eee7ff;
    }
  }

  ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    border: 1px solid #7354c3;
    border-top: 0;
    background-color: #fff;
    z-index: 5;

    a {
      display: block;
      padding: 14px 20px;

      &:hover {
        color: #7354c3;
      }
    }
  }
}

.all-menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 50px;
  text-align: left;
  background-color: #7959c8;
  z-index: 20;

  ul {
    display: inline-grid;
    width: 180px;

    &+ul {
      margin-left: 80px;
    }
  }

  li {
    &:first-child {
      padding: 8px 0;
      margin-bottom: 10px;
      border-bottom: 1px solid #d0bdff;

      a {
        padding: 0;
        color: #fff;
        font-size: 21px;
        background: none;

        &:hover {
          background: none;
        }
      }
    }

    &.on {
      a {
        background: url('../../images/admin/all_dot_01.png') no-repeat 7px 50% #694ab3;
      }
    }

    a {
      display: inline-block;
      padding: 4px 15px;
      margin: 5px 0;
      color: #e7ddff;
      font-size: 17px;
      background: url('../../images/admin/all_dot_01.png') no-repeat 7px 50%;

      &.on {
        background: url('../../images/admin/all_dot_01.png') no-repeat 7px 50% #694ab3;
      }

      &:hover {
        background: url('../../images/admin/all_dot_01.png') no-repeat 7px 50% #694ab3;
      }
    }
  }
}

// content
.sub-tit {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;

  em {
    display: inline-block;
    margin-left: 10px;
    color: #666;
    font-size: 14px;
    font-weight: 400;
  }

  a {
    position: relative;
    top: -2px;
    margin-right: 15px;
  }
}

.table-tit {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
}

.tab-menu {
  display: flex;
  border-bottom: 1px solid #7959c8;

  li {
    position: relative;
    top: 1px;
    width: 150px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom: 0;

    &.active {
      left: -1px;
      border: 1px solid #7959c8;
      border-bottom: 1px solid #fff;

      a {
        color: #7959c8;
      }
    }

    a {
      display: block;
      padding: 16px 0;
      color: #999;
    }

    &+li {
      border-left: 0;
    }
  }

  &.type02 {
    border: 0;

    li {
      border: 0;
      background-color: #ededed;

      &.active {

        background-color: #7959c8;

        a {
          color: #fff;
        }
      }

      a {
        padding: 10px 0;
      }
    }
  }
}

.search-wrap {
  border-radius: 5px;
  background-color: #f6f6f6;
  margin-bottom: 30px;

  table {
    width: 100%;
    border-top: 1px solid #333;

    th,
    td {
      padding: 0 15px;
      height: 55px;
      border-bottom: 1px solid #dddddd;
    }

    th {
      font-weight: 600;
    }
    td {
      background-color: #fff;
    }
  }

  .btn-wrap {
    display: inline-flex;
    gap: 5px;
    margin: 0 0 0 5px;

    button {
      background-color: #7959c8;
      &:last-child {
        background-color: $color-font6a;
      }
    }
  }

  .search-input {
    width: 506px;
    margin-left: 3px;
  }
}

.list-table {
  .scroll-inner {
    height: 330px;
    padding-right: 10px;
    padding-bottom: 1px;
    &.h450 {
      height: 450px;
    }
  }
  &.type02 {
    table {
      td {
        &.title {
          padding-left: 0;
          text-align: center;
        }
      }
    }
  }
  .table-top {
    @include layout-justify-center;
    margin-bottom: 10px;
    .total {
      padding-left: 20px;
      background: url('../../images/admin/ico_result.png') no-repeat 0% 50%;
      em {
        color: #7959c8;
        font-weight: 600;
      }
    }
    .btn-txt {
      border: 0;
    }
    .down {
      display: inline-block;
      padding: 5px 10px;
      color: #fff;
      font-size: 14px;
      border-radius: 3px;
      background-color: #7959c8;
    }
  }

  table {
    width: 100%;
    border-top: 2px solid #7959c8;
    border-bottom: 1px solid #909090;
    table-layout: fixed;

    th,
    td {
      text-align: center;
    }

    th {
      padding: 16px 0;
      color: #7959c8;
      font-weight: 500;
      border-bottom: 1px solid #909090;
    }

    td {
      padding: 8px 0;
    }

    .none-data {
      padding: 170px 0;
      color: #808080;
      font-size: 20px;
      line-height: 1.5;
    }

    .pop-btn {
      color: #7959c8;
      border-bottom: 1px solid #7959c8;
    }

    .btn-txt.pop-btn,
    a.btn-txt.pop-btn {
      color: $color-font66;
      border: 1px solid #d1d1d1;
    }

    .title {
      
      padding-left: 20px;
      text-align: left;

      a,
      button,
      span {
        display: inline-block;
        @include text-overflow;
        max-width: 100%;
        color: #7959c8;
        border-bottom: 1px solid #7959c8;
      }
    }
    .font-c {
      font-weight: 600;
      color: #7959c8;
    }
  }

  input[type="checkbox"]+label {
    margin: 0;
    padding-left: 20px;
  }
  .style02 {
    th {
      padding: 8px 0;
    }
  }
}

.view-table {
  table {
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    button {
      @include content-center-center;
      width: 123px;height: 32px;
      color: #fff;
      font-size: 15px;
      border-radius: 4px;
      background-color: #7959c8;
    }
  }

  th,
  td {
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f3f3f3;
  }
  &.style02 {
    margin: 20px 0 10px;
    th, td {
      text-align: center;
    }
    th {
      height: 40px;
    }
    td {
      height: 45px;
    }
  }
  textarea {
    width: 100%;
    height: 140px;
    padding: 20px;
    resize: none;
    border: 1px solid #ddd;
    outline: none;
    box-sizing: border-box;
  }
  & + .view-table {
    margin-top: 40px;
  }
}

.datepicker-wrap {
  position: relative;
  display: inline-block;

  .ui-datepicker-trigger {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.ui-datepicker-year {
  padding: 5px;
}

// login
.login {
  overflow: hidden;
  height: 100vh;
  background-color: #f3f3f3;
}
.login-wrap {
  overflow: hidden;
  position: absolute;
  top: 50%;left: 50%;
  width: 670px;height: 606px;
  border-radius: 10px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  .tit-wrap {    
    @include layout-center-center;
    height: 185px;
    background: url(../../images/admin/login_bg.png) no-repeat;
    .tit {
      color: #fff;
      font-size: 43px;font-weight: 700;
    }
  }
  .input-form {
    width: 400px;
    margin: auto;
    padding-top: 55px;
    input {
      position: relative;
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      padding-left: 45px;
      border: 1px solid #d4d4d4;
      border-radius: 5px;
      background: #f3f3f3;
      box-sizing: border-box;
      &[type="text"] {
        background: #f3f3f3 url(../../images/admin/ico_id.png) no-repeat;
        background-position: 20px 14px;
      }
      &[type="password"] {
        background: #f3f3f3 url(../../images/admin/ico_pw.png) no-repeat;
        background-position: 20px 16px;
      }
    }
    .form-txt-chk {
      display: block;
      margin-top: 10px;
      color: #5a14be;
      img {
        margin-right: 10px;
      }
    }
    .login-btn {
      @include layout-center-center;
      width: 100%;
      height: 50px;
      margin-top: 38px;
      color: #fff;
      font-weight: 700;
      border-radius: 5px;
      background-color: #3dc8a2;
    }
  }
}