@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url(../css/font.css);

.table-top {
  select {
    margin-left: 10px;
  }
}
.list-table {
  input {
    max-width: 80%;
  }
  &.type02 {
    td {
      height: 46px;
      box-sizing: border-box;
    }
  }
  
}
.date-wrap {
  display: inline-block;
  input[type="text"] {
    width: 100% !important;
  }
}

.g-btn {
  background-color: #6a6a6a !important;
}

.radio-wrap.type02 {
  display: inline-block;
  margin-left: 5px;
  input[type="radio"] + label {
    padding: 5px 10px;
    margin: 0;
    background: none;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
  }
  input[type="radio"]:checked + label {
    color: #fff;
    background-color: #7959c8;
  }
}
.view-table {
  th, td {
    height: 60px;
    box-sizing: border-box;
  }
  input[type="text"] {
    width: 90%;
  }
  .btn-wrap {
    margin-bottom: 40px;
    a {
      @include content-center;
      height: 34px;
      box-sizing: border-box;
      &:first-child {
        background-color: #6a6a6a;
      }
    }
    .c-btn {
      background-color: #7959c8;
    }
  }
  .file-name {
    display: inline-block;
    margin-bottom: 10px;
    color: #7959c8;
    border-bottom: 1px solid #7959c8;
  }
  .img-box {
    display: inherit;
    min-width: 300px;
    width: auto;
    border: 1px solid #ddd;
    .img-area {
      overflow: hidden;
      position: relative;
      height: 300px;
      width: 100%;      
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
      }
    }
    .txt {
      display: block;
      width: 100%;
      padding: 5px;
      border-top: 1px solid #ddd;
      box-sizing: border-box;
    }
    & + .filebox {
      margin-top: 10px;
    }
  }
  .cnt {
    padding: 20px;
    line-height: 1.5;
  }
  .editor {
    height: auto;
    .scroll-inner {
      height: 400px;
      padding-right: 20px;
    }
  }
  .file-txt {
    margin-top: 10px;
    span {
      color: #7959c8;
      font-size: 14px;
      border-bottom: 1px solid #7959c8;
    }
    button {
      position: relative;
      top: -5px;
      margin-left: 5px;
      padding: 5px;
      border: 1px solid #666;
      border-radius: 100%;
      background: url("../../images/admin/btn_close.png") no-repeat center;
      background-size: 6px;
      filter: invert(42%) sepia(1%) saturate(0%) hue-rotate(57deg) brightness(90%) contrast(86%);
    }
  }
}
.filebox {
  input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
  }
  input {
    padding: 5px;
    border: 1px solid #ededed;
    background-color: #fff;
  }
  label {
    position: relative;
    top: -1px;
    height: 36px;
  }
}
.answer-table {
  margin-top: 40px;
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  .title-wrap {
    @include layout-justify-center;
    padding: 10px;
  }
  button {
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    background-color: #7959c8;
  }
  textarea {
    width: 100%;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    border: 0;
    border-top: 1px solid #ddd;
  }
}
.preview-pop {
  width: 60%;
}

