@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');



//홍보사이트
.serv-cnt {
	.tab-menu-type01 {
		width: 100%;

		li {
			width: 100%;

			a {
				width: 100%;
			}
		}
	}

	.contents {
		margin: 50px auto 110px;
	}

	.sub-tit {
		@include font(36px, 700);
		color: $color-sub33;
		line-height: 48px;
		letter-spacing: -0.025em;

	}

	.tab-wrap {
		margin: 30px 0;

		.tab-wrap {
			text-align: center;
		}
	}

	.paging-wrap {
		margin-top: 30px;
	}

	.table-list {
		table {
			border-bottom: 1px solid #e6e6e6;
		}
	}

	.table-view {
		padding-top: 30px;
	}

	.table-tit {
		padding-top: 50px;
	}


	.faq-list {
		width: 100%;
		text-align: left;
		border-top: 2px solid #282828;
		margin-bottom: 30px;

		ul {
			li {
				border-bottom: 1px solid #e6e6e6;

				.acc-btn {
					position: relative;
					@include content-center;
					width: 100%;
					@include font(18px, 500);
					color: $color-sub33;
					text-align: left;
					height: 80px;
					padding: 0 30px;
					cursor: pointer;
					&::after {
						@include virtual-selector;
						position: absolute;
						right: 40px;top: 50%;
						width: 10px;height: 17px;
						margin-top: -8px;
						background: url(../../images/common/ico_arrow_book_paging.png) no-repeat;
						transform: rotate(-90deg);
					}
					em {
						display: inline-block;
						margin-right: 10px;
						color: $color-main-purple;
					}
					&.active {
						&::after {
							transform: rotate(90deg);
						}
					}
				}

				.cnt {
					display: none;
					padding: 25px 30px;
					background-color: #f4f4f4;
					border-radius: 10px;
					margin: 0 30px 35px;

					span {
						line-height: 26px;
					}
				}
			}
		}


	}

	.table-form {
		&.tbl_flex_type {
			width: 100%;
			border-top: 2px solid $color-sub33;
		}

		>div {
			width: 100%;

			.row {
				&.wide {

					.tr {

						.tit,
						.cnt {
							height: 93px;
						}

						.tit {
							padding: 35px 25px;
							white-space: nowrap;
						}

						.cnt {
							padding: 25px 20px;

							&.small {
								padding: 10px 20px;
							}
						}
					}
				}

				width: 100%;
				@include layout-center;


				.tr {
					width: 50%;
					@include layout-center;

					.tit,
					.cnt {
						height: 60px;

						border-bottom: 1px solid $color-box;
						box-sizing: border-box;
					}

					.tit {
						width: 120px;
						padding: 20px;
						display: inline-block;
						vertical-align: middle;
						background-color: #f7f7f7;
					}

					.cnt {
						width: 500px;
						padding: 10px 20px;

						.stan {
							position: relative;

							.time-txt {
								position: absolute;
								top: 10px;
								right: 15px;
								@include font(16px, 400);
								color: $color-font-red;
							}
						}

					}
				}


			}

		}


		.form-txt-error {
			padding: 10px 0;
			display: block;
		}

		.select-btn {
			&.w188 {
				width: 188px;
			}
		}

		input[type="text"],
		input[type="number"] {
			&.w68 {
				width: 68px;
			}

			&.w188 {
				width: 188px;
			}

			&.w325 {
				width: 325px;
			}

			&.w458 {
				width: 458px;
			}


		}

		@media (max-width: 1240px) {
			&.tbl_flex_type {
				>div {
					.row {
						@include layout-center;
						flex-direction: column;

						.tr {
							width: 100%;

							.tit {
								width: 140px;
							}

							.cnt {
								width: 100%;
							}
						}
					}
				}
			}
		}

	}

	.text-box {
		margin: 20px 0;

		textarea {
			width: 100%;
			padding: 20px;
			resize: none;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			@include font(16px, 400);
			color: $color-font66;
			border-radius: 8px;
			border: 1px solid #959595;
		}


	}

	.line {
		width: 100%;
		height: 1px;
		background-color: $color-line;
		margin-bottom: 20px;
	}


}
