@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

.sub-section {
	position: relative;
	width: 100%;
	margin-top: 20px;

	.tab-wrap {

		.tab-menu-type01 {
			width: 100%;

			li {
				width: 100%;

				a {
					width: 100%;
				}
			}
		}

		.contents {
			.sub-tit {
				font-size: 36px;
				font-weight: 700;
				line-height: 48px;
				letter-spacing: -0.025em;
				margin: 50px 0;
			}

			.tab-wrap {
				text-align: center;
				margin: -20px 0 30px;
			}

			.paging-wrap {
				margin: 30px 0 110px;
			}
		}

		.table-list {
			table {
				border-bottom: 1px solid #e6e6e6;
			}
		}

		.table-view {
			table {
				.tit {
					margin-top: 80px;
				}
			}

			.btn-default-type01 {
				margin: 50px auto 110px;
			}


		}




	}

	.faq-list {
		width: 100%;
		text-align: left;
		border-top: 2px solid #282828;
		border-bottom: 1px solid #e6e6e6;

		ul {
			li {
				border-bottom: 1px solid #e6e6e6;

				.acc-btn {
					position: relative;
					display: -webkit-inline-box;
					display: -ms-inline-flexbox;
					display: inline-flex;
					-webkit-box-align: center;
					-ms-flex-align: center;
					align-items: center;
					width: 100%;
					font-size: 18px;
					text-align: left;
					height: 80px;
					padding: 0 30px;
					cursor: pointer;


					em {
						display: inline-block;
						margin-right: 10px;
						color: $color-main-purple;
					}

				}

				.cnt {
					display: none;
					padding: 25px 30px;
					background-color: #f4f4f4;
					border-radius: 10px;
					margin: 0 30px 35px;

					span {
						line-height: 26px;
					}
				}
			}
		}

		.btn-line-type01 {
			margin: 30px auto 130px;
		}


	}

	.table-form {
		table {

			.form-txt-error {
				padding: 15px 0 0;
				display: block;
			}

			.select-btn {
				&.w188 {
					width: 188px;
				}
			}

			input[type="text"],
			input[type="number"] {
				&.w68 {
					width: 68px;
				}

				&.w188 {
					width: 188px;
				}

				&.w325 {
					width: 325px;
				}

			}
		}

	}

	.text-box {
		textarea {
			width: 100%;
			padding: 20px;
			resize: none;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			font-size: 16px;
			border-radius: 8px;
		}
	}
}