@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url(../css/font.css);

.btn-txt.pop-btn,
a.btn-txt.pop-btn {
  color: $color-font66;
  border: 1px solid #d1d1d1;
}

.table-top {
  select {
    margin-left: 10px;
  }
}

.list-table {
  table {
    button {
      a {
        color: #7959c8;
        border-bottom: 1px solid #7959c8;
      }
    }
  }
}