@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');


//문제은행 사이트
.que_cont {

  .tab-wrap::after {
    display: none;
  }

  .tab-menu-type01 {
    margin-top: 30px;
  }

  .tab-list-type01 {

    padding: 0px 20px 20px;

    .table.half-type {
      .scroll-inner {
        height: 630px;

        @media (max-width: 1280px) {
          height: calc(630px - 195px);
        }
      }
      // sub01_03_02_que -sohee
      .test {
        &.no-data {
          @include layout-center-center;
          flex-direction: column;
          height: 100%;
          .txt {
            text-align: center;
            margin: 20px 0;
            font-size: 18px;
            line-height: 1.5;
            z-index: 0;
            em {
              position: relative;
              color: $color-main-purple;
              font-weight: bold;
              &::after {
                @include virtual-selector;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 11px;
                background-color: #efe4ff;
                z-index: -1;
              }
            }
          }
        }
      }
    }

    .table {
      .scroll-inner {
        @media (max-width: 1280px) {
          height: calc(630px - 195px);
        }
      }
    }
  }

  .tab-top {
    border: 1px solid $color-line-type02;
    border-top: 0;
    border-bottom: 0;
  }



  .table {
    p.txt {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .none-data {
    @include layout-center-center;
    flex-direction: column;
    height: 627px;
    .none-txt {
      margin-top: 14px;
      @include font(18px, 600);
    }
    @media (max-width: 1280px) {
      height: 435px;
    }
  }

  &.sub01 {
    .table {
      span:nth-child(1) {
        width: 6%;
      }

      span:nth-child(2) {
        width: 6%;
      }

      span:nth-child(3) {
        width: 8%;
        padding: 0;
        justify-content: center;
      }

      span:nth-child(4) {
        width: 7%;
      }

      span:nth-child(5) {
        width: 51%;

        img {
          margin: 0 10px;
        }
      }

      span:nth-child(6) {
        width: 5%;
      }

      span:nth-child(7) {
        width: 7%;
      }

      span:nth-child(8) {
        width: 5%;
      }

      span:nth-child(9) {
        width: 10%;
      }

      span:nth-child(10) {
        width: 10%;
      }
      span:last-child {
        width: 3%;
        padding-right: 15px;
      }

      &.table-type01 {
          span:nth-child(1) {
          width: 6%;
        }

        span:nth-child(2) {
          width: 6%;
        }

        span:nth-child(3) {
          width: 8%;
          padding: 0;
          justify-content: center;
        }

        span:nth-child(4) {
          width: 7%;
        }

        span:nth-child(5) {
          width: 53%;

          img {
            margin: 0 10px;
          }
        }

        span:nth-child(6) {
          width: 5%;
        }

        span:nth-child(7) {
          width: 7%;
        }

        span:nth-child(8) {
          width: 5%;
        }

        span:nth-child(9) {
          width: 7%;
        }

        span:nth-child(10) {
          width: 4%;
        }

        span:last-child {
          width: 3%;
        }
      }

      span.tool-type01 {
        width: auto;
        padding: 10px;
        @include font(14px, 400);

        .tag-type01 {
          width: auto;
          padding: 4px 10px 3px;
          font-size: 12px;
          font-weight: 700;
          margin: 0 5px 0 0;
        }
      }


      .col {
        position: relative;
        span {
          &:nth-child(2) {
            justify-content: center;
            padding: 0;
          }

          &:nth-child(5) {
            justify-content: flex-start;
            padding: 13px;
          }
        }
        .cate {
          position: relative;
          .txt {
            position: relative;
            display: inline-block;
            width: 70px;
            @include text-overflow;
            cursor: pointer;
            &:hover {
              & + .tooltip-txt {
                display: block;
              }
            }
          }
          .tooltip-txt {
            display: none;
            position: absolute;
            top: 50px;left: -25px;
            width: 90px;           
            padding: 4px 10px;
            color: #fff;
            text-align: center;
            word-break: break-all;
            background-color: #969696;
            border-radius: 3px;
            z-index: 1;
            &::before {
              @include virtual-selector;
              position: absolute;
              left: 47px;
              top: -8px;
              width: 11px;height: 8px;
              background: url(../../images/common/ico_arrow_tooltip.png) no-repeat;
            }
          }
        }
      }
      
    }
    
  }

  &.sub02 {
    .table {
      span:nth-child(1) {
        width: 10%;
      }

      span:nth-child(2) {
        width: 63%;
      }

      span:nth-child(3) {
        width: 14%;
      }

      span:nth-child(4) {
        width: 12%;
      }
    }
  }

  &.sub03 {
    .select-list {
      max-height: 182px;
    }
    .table {
      span:nth-child(1) {
        width: 9%;
      }
      span:nth-child(2) {
        width: 9%;
      }

      span:nth-child(3) {
        // width: 45%;
        width: 55%;
      }
      span:nth-child(4) {
        // width: 9%;
        width: 4%;
      }

      span:nth-child(5) {
        width: 7%;
      }

      span:nth-child(6) {
        // width: 10%;
        width: 5%;
      }
      span:nth-child(7) {
        // width: 10%;
        width: 9%;
      }
      span:nth-child(8) {
        width: 3%;
      }
    }
  }

  &.sub03_04 {
    .table {
      span:nth-child(1) {
        width: 9%;
      }

      span:nth-child(2) {
        width: 54%;
      }

      span:nth-child(3) {
        width: 8%;
      }

      span:nth-child(4) {
        width: 16%;
      }

      span:nth-child(5) {
        width: 12%;
      }

      span.tool-type01 {
        width: auto;
        padding: 10px;
        @include font(14px, 400);
      }
    }
  }

  .tag-type01 {
    padding: 4px 10px 3px !important;
    width: auto !important;
    margin-left: 5px;
  }



  .tooltip-wrap {
    button {
      margin: 0;
    }

    .btn-tip {
      margin: 0 5px 0 0;
    }

    .tooltip {
      &.type01 {
        width: 408px;
        left: -200px;
      }

      &::before {
        left: 50%;
      }

      &.type02 {
        left: 0;
        transform: translateX(-45%);
        span.level {
          @include content-center-center;
          width: 28px;
          height: 28px;
          padding: 0;
          z-index: 10;
        }
      }

      &.type03 {
        left: -260px;

        &::before {
          left: 264px;
        }
      }
    }

  }

}

.gallery-box {
  width: 100%;
  border: 1px solid $color-line-type02;

  .gallery-wrap {
    @include content-center;
    flex-wrap: wrap;
    padding: 30px 85px;
    gap: 35px 75px;
  }

  .scroll-inner {
    height: 670px;

    @media (max-width: 1280px) {
      height: calc(630px - 155px);
    }
  }

  .book-box {
    @include layout-center-center;
    flex-direction: column;
    width: 210px;
    text-align: center;

    .book {

      img {
        object-fit: contain
      }
    }

    span {
      @include font(18px, 500);
      color: $color-sub33;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
      margin-bottom: 10px;

    }

    .grade {
      @include font(14px, 500);
      color: $color-font66;
      margin: 15px 0 10px;
    }

  }
}


.btn-icon {
  &.fix-m {
    padding: 10px 15px;

    &+.fix-m {
      margin-left: 10px;
    }
  }
}

.problem {
  background: url(../../images/common/ico_problem.png);
  background-size: 12px 11px !important;
  background-size: contain;
}

.comment {
  background: url(../../images/common/ico_comment.png);
  background-size: 14px 13px !important;
  background-size: contain;
}

.repeat {
  background: url(../../images/common/ico_resubmission.png);
  background-size: 14px !important;
  background-size: contain;
}


.top_box {
  position: relative;

  .topbtn-right {
    position: absolute;
    right: 0;
    bottom: 10px;
  }

  .btn-icon.type02 {
    margin-left: 5px;
  }

  .btn-icon.type04 {
    margin-left: 5px;
    display: inline-flex;
  }
}

.btn-icon {
  &.type04 {
    padding: 10px 15px;
    color: $color-sub33;

    &.active {
      color: $color-main-purple;
      border-color: $color-main-purple;

      .gallery {
        background: url(../../images/common/ico_gallery_on.png);

      }

      .list {
        background: url(../../images/common/ico_list_on.png);
        height: 11px;
      }
    }

    i {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  }
}

.right_wrap {
  display: flex;

  .search-box {
    margin-left: 6px;
  }
}


.pop-wrap {
  &.table-type {
    .btn-icon {
      &.pop-top-btn {
        position: absolute;
        right: 30px;
        top: 70px;
      }
    }
  }
}

// 교재연동
.sub02-01 {
  .tab-list-type01 {
    .table {
      span {
        &:nth-child(2) {
          width: 66%;
        }
        &:nth-child(3) {
          width: 6%;
        }
        &:nth-child(4) {
          width: 8%;
          
        }
        &:last-child {
          width: 12%;
        }
        &.company {
          width: 80px;
          word-break: break-all;
          text-align: center;
        }
      }
      
    }
  }
  .select-list {
    max-height: 110px;
  }
}