@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');


//문제은행 사이트
.que_cont {

	.tab-wrap::after {
		display: none;
	}

	.tab-menu-type01 {
		margin-top: 30px;
	}

	.tab-list-type01 {

		padding: 0px 20px 20px;

		.table.half-type .scroll-inner {
			height: 630px;
		}
	}

	&.sub01 {
		.table {
			.fix-head {}

			span:nth-child(1) {
				width: 6%;
			}

			span:nth-child(2) {
				width: 6%;
			}

			span:nth-child(3) {
				width: 8%;
				padding: 0;
				justify-content: center;
			}

			span:nth-child(4) {
				width: 7%;
			}

			span:nth-child(5) {
				width: 35%;

				img {
					margin: 0 10px;
				}
			}

			span:nth-child(6) {
				width: 6%;
			}

			span:nth-child(7) {
				width: 8%;
			}

			span:nth-child(8) {
				width: 6%;
			}

			span:nth-child(9) {
				width: 6%;
			}

			span:nth-child(10) {
				width: 10%;
			}

			span.tool-type01 {
				width: auto;
				padding: 10px;

				img {
					margin: 0 10px 0 0;
				}
			}

			p.txt {
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			.fix-head {}

			.col {
				span {
					&:nth-child(2) {
						justify-content: center;
						padding: 0;
					}

					&:nth-child(5) {
						justify-content: flex-start;
						padding: 13px;
					}
				}
			}
		}
	}

	

	.tooltip-wrap {
		button {
			margin: 0;
		}

		.btn-tip {
			margin: 0 5px 0 0;
		}

		.tooltip {
			&.type01 {
				width: 408px;
				left: -200px;
			}

			&::before {
				left: 50%;
			}

			&.type02 {
				left: -100px;

				span.level {
					@include content-center-center;
					width: 28px;
					height: 28px;
					padding: 0;
					z-index: 10;
				}
			}
		}

	}

}


// .print {
// 	background: url(../../images/common/ico_print.png);
// 	background-size: 14px 13px !important;
// 	background-size: contain;
// }

// .launch {
// 	background: url(../../images/common/ico_launch.png);
// 	background-size: 14px 14px !important;
// 	background-size: contain;
// }

// .gallery {
// 	background: url(../../images/common/ico_gallery_off.png);
// 	background-size: 14px 14px !important;
// 	background-size: contain;
// }

// .list {
// 	background: url(../../images/common/ico_list_off.png);
// 	background-size: 14px 11px !important;
// 	background-size: contain;

// }



.top_box {
	position: relative;

	.topbtn-right{
		position: absolute;
		right: 0;
		bottom: 10px;
	}

	.btn-icon.type02 {
		display: inline-block;
		margin-left: 5px;
	}

  .btn-icon.type04 {
		display: inline-block;
		margin-left: 5px;
	}
}

.btn-icon {
	&.type04 {
		padding: 10px 15px;
		color: $color-sub33;

    &.active {
      color: $color-main-purple;
      border-color: $color-main-purple;

      .gallery {
        background: url(../../images/common/ico_gallery_on.png);

      }

      .list{
        background: url(../../images/common/ico_list_on.png);
        height: 11px;
      }
    }

    i {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
	}
}

.right_wrap {
	display: flex;

	.search-box {
		margin-left: 6px;
	}
}

// .btn-dot {
// 	background: url(../../images/common/ico_dot.png) no-repeat;
// 	background-size: contain;
// 	width: 10px;
// 	height: 18px;
// 	position: relative;

// 	.open-select-list {
// 		position: absolute;
// 		width: 86px;
// 		right: -13px;
// 		top: 24px;
// 		background: #fff;
// 		z-index: 100;
// 	}
// }

.pop-wrap {
	&.table-type {
		.btn-icon {
			&.pop-top-btn {
				float: right;
				margin-right: 26px;
				margin-bottom: 10px;
			}
		}
	}
}