@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url(../css/font.css);

//결제관리
.sub13-que {
  .pr26 {
    padding-right: 26px;
  }
  .top-banner {
    margin-bottom: 46px;
    padding: 14px 0;
    font-family: 'GmarketSans';
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #f7f4ff;
    img {
      margin-top: -37px;
      margin-bottom: -29px;
    }
    .date {
      font-weight: 500;
    }
    .txt {
      color: #8d4aec;
      font-weight: 700;
    }
  }
  .container {
    .inner {
      padding-bottom: 20px;
    }
  }
  .content-wrap {
    margin: 70px 20px 0;
    padding:40px 30px 20px;
    border: 1px solid $color-line-type02;
    border-top: 2px solid $color-main-purple;
  }
  .sec01 {
    .sub-tit {
      margin-top: 50px;
    }
    .font-g {
      color: #999;
      font-size: 14px;
    }
    
  }
  .select-list {
    max-height: 190px;
  }
  .title-wrap {
    @include layout-justify-center;
    margin: 35px 0 10px;
    .sub-tit {
      margin: 0;
      span {
        margin-left: 10px;
        color: #999;
        font-weight: 400;
        img {
          position: relative;
          top: -2px;
        }
      }
    }
  }
  .title {
    @include font(28px, 700);
  }
  .sub-tit {
    display: block;
    margin: 40px 0 20px;
    @include font(18px, 600);
    em {
      color: #999;
      @include font(14px, 400)
    }
  }
  .coupon {
    position: relative;
    padding: 11px 24px 11px 52px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    background-color: #8d4aec;
    &::before {
      position: absolute;
      left: 16px;top: 10px;
      @include virtual-selector;
      width: 27px;height: 20px;
      background: url(../../images/common/ico_coupon.png) no-repeat;
    }
    &:hover {
      background-color: $color-main-purple;
    }
  }
  .btn-default {
    margin: 20px auto 0;
  }
  .price-wrap {
    @include layout-center;
    gap: 10px;
    .box {
      flex: 1;
      @include content-justify-center;
      padding: 19px 26px 19px 20px;
      border: 1px solid $color-line-type02;
      border-radius: 5px;
      background-color: $color-box-type02;
      .txt {
        font-weight: 600;
      }
      .price {
        color: #737373;
        em {
          margin-right: 3px;
          color: $color-sub33;
          @include font(18px, 700);
        }
      }
      
    }
    .left-cnt {
      display: flex;
      .txt-wrap + .txt-wrap {
        position: relative;
        margin-left: 250px;
        &::before {
          position: absolute;
          left: -140px;
          top: 50%;
          @include virtual-selector;
          width: 16px;height: 2px;
          margin-top: -1px;
          background-color: #333;
        }
      }
    }
  }
  .right-txt {
    display: block;
    margin-top: 5px;
    color: #999;
    font-size: 14px;
    text-align: right;
  }
  .payment-wrap {
    @include layout-center-center;
    gap: 10px;
    padding: 20px;
    border: 1px solid $color-line-type02;
    border-radius: 5px;
    background-color: $color-box-type02;
    .btn-line {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
      width: 50%;
      height: 144px;
      padding: 20px;
      font-weight: 600;
      border: 1px solid $color-box;
      border-radius: 5px;
      background-color: #fff;
      cursor: pointer;
      box-sizing: border-box;
      span {
        position: relative;
        &::before {
          position: absolute;
          left: 0;
          @include virtual-selector;
        }
      }
      .tit-area {
        @include content-center;
        .form-txt-chk {
          padding-left: 17px;
          color: #999;
          font-weight: 400;
          font-size: 13px;
          img {
            position: relative;
            top: -2px;
          }
        }
      }
      .tit {
        margin-right: 10px;
        font-size: 24px;
        em {
          display: block;
          color: #999;
          font-size: 16px;
        }
      }
      &.card {
        padding-left: 41px;
        span {
          padding-left: 32px;
          &::before {            
            width: 25px;height: 18px;
            background: url(../../images/common/ico_card.png) no-repeat;
          }
        }
      }
      &.cash {
        padding-left: 37px;
        span {
          padding-left: 30px;
          &::before {
            width: 23px;height: 19px;
            background: url(../../images/common/ico_cash.png) no-repeat;
          }
        }
      }
      &.active {
        .tit {
          color: $color-main-purple;
        }
        border-color: $color-main-purple;
        &.card {
          span {
            &::before {
              background: url(../../images/common/ico_card_on.png) no-repeat;
            }
          }
        }
        &.cash {
          span {
            &::before {
              background: url(../../images/common/ico_cash_on.png) no-repeat;
            }
          }
        }
      }
    }
    .price-area {
      display: flex;
      width: 100%;
      color: #999999;
      justify-content: flex-end;
      & > div {
        display: flex;
        align-items: flex-end;
        & > em {
          margin-right: 10px;
        }
        & + div {
          margin-left: 20px;
        }
      }
      .box {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        em {
          margin-right: 3px;
          font-size: 18px;
        }
        .font-c {
          color: #5a14be;
          em {
            font-size: 24px;
            font-weight: 600;
          }
        }
      }
    }
    .tooltip-wrap {
      position: absolute;
      left: -5px;
      top: -3px;
      .tooltip {
        top: -46px;
        left: -20px;
        &::before {
          top: 35px;
          left: 22px;
          transform: rotate(-180deg);
        }
      }
    }
  }
  .select-btn {
    width: 140px;
  }
  .txt-box-wrap {
    .txt-box {
      span {
        font-size: 16px;
        font-weight: 500;
        &.num {
          margin-left: 10px;
          font-size: 18px;
          font-weight: 600;
        }
        &.txt {
          color: #737373;
          font-size: 16px;
          font-weight: 400;
        }
      }
      & + .txt-box {
        margin-left: 120px;
        &::before {
          left: -67px;
        }
      }
    }
    &.type02 {
      position: relative;
      padding: 27px 100px;
      text-align: left;
      .txt-box {        
        & + .txt-box {
          margin-left: 220px;
          &::before {
            left: -110px;
          }
        }
        &.total {
          position: absolute;
          right: 100px;
          top: 50%;
          transform: translateY(-50%);
          &::before {
            display: none;
          }
        }
      }
    }
  }
  .benefits {
    td {
      padding: 30px 0;
      vertical-align: top;
      &.active {
        background-color: #f5f1ff;
      }
      .txt {
        display: block;
        margin-top: 5px;
        font-size: 14px;
      }
    }
    .tit {
      padding-top: 15px;
      em {
        color: #333;
        font-size: 24px;
        font-weight: 600;
      }
      span {
        font-size: 24px;
      }
      img {
        position: relative;
        top: -13px;
      }
    }
    .list-area {
      margin-top: 40px;
      // margin: 20px 0 10px;
    }
    .chk-area {
      margin-bottom: 0;
      em {
        display: block;
        margin: 5px auto;
      }
      & > span {
        position: relative;
        display: block;
        width: 211px;height: 40px;
        margin: auto;
        padding: 11px 15px;
        text-align: left;
        font-size: 16px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        background-color: #fff;
        box-sizing: border-box;
        cursor: pointer;
        &::after {
          position: absolute;
          top: 11px;right: 10px;
          @include virtual-selector;
          width: 18px;height: 18px;
          background: url(../../images/sub/ico_arrow.png) no-repeat;
        }
        &.active {
          color: #5a14be;
          font-weight: 500;
          border-color: #5a14be;
          &::after {
            background: url(../../images/sub/ico_arrow_on.png) no-repeat;
          }
        }
      }
      &.align-c {
        display: flex;
        height: 100px;
      }
      .tooltip-btn {
        width: 211px;
        padding: 11px 15px 11px 37px;
      }
      .tooltip-wrap {
        position: absolute;
        left: 15px;
        top: 50%;
        margin-top: -9px;
        .tooltip {
          left: -54px;
        }
      }
    }
    .select-wrap {
      width: 211px;
      .select-btn {
        width: 100%;
      }
      .select-list {
        overflow: inherit;
        .btn-line {
          width: 100%;
          border: 0;
          border-top: 1px solid #e1e1e1;
          border-radius: 0;
          &.active {
            padding: 11px 14px;
            border: 1px solid #5a14be;
            &.tooltip-btn {
              padding: 11px 14px 11px 36px;
            }
          }
          &:last-child {
            border-radius: 0 0 5px 5px;
          }
        }
      }
    }
  }
  .red-line {
    em {
      position: relative;
      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        @include virtual-selector;
        width: 102%;
        height: 2px;
        margin-top: -1px;
        background-color: #ec4a4a;
      }
    }
  }
  .table-wrap.type03 {
    overflow: inherit;
    .c-gray {
      margin-right: 0;
    }
    .c-black {
      span {
        &.num, &.txt {
          color: #333;
        }
      }
    }
    .input-radio-type01 {
      label:last-child {
        margin-right: 0;
      }
    }
    .top-txt , .btm-txt {
      @include layout-justify-center;
      width: 194px;
      margin: auto;
      .txt {
        width: 76px;
      }
    }
    .top-txt {
      margin-bottom: 5px;
      color: #999;
      span {
        font-size: 16px;
      }
      .price-txt {
        position: relative;
        &::before {
          @include virtual-selector;
          width: 100%;
          height: 1px;
          background-color: #999;
          position: absolute;
          top: 50%;
          left: 0;
        }
      }
    }
    .btm-txt {
      color: #5a14be;
      font-weight: 600;
      .txt {
        padding: 5px 0;
        font-size: 18px;
        border-radius: 15px;
        background-color: #f5f1ff;
      }
      .price-txt {
        font-size: 24px;
      }
    }
  }
  .select-list {
    li {
      padding-left: 0;
      height: 40px;
      a {
        @include content-center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
      }
    }
  }
  .pay-wrap {
    .title-box {
      text-align: center;
      .txt {
        line-height: 1.5;
        em {
          font-weight: 600;
        }
      }
    }
    .title {
      display: block;
      margin: 20px 0 15px;
    }
    .sec01 {
      width: 850px;
      margin: 20px auto 0;
    }
    .table-wrap {
      td {
        padding: 15px 20px;
        text-align: right;
      }
      .bold {
        font-weight: 600;
        font-size: 16px;
      }
      .detail-cnt {
        .tr {
          @include layout-justify-center;
          margin-top: 5px;
        }
        .th {
          color: #999999;
          font-size: 16px;
        }
      }
      .num {
        color: #5a14be;
        font-size: 20px;
        em {
          color: #5a14be;
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}
.coupon-pop.table-type {
  .pop-content {
    padding: 0 27px 20px;
  }
  .txt {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
  }
}
.sub14 {
  .txt-box-wrap {
    .txt-box {
      align-items: flex-end;
      span{
        &.num {
          position: relative;
          top: 2px;
          font-size: 28px;
          font-weight: 400;
          line-height: 1;
        }
        &.txt {
          margin-left: 3px;
          font-size: 20px;
        }
      }
    }
  }
}
.sub15 {
  .table-wrap {
    tbody {
      td {
        height: 140px;
        box-sizing: border-box;
      }
      .plus {
        position: relative;
        top: -2px;
        margin: 0 5px;
      }
    }
  }
}
.swiper-pop {
  .pop-inner {
    width: 1000px;
  }
  .pop-header {
    padding: 23px 0;
    color: #fff;
    background-color: #5a14be;
    .title {
      display: inline-block;
      padding-left: 40px;
      font-size: 24px;
      background: url(../../images/common/ico_book_white.png) no-repeat left center;
    }
  }
  .pop-close {
    width: 20px;
    height: 20px;
    background: url(../../images/common/ico_add_type07.png) no-repeat;
    background-size: cover;
    transform: rotate(45deg);
  }
  .pop-content {
    padding: 40px 0;
    .txt-box {
      color: #5a14be;
      text-align: center;
      .txt {
        margin-top: 10px;
        @include font(30px, 700);
      }
      .sub-txt {
        color: #999999;
        span {
          margin: 0 10px;
          color: #5a14be;
        }
      }
    }
    .book-preview-swiper {
      width: 60%;
      margin: 30px auto;      
      text-align: center;
      img {
        height: 596px;
      }
      .swiper-button-next, .swiper-button-prev {
				width: 26px;
				height: 42px;
				background: url(../../images/common/ico_arrow_bg_d.png) no-repeat;
				background-size: contain;
			}
      .swiper-button-next {
				transform: rotate(-180deg);
			}
			.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
				display: none;
			}
    }
    .pagination {
      font-size: 20px;
      text-align: center;
      input {
        width: 37px;
        height: 37px;
        padding: 0;
        text-align: center;
        border-radius: 0;
      }
    }
  }
}

@media (max-width: 1280px) {
  .sub13-que {
    overflow: hidden;
    .container {
      .inner {
        padding-bottom: 0;
      }
    }
  }
}