@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url(../css/font.css);
/* icon */
i {
	&.change {
		background: url(../../images/sub/ic-change.png) no-repeat;
		background-size: 18px !important;
		background-size: contain;
	}
}


/* range slider */
.range-bar {
	background:$color-line-type02;
	border: none !important;
	width: 100%;
	height: 4px;
	margin: 30px 20px !important;
	border-radius: 0 !important;
	position: relative;
	.ui-slider-handle{
		position: absolute;
		width: 30px;
		height: 30px;
		top: -12px;
		margin-left: 0;
		background: url(../../images/sub/range-handle.png) no-repeat;
		background-size: contain;
		outline: none;
		transform: translateX(-50%);
	}
	.ui-slider-range {
		background-color: $color-main-purple;
		height: 4px;
	}	
}


/* btn-step */
.btn-step {
	&.next {
		background: $color-main-purple url(../../images/common/ico_arrow_step_next.png) no-repeat right 20px center;
		padding-left: 0;
		padding-right: 30px;
	}
	&.end {
		background: $color-main-purple;
		padding-left: 0;
	}
}
/* btn-line */
.btn-line {
	height: 40px;
	color: $color-sub33;
	border: 1px solid $color-line-type02;
	border-radius: 3px;
	@include font(16px, 400);
	&.active {
		background-color: #ebe3ff;
		color: $color-main-purple;
		@include font(16px, 600);
		border: 1px solid #dbcbf3;
	}
}
/* btn-star */
.btn-star {
	width: 16px;
	height: 15px;
	background: url(../../images/sub/ic-btn-star-off.png) no-repeat center center;
	background-size: contain;
	&.active {
		background: url(../../images/sub/ic-btn-star-on.png) no-repeat center center;
	}
}
/* btn-icon type04 (ej_que.scss) */
.btn-icon {
  &.type04 {
		background-color: #fff;
    &.active {
      color: $color-main-purple;
      border-color: $color-main-purple;
			.gallery {
        background: url(../../images/common/ico_gallery_on.png) no-repeat;
      }
      .list {
        background: url(../../images/common/ico_list_on.png) no-repeat;
				height: 11px;
      }
    }
		i {
      width: 14px;
      height: 14px;
      margin-right: 5px;
    }
  }
}


/* que-badge */
.que-badge {
	@include content-center-center;
	min-width: 45px;
	height: 26px;
	padding: 0 13px;
	border-radius: 13px;
	box-sizing: border-box;
	@include font(12px, 500);
	line-height: 26px;
	&.yellow {
		background-color: #fff6dc;
		color: #bb7b00;
	}
	&.green {
		background-color: #bfebdf;
		color: #1b9372;
	}
	&.blue {
		background-color: #d8e1f7;
		color: #4b70c9;
	}
	&.gray {
		background-color: #e8e8e8;
		color: #666666;
	}
}


/* que */
.full-pop-que {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	background-color: #f8f8f8;
	@media (max-width: 1280px) {
		height: 760px;
	}
	.full-pop-wrap {
		max-width: 1280px;
		padding: 10px 20px;
		margin: 0 auto;
		box-sizing: border-box;
		.tab-wrap {
			&::after {
				display: none;
			}
		}
		.pop-header {
			@include layout-justify-center;
			width: 100%;
			margin-bottom: 10px;
			.title {
				@include layout-center;
				gap: 30px;
				li {
					position: relative;
					@include font(14px, 400);
					color: $color-font6a;
					&::before {
						@include virtual-selector;
						position: absolute;
						top: 50%;
						right: -19px;
						width: 11px;
						height: 1px;
						background-color: #d2d2d2;
					}
					&.active {
						@include font(14px, 700);
						color: $color-sub33;
						img {
							margin-right: 5px;
						}
					}
					&:nth-last-child(1) {
						&::before {
							display: none;
						}
					}		
				}
			}
			.pop-btn {
				width: 32px;
				height: 32px;
				background: url(../../images/sub/ico_full_pop_close.png)no-repeat;
			}
		}
		.pop-content {
			.tab-wrap {
				.contents {
					.unit-box-wrap {
						@include layout-justify-start;
						background-color: #fff;
						.unit-box {
							width: 800px;
							height: calc(824px - 52px);
							border: 1px solid #dbcbf3;
							box-sizing: border-box;
							overflow-y: auto;
							@media (max-width: 1280px) {
								height: calc(630px - 52px);
							}
							.unit-cnt {
								width: 100%;
								// height: 684px;
								overflow-y: auto;
								.check-group {
									position: relative;
									padding: 10px 0 10px 20px;
									&::before {
										@include virtual-selector;
										position: absolute;	
										top: 16px;
										left: 0;
										width: 13px;
										height: 7px;
										background: url("../../images/common/select_arrow.png") no-repeat;
										transform: rotate(-90deg);
									}
									&.title {
										background-color: $color-box-type02;
										&::before {
											left: 25px;
										}
										.title-chk {
											padding-left: 25px;
										}
									}
								}
								.check-group.on {
									&::before {
										transform: rotate(0);
									}
								}
								.depth02 {
									display: none;
									padding-left: 55px;
								}
								.depth03, .depth04, .depth05{
									display: none;
									padding-left: 30px;
								}
								input[type="checkbox"] {
									& + label {
										padding-left: 30px;
										font-size: 16px;
										&::before {      
											width: 20px;
											height: 20px;
											margin-top: -9px;
											border-radius: 3px;
											background: url(../../images/common/input_checkbox.png) no-repeat;
											background-size: contain;
										}
										.num {
											@include font(13px, 400);
										}
									}
									&:checked + label {
										.dep-btn, span {
											color: $color-main-purple;
										}
										&::before {
											background: url(../../images/common/input_checkbox_chk.png) no-repeat;
											background-size: contain;
										}
									}
								}
							}
						}
						.type-box {
							width: 440px;
							height: calc(824px - 52px);
							border: 1px solid $color-line-type02;
							box-sizing: border-box;
							padding: 0 30px;
							@media (max-width: 1280px) {
								height: calc(630px - 52px);
							}
							.box {
								padding: 25px 0;
								.btn-wrap {
									@include layout-center-center;
									gap: 8px;
									.btn-line {
										flex-grow: 1;
									}
								}
								.title-wrap {
									@include layout-justify-center;
									margin-bottom: 17px;
									.tit-text {
										@include font(20px, 700);
										color: $color-sub33;
									}
									.right-area {
										@include content-center-center;
										.tooltip-wrap {
											padding: 5px 0;
											margin-right: 5px;
											.tooltip {
												text-align: center;
												z-index: 3;
												left: -141px;
												&::before {
													left: 198px;
												}
											}
										}
										.toggle-wrap {
											@include content-center;
											.tit {
												@include font(16px, 600);
												margin-right: 10px;
												line-height: 29px;
												&.on {
													color: $color-main-purple;
												}
											}
										}
									}
								}
								.range-wrap {
									@include layout-center-center;
									flex-direction: row;
									gap: 2px;
									margin-top:28px;
									.range {
										flex-grow: 1;
										text-align: center;
										.bar {
											display: block;
											width: 100%;
											height: 5px;
										}
										.tit {
											display: block;
											@include font(16px, 700);
											padding: 15px 0;
										}
										&:nth-child(1) {
											.bar {
												background-color: #50acfb;
											}
											.tit {
												color: #50acfb;
											}
										}
										&:nth-child(2) {
											.bar {
												background-color: #4b70c9;
											}
											.tit {
												color: #4b70c9;
											}
										}
										&:nth-child(3) {
											.bar {
												background-color: #1b9372;
											}
											.tit {
												color: #1b9372;
											}
										}
										&:nth-child(4) {
											.bar {
												background-color: #ff9314;
											}
											.tit {
												color: #ff9314;
											}
										}
										&:nth-child(5) {
											.bar {
												background-color: #fc5a28;
											}
											.tit {
												color: #fc5a28;
											}
										}
									}
								}
								.gray-box {
									@include layout-justify-center;
									background-color: $color-box-type02;
									margin-top: 10px;
									height: 50px;
									border-radius: 5px;
									padding: 0 15px;
									.num {
										@include font(16px, 600);
										input {
											width: 50px;
											margin: 0 10px;
											@include font(16px, 600);
											color: $color-main-purple;
											text-align: center;
										}
									}
								}
								& + .box {
									border-top: 1px solid $color-line-type02;
								}
							}
						}
					}
				}
			}
			.view-box-wrap {
				@include layout-justify-start;
				gap: 10px;
				.view-box {
					width: calc(50% - 5px);
					height: 824px;
					background-color: #fff;
					border: 1px solid $color-line-type02;
					border-radius: 5px;
					box-sizing: border-box;
					@media (max-width: 1280px) {
						height: 630px;
					}
					.view-top {
						@include layout-justify-center;
						padding: 20px 30px;
						.title {
							@include font(20px, 600);
						}
						.right-area {
							@include layout-center-center;
							.toggle-wrap {
								@include layout-center-center;
								margin-right: 20px;
								.toggle-btn {
									margin-right: 5px;
								}
							}
						}
					}
					.view-que-list {
						&.scroll-inner {
							height: calc(824px - 137px);
							@media (max-width: 1280px) {
								height: calc(630px - 137px);
							}
						}
						overflow-y: auto;
						margin: 0 30px;
						.view-que {
							border: 1px solid $color-line-type02;
							border-radius: 5px;
							padding: 15px 20px;
							background-color: #fff;
							.que-top {
								@include layout-justify-start;
								.title {
									@include layout-center-center;
									gap: 10px;
									.num {
										@include font(16px, 700);
									}
									.que-badge-group {
										@include layout-center-center;
										gap: 10px;
									}
								}
								.btn-wrap {
									@include layout-center-center;
									margin-top: 0;
									gap: 24px;
									.btn-error {
										width: 26px;
										height: 21px;
										background: url(../../images/sub/ic_btn_error.png) no-repeat;
										background-size: contain;
									}
									.btn-delete {
										width: 17px;
										height: 20px;
										background: url(../../images/sub/ic_btn_delete.png) no-repeat;
										background-size: contain;
									}
								}
							
							}
							.que-content {
								padding: 20px 0;
								.txt {
									@include font(16px, 700);
									line-height: 30px;
								}
								ul {
									margin-top: 15px;
									ol {
										display: flex;
										flex-direction: row;
										margin-bottom: 10px;
										word-break: break-all;
										em {
											padding-top: 3px;
											margin-right: 5px;
										}
										& + ol {
											margin-top: 15px;
										}
									}
								}
							}
							.que-bottom {
								@include layout-justify-center;
								.que-info {
									.answer {
										.label {
											@include content-center-center;
											width: 33px;
											height: 24px;
											border: 1px solid $color-line-type02;
											border-radius: 3px;
											@include font(12px, 600);
											line-height: 24px;
											margin-right: 5px;
										}		
									}
									.chapter {
										@include font(14px, 400);
										color: #999;
										margin-top: 7px;
									}
								}
								.btn-similar-que {
									flex-shrink: 0;
									width: 36px;
									height: 36px;
									border: 1px solid $color-line-type02;
									border-radius: 5px;
									background: #fff url(../../images/sub/ic_btn_que.png) center center no-repeat;
									&.active {
										border: 1px solid $color-main-purple;
									}
								}
							}
							em {
								font-size: 12px;
							}
							& + .view-que {
								margin-top: 20px;
							}
							/* view-que active */
							&.active {
								border: 2px solid $color-main-purple;
								background-color: #fcfaff;
							}
						}
					}
					.view-bottom {
						width: 100%;
						height: 56px;
						border-top: 1px solid $color-line-type02;
						padding: 0 30px;
						box-sizing: border-box;
						@include layout-justify-center;
						.que-badge-group {
							@include layout-center;
							gap: 20px;
							.que-badge-wrap {
								@include layout-center-center;
								gap: 5px;
								.que-badge {
									min-width: 24px;
									height: 24px;
									border-radius: 12px;
									padding: 0;
								}
								.num {
									@include font(16px, 500);
								}
							}
						}
						.total-num {
							@include font(16px, 500);
							span {
								@include font(16px, 700);
							}
						}
					}
					.table {
						width: calc(100% - 60px);
						overflow-y: auto;
						border: 1px solid $color-line-type02;
						background-color: #fff;
						border-radius: 5px;
						border-bottom: 0;
						margin: 0 30px;
						.col {
							@include font(14px, 400);
							&.active {
								border: 1px solid $color-main-purple;
							}
							box-sizing: border-box;
						}
						.fix-head, .col {
							display: flex;
							width: 100%;
						}
						span {
							@include content-center-center;
						}
						span:nth-child(1) {
							width: 8%;
						}
						span:nth-child(2) {
							width: 45%;
						}
						span:nth-child(3) {
							width: 4%;
						}
						span:nth-child(4) {
							width: 21%;
						}
						span:nth-child(5) {
							width: 7%;
						}
						span:nth-child(6) {
							width: 15%;
						}
						.fix-head {
							border-bottom: 1px solid $color-line-type02;
							background-color: $color-table;
							span {
								padding: 11px 0;
								font-weight: 600;
							}
						}
						.col {
							border-bottom: 1px solid $color-line-type02;
							span {
								padding: 13px 0;
								&:nth-child(2) {
									justify-content: flex-start;
									padding: 13px;
								}
							}
						}
						.tbody {
							background-color: #fff;
						}
						&.half-type {
							.scroll-inner {
								height: 619px;
								@media (max-width: 1280px) {
									height: 426px;
								}
							}
							span:nth-child(1) {
								width: 12%;
							}
							span:nth-child(2) {
								width: 7%;
								padding: 0;
								justify-content: center;
							}
							span:nth-child(3) {
								width: 55%;
								padding: 13px 27px;
								justify-content: flex-start;
							}
							span:nth-child(4) {
								width: 13%;
							}
							span:nth-child(5) {
								width: 13%;
							}
							a {
								display: flex;
								width: 100%;
							}
						}
						.dragHandle {
							cursor: move;
						}
						.myDragClass {
							box-shadow: 1px 1px 9.9px 0.1px rgba(0, 0, 0, 0.34);
						}
					}
					&.type02 {
						background-color: #f6f3fa;
						border: 1px solid #d2c6e4;
						.tab-menu-type03 {
							background-color: #fff;
							margin: 20px 30px;
						}
						.view-top {
							padding-top: 0;
							.select-btn {
								width: 130px;
							}
							& + .view-que-list {
								&.scroll-inner {
									height: calc(824px - 137px - 61px);
									@media (max-width: 1280px) { 
										height: calc(630px - 137px - 61px);
									}
								}
							}
						}
						.view-que-list {
							.btn-wrap {
								button {
									& + button {
										margin-left: 10px;
									}
								}
							}
							&.no-data {
								@include layout-center-center;
								flex-direction: column;
								text-align: center;
								height: calc(824px - 137px);
								@media (max-width: 1280px) {
									height: calc(630px - 137px);
								}
								.ic-no-data {
									display: block;
									width: 110px;
									height: 110px;
									background: url(../../images/sub/ic_que_no_data.png) center center no-repeat;
									background-size: contain;
									margin-bottom: 18px;
								}
								p {
									@include font(18px, 500);
									line-height: 30px;
								}
							}
						}
						.view-bottom {
							@include layout-center-center;
							.que-badge-group {
								.que-badge-wrap {
									.que-badge {
										min-width: 45px;
									}
								}
							}
						}
					}
					.que-setting-list {
						padding: 0 30px;
						> li {
							@include layout-justify-start;
							padding: 25px 0;
							border-top: 1px solid $color-line-type02;
							&:nth-child(1) {
								padding: 20px 0 25px 0;
								border-top: 0;
							}
						}
						.tit {
							@include content-center;
							width: 92px;
							flex-shrink: 0;
							@include font(16px, 700);
							line-height: 19px;
							padding-top: 13px;
							.tooltip-wrap {
								.btn-tip {
									margin-left: 5px;
								}
								.tooltip {
									left: -47px;
									z-index: 2;
								}
							}
						}
						.opt-wrap {
							position: relative;
							width: 100%;
							.form-txt-error {
								display: block;
								color: $color-font-red;
								margin-top: 7px;
							}
							.ip-name {
								margin-right: 18px;
							}
							.sel-label {
								@include font(16px, 700);
								margin-right: 10px;
							}
							.select-btn {
								width: 90px;
							}
						}
						.btn-wrap {
							flex-wrap: wrap;
							justify-content: start;
							gap: 10px;
							.btn-line {
								flex-shrink: 0;
								width: 84px;
							}
							.input-line {
								width: 84px;
								border-radius: 3px;
								text-align: center;
							}
						}
						.range-wrap {
							@include layout-center;
							flex-direction: row;
							width: 365px;
							span {
								font-size: 14px;
							}
						}
						.check-wrap {
							@include layout-center;
							flex-wrap: wrap;
							.check-group {
								display: inline-block;
								width: 150px;
								margin-bottom: 20px;
								label {
									font-size: 16px;
								}
							}
						}
						.btn-color-wrap {
							@include layout-center-center;
							gap: 10px;
							margin-top: 10px;
							.btn-color {
								width: 20px;
								height: 20px;
								border-radius: 10px;
								&.type01 {
									background-color: #e84a1f;
								}
								&.type02 {
									background-color: #f0bf14;
								}
								&.type03 {
									background-color: #8abc04;
								}
								&.type04 {
									background-color: #04b6bc;
								}
								&.type05 {
									background-color: #828282;
								}
							}
						}
						.template-swiper {
							overflow: hidden;
							width: 100%;
							.swiper-container {
								width: 375px;
								overflow: hidden;
								margin: 0 auto;
								.swiper-slide {
									position: relative;
									border: 1px solid $color-line-type02;
									border-radius: 3px;
									box-sizing: border-box;
									&.on {
										border: 1px solid $color-main-purple;
										.btn-star {
											background: url(../../images/sub/ic-btn-star-on.png) no-repeat center center;
										}
									}
									.btn-star {
										position: absolute;
										right: 6px;
										bottom: 7px;
									}
								}
							}
							.swiper-button-next, .swiper-button-prev {
								top: 50%;
								width: 32px;
								height: 32px;
								border-radius: 16px;
								background: #4a4a4a url(../../images/common/ico_arrow_w_lg.png) no-repeat center;
								&:hover {
									background-color: $color-main-purple;
								}
							}
							.swiper-button-prev, .swiper-rtl .swiper-button-next {
								left: 0;
								transform: rotate(-180deg);
							}
							.swiper-button-next, .swiper-rtl .swiper-button-prev {
								right: 0;
							}
							.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after, .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
								display: none;
							}
						}
					}
					.preview-box {
						.tit {
							display: block;
							@include layout-center;
							padding: 30px 50px 20px 50px;
							span {
								@include font(20px, 600);
							}
							.preview-file {
								display: inline-block;
								width: 20px;
								height: 22px;
								background: url(../../images/sub/ic-preview-file.png) no-repeat;
								background-size: contain;
								margin-right: 13px;
							}
						}
						.img-box {
							width: 100%;
							height: calc(824px - 93px);
							text-align: center;
							@media (max-width: 1280px) {
								height: calc(630px - 93px);
							}
							img {
								width: 100%;
								height: 100%;
								object-fit: contain;
							}
						}
					}
					
				}
			}
			&.cnt02 {
				.top-box {
					position: relative;
					.top-btn-right {
						@include layout-center-center;
						gap: 10px;
						position: absolute;
						top: 0;
						right: 0;
					}
				}
				.tab-top {
					background-color: #fff;
					border-left: 1px solid $color-line-type02;
					border-right: 1px solid $color-line-type02;
					.search-box {
						width: 250px;
					}
				}
				.table {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					.col {
						span {
							padding: 22px 0;
							&:nth-child(2) {
								display: inline-block;
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;
							}
						}
					}
					span {
						&:nth-child(1) {
							width: 12%;
						}
						&:nth-child(2) {
							width: 60%;
						}
						&:nth-child(3) {
							width: 7%;
						}
					}
					.scroll-inner {
						height: 638px;
						@media (max-width: 1280px) {
							height: 444px;
						}
					}
				}
				.view-box-wrap {
					background-color: #fff;
					padding: 13px 30px 20px 20px;
					border: 1px solid $color-line-type02;
					border-radius: 5px;
				}
				.gallery-wrap {
					background-color: #fff;
					border: 1px solid $color-line-type02;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					.gallery-list {
						@include layout-center;
						flex-wrap: wrap;
						padding: 30px 85px;
						gap: 35px 75px;
						&.scroll-inner {
							height: 619px;
							@media (max-width: 1280px) {
								height: 424px;
							}
						}
						.book-item {
							a {
								@include layout-center-center;
								flex-direction: column;
								width: 210px;
								text-align: center;
								span {
									@include font(18px, 500);
									color: $color-sub33;
									white-space: nowrap;
									text-overflow: ellipsis;
									overflow: hidden;
									width: 100%;
								}
								.grade {
									@include font(14px, 500);
									color: $color-font66;
									margin: 15px 0 10px;
								}
							}
						}
					}
					
				}
				.opt-wrap {
					@include layout-justify-start;
					flex-direction: column;
					background-color: #fff;
					border: 1px solid $color-line-type02;
					border-top: 0;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;
					padding: 15px 30px 20px 30px;
					.top-tit {
						@include layout-justify-center;
						width: 100%;
						margin-bottom: 10px;
						span {
							@include font(20px, 600);
						}
					}
					.line-box-wrap {
						@include layout-justify-start;
						flex-direction: row;
						width: 100%;
						gap: 10px;
						.line-box {
							width: calc(100% / 3);
							border: 1px solid $color-line-type02;
							border-radius: 5px;
							box-sizing: border-box;
							.scroll-inner {
								position: relative;
								height: 684px;
								@media (max-width: 1280px) {
									height: 489px;
								}
								.chk-box {
									.tit {
										padding: 10px 20px;
										background-color: $color-box-type02;
									}
									.chk-list {
										padding: 0 20px;
										li {
											padding: 15px 0; 
											label {
												font-size: 16px;
												&::before {
													width: 20px;
													height: 20px;
												}
											}
										}
									}
								}
								.box {
									padding: 20px;
									& + .box {
										border-top: 1px solid $color-line-type02;
									}
									.title-wrap {
										@include layout-justify-center;
										margin-bottom: 17px;
										.title {
											@include font(20px, 700);
										}
										.right-area {
											@include content-center;
											.tooltip-wrap {
												padding: 5px 0;
												margin-right: 5px;
												.tooltip {
													left: -130px;
													text-align: center;
													&::before {
														left: 188px;
													}
												}
											}
											.toggle-wrap {
												@include content-center;
												.tit {
													@include font(16px, 700);
													margin-right: 10px;
													line-height: 29px;
													&.on {
														color: $color-main-purple;
													}
												}
												.toggle-btn {
													margin-right: 5px;
												}
											}
										}
									}
									.btn-wrap {
										@include layout-center-center;
										gap: 8px;
										.btn-line {
											flex-grow: 1;
										}
									}
									.gray-box {
										@include layout-center-center;
										width: 100%;
										height: 50px;
										background-color: $color-box-type02;
										border-radius: 5px;
										.que-num {
											@include layout-center;
											margin-right: 20px;
											.btn-delete {
												width: 20px;
												height: 20px;
												background: url(../../images/common/ico_delete_type02.png) no-repeat;
												background-size: contain;
												margin-left: 5px;
											}
										}
										.num-box {
											.select-wrap {
												margin-right: 5px;
												.select-btn {
													width: 80px;
												}	
											}
										}
										.total-num {
											@include font(20px, 700);
											color: $color-main-purple;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		.step-btn-wrap {
			@include layout-justify-start;
			margin-top: 10px;
			&.single {
				display: flex;
				justify-content: flex-end;
			}
		}
		/* 레이어 팝업으로 인한 z-index 추가 */
		.toggle-btn {
			z-index: 0;
		}
	}
}


/* popup has-check */
.pop-wrap {
	&.alert-type {
		&.has-check {
			.check-wrap {
				padding-bottom: 50px;
				label {
					font-size: 16px;
				}
			}
		}
	}
}
/* pop-wrap alert-type change */
.pop-wrap {
	&.alert-type {
		&.change {
			.pop-inner {
				width: 400px;
			}
		}
	}
}
/* que-preview-wrap */
.que-preview-wrap {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 793px;
	background-color: #fff;
	z-index: 2;
	padding: 35px 40px;
	box-sizing: border-box;
	overflow-y: auto;
	.que-top {
		border-bottom: 1px solid $color-line-type02;
		.tit-wrap {
			@include layout-justify-start;
			margin-bottom: 50px;
			.left-area {
				@include layout-justify-start;
				.badge {
					@include content-center-center;
					width: 88px;
					height: 40px;
					border-radius: 10px;
					background-color: $color-main-purple;
					color: #fff;
					@include font(20px, 600);
					flex-shrink: 0;
					margin-right: 10px;
				}
				.tit {
					.txt {
						@include font(34px, 700);
						em {
							@include font(34px, 700);
							color: $color-main-purple;
						}
					}
					.desc {
						display: inline-block;
						@include font(18px, 500);
						color: #999;
						margin-top: 10px;
					}
				}
			}
		}
		.info-wrap {
			@include layout-justify-start;
			margin-bottom: 13px;
			.info {
				@include layout-center;
				span {
					display: inline-block;
					padding: 0 10px;
					@include font(16px, 500);
					position: relative;
					&::before {
						@include virtual-selector;
						position: absolute;
						top: 2px;
						right: -2px;
						width: 2px;
						height: 15px;
						background-color: #c4c4c4;
					}
					&:nth-child(1) {
						padding-left: 0;
					}
					&:nth-last-child(1) {
						&::before {
							display: none;
						}
						color: $color-font66;
					}
				}
			}
			.name {
				display: inline-block;
				width: 170px;
				@include font(16px, 500);
			}
		}
	}
	.que-cnt {
		@include layout-justify-start;
		gap: 60px;
		position: relative;
		&::after {
			@include virtual-selector;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 1px;
			height: 100%;
			background-color: $color-line-type02;
		}
		.layout {
			width: 50%;
			padding-top: 40px;
		}
		.problem-cnt {
			margin-bottom: 100px;
			.tit {
				@include font(16px, 500);
				color: #979797;
				margin-bottom: 15px;
				em {
					color: $color-main-purple;
				}
			}
			.num {
				display: inline-block;
				margin-right: 20px;
				@include font(28px, 700);
				color: $color-main-purple;
			}
			.problem-wrap {
				display: flex;
				flex-direction: row;
				@include font(14px, 500);
				color: #000;
				.problem-txt {
					line-height: 24px;
					margin-bottom: 20px;
					white-space: wrap;
					word-break: break-all;
				}
				.choice-list {
					ol {
						display: flex;
						flex-direction: row;
						margin-bottom: 10px;
						word-break: break-all;
					}
					em {
						font-size: 11px;
						padding-top: 3px;
						margin-right: 5px;
					}
				}
			}
		}
	}
	.que-bottom {
		border-top: 1px solid $color-line-type02;
		padding-top: 10px;
		text-align: right;
		span {
			color: #747474;
			em {
				font-weight: 600;
				color: #000;
			}
		}
	}
}
