@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import "ej.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Noto+Sans+KR:wght@400;500;700;900&display=swap');

// 무료체험
.free-cnt {
  padding-bottom: 117px;
  .btn-wrap {
    margin-top: 50px;
  }
  .input-radio-type01 {
    // margin-bottom: 50px;
    text-align: center;
  }
  .ui-datepicker {
    width: 486px;
  }
  .ui-widget.ui-widget-content {
    margin: auto;
    border: none;
  }
  .ui-datepicker .ui-datepicker-header {
    border: none;
    background-color: transparent;
  }
  .ui-datepicker .ui-datepicker-title {
    font-family: 'Noto Sans KR', sans-serif;
    @include font(26px, 700);
    line-height: 1;
  }
  .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    overflow: hidden;
    width: 29px;height: 29px;
    border-radius: 100%;
    
  }
  .ui-widget-header .ui-icon {
    position: relative;
    top: 0;left: 0;
    display: inline-block;
    width: 100%;height: 100%;    
    margin: 0;
    background: #282828 url(../../images/common/ico_arrow_w_type02.png) no-repeat 49% 50%;
    background-size: 7px 11px;
  }
  .ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover {
    .ui-icon {
      background-color: $color-main-purple;
    }
  }
  .ui-datepicker-next {
    transform: rotate(-180deg);
  }
  .ui-datepicker-week-end {
    color: $color-font-red;
    &:last-child {
      color: #1669e7;
    }
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: none;
    text-align: center;
    background: transparent;
  }
  .ui-datepicker .ui-datepicker-calendar .ui-state-highlight a {
    color: #333;
    background: transparent;
  }
  .ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight, .ui-datepicker-today {
    border: none;
    background-color: #e7ddf5;
    opacity: 1;
  }
  .ui-datepicker-current-day, .ui-state-active {
    background: #e7ddf5 url(../../images/sub/calendar_bg.png) no-repeat left center !important;
    a {
      color: #fff !important;
    }
  }
  .ui-datepicker-calendar {
    margin-top: 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
  }
  .ui-datepicker td {
    height: 42px;
    padding: 0;
    cursor: pointer;
  }
  .hasDatepicker {
    padding: 30px 0 10px;
    margin-bottom: 75px;
    border-top: 2px solid #000;
    border-bottom: 1px solid #e1e1e1;
  }
}
.container {
  .wing-menu {
    &.wing04 {
      display: none;
    }
  }
}

@media screen and (max-width:1023px) {
  .sub-top {
    height: 174px;
    margin-top: 0;
    padding-top: 67px;
    &.txt-1 {
      padding-top: 82px;
    }
  }
  .title-wrap {
    top: -20px;
    width: calc(100% - 40px);
  }
  .free-cnt {
    .table-form {
      margin-bottom: 30px;
      table {
        th, td {
          padding: 10px;
        }
        th {
          width: 22%;
          vertical-align: middle;
        }
      }
    }
    .btn-line-type01 {
      font-size: 14px;
    }
    input[type="text"], input[type="number"], input[type="password"] {
      padding: 13px 12px;
      font-size: 14px;
      &.w392 {
        width: 287px;
      }
    }
  }
  .num-input-box {
    position: relative;
    input[type="text"] {
      padding-right: 50px;
    }
    .time-wrap {
      position: absolute;
      top: 50%;
      right: 10px;
      color: #fc3812;
      font-size: 15px;
      transform: translateY(-50%);
    }
  }
  .input-box {
    &.type02 {
      gap: 10px;
    }
  }
  .input-radio-type01 {
    & + .form-txt-error {
      display: block;
      margin-left: 0;
      margin-top: 10px;
      padding-left: 0;
    }
  }
  .pop-wrap {
    &.content-type {
      width: 83%;
    }
    &.alert-type.img-type {
      .pop-content {
        .tit {
          font-size: 18px;
          text-align: center;
          line-height: 1.4;
        }
      }
    }
  }
}

@media screen and (max-width:767px) {
  .sub-top {
    height: 166px;
    padding-top: 72px;
    .txt {
      font-size: 16px;
    } 
  }
  .title-wrap {
    padding: 12px 0;
    margin-bottom: 10px;
    justify-content: center;
    .loacation {
      display: none;
    }
    .tit {
      font-size: 16px;
    }
  }
  .free-cnt {
    padding-bottom: 30px;
    .table-tit {
      margin-bottom: 10px;
      .tit {
        padding-left: 10px;
        font-size: 16px;
        &::before {
          width: 5px;
          height: 9px;
        }
      }
      .txt {
        font-size: 12px;
      }
    }
    .table-form {
      table {
        th, td {
          display: flex;
          width: 100%;
          height: auto;
          border-bottom: 0;
        }
        th {
          padding: 15px 10px 5px;
          font-size: 15px;
          background-color: #fff;          
          em {
            top: 0;
          }
        }
        td {
          padding: 5px 10px 0;
          font-size: 14px;
          &.column-type {
            flex-direction: column;
            .form-txt-error {
              display: flex;
              padding-left: 0;
              margin-top: 20px;
              font-size: 12px;
              img {
                top: 0;
                height: 16px;
              }
            }
            .input-radio-type01  {
              text-align: left;
            }
          }
        }
      }
      span {
        padding: 0 5px;
      }
      input[type=text], input[type=number], input[type=password] {
        width: 100%;
        height: 34px;
      }
      .select-btn{
        padding: 10px;
        height: 34px;
        &.w138 {
          width: 95px;
        }
        &.w88 {
          width: 68px;
        }
        &::after {
          width: 9px;height: 5px;
          margin-top: -2px;
          right: 10px;
        }
      }
      .btn-line-type01 {
        flex: none;
        width: 70px;
        height: 34px;
        margin-left: 5px;
      }
      .input-box {
        width: 100%;
        &.type02 {
          gap: 5px;
          .select-wrap {
            width: 50%;
            .select-btn {
              width: 100%;
            }
          }
        }
        &.type03 {
          flex-wrap: wrap;
          input[type="text"] {
            width: 75%;
          }
          input[type="password"] {
            width: 100%;
          }
          input[type="number"] {
            width: 96px;
            & + .btn-line-type01 {
              width: 100%;
              margin-left: 0;
              margin-top: 5px;
            }
          }
          .form-txt-check, .form-txt-error {
            margin-left: 0;
            margin-top: 10px;
            padding-left: 0;
          }
          .num-input-box {
            width: 100%;
            input {
              width: 100%;
            }
            & + .btn-line-type01 {
              width: 100%;
              margin-left: 0;
              margin-top: 5px;
            }
          }
        }
      }
      .select-wrap {
        .select-list {
          top: 31px;
        }
      }
      &.column-type {
        margin-bottom: 10px;
        table {
          th, td {
            border-bottom: 1px solid #e1e1e1;
          }
          th {
            padding: 15px 10px 10px;
          }
          td {
            padding: 10px;
            flex-direction: column;
          }
        }
      }
    }
    .input-radio-type01 {
      font-size: 14px;
    }
    .btn-wrap {
      margin-top: 20px;      
      button {
        width: 100%;
        height: 45px;
        font-size: 16px;
      }
    }
  }
  .pop-wrap {
    
    .pop-close {
      width: 17px;
      height: 17px;
    }
    &.content-type {
      width: 90%;
      .pop-header {
        padding: 20px 0;
        margin: 0 20px;
      }
      .pop-content {
        margin: 20px;
        &.privacy-txt-wrap {
          .scroll-inner {            
            font-size: 14px;
            &.pr0 {
              padding-right: 0;
            }
          }
        }
      }
    }
    &.search-type {
      overflow: hidden;
      width: 90%;
      border-radius: 10px 10px 0 0;
      .pop-header {
        height: 57px;
        .tit {
          font-size: 18px;
        }
      }
      .pop-content {
        padding: 10px;
        .tab-menu-type01 {
          width: 100%;
          li {
            width: 50%;
            a {
              width: 100%;
              height: 40px;
              font-size: 14px;
            }
          }
        }
        .search-wrap {
          padding: 0;
          margin-top: 10px;
          border: 0;
          background-color: #fff;
          input {
            width: calc(100% - 75px);
            height: 34px;
            font-size: 14px;
          }
        }
        .btn-default-type01 {
          width: 70px;
          height: 34px;
          font-size: 14px;
        }
        .table-top {
          margin-bottom: 0;
          font-size: 14px;
          .select-wrap {
            .select-btn {
              width: 121px;
              height: 34px;
              padding: 10px;
              &::after {
                right: 10px;
                width: 11px;
                margin-top: -2px;
              }
            }
          }
        }
        table {
          tr, td {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
          tr {
            & + tr {
              border-top: 1px solid #e1e1e1;
            }
          }
          td {
            height: auto;
            border-top: 0;
            &:nth-child(1) {
              order: 2;
              padding: 5px 0 20px;
            }
            &:last-child {
              order: 1;
              padding: 20px 5px 0;
              text-align: left;
              font-size: 15px;
            }
            div {
              display: flex;
              gap: 5px;
              align-items: flex-start;
              span {
                padding-top: 5px;
                font-size: 13px;
                line-height: 1.3;
                &:nth-child(1) {
                  width: 42px;
                  height: 21px;
                  padding-top: 0;
                  margin-right: 0;
                  font-size: 12px;
                }

              }
            }
          }
        }
      }
      .table-list {
        .scroll-inner {
          max-height: 480px;
        }
      }
    }
    &.alert-type.img-type {
      width: 90%;
      
      .form-txt-error {
        font-size: 14px;
      }
    }
  }
}