@charset "UTF-8";
@import "_mixin.scss";
@import "_setting.scss";
@import url(../css/font.css);

// 로그인
.login {
  height: 100vh;
  padding-top: 249px;
  background-color: #f8f8f8;
  box-sizing: border-box;
  .login-wrap {
    display: flex;
    overflow: hidden;
    width: 900px;
    height: 473px;
    margin: auto;
    border-radius: 10px;
    background-color: #fff;
  }
  .left-img {
    width: 350px;
    img {
      width: 100%;
    }
  }
  .right-form {
    padding: 70px 102px 0;
    text-align: center;
    box-sizing: border-box
  }
  .tit {
    @include font(32px, 600);
  }
  .input-form {
    width: 355px;
    margin-top: 45px;
    input[type="text"], input[type="password"] {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  .btm-cnt {
    @include layout-justify-center;
    margin-top: 20px;
  }
  .btn-wrap {
    a {
      position: relative;
      color: #999;
      font-size: 14px;
      + a {
        margin-left: 16px;
        padding-left: 16px;
        &::before {
          position: absolute;
          left: 0;top: 50%;
          @include virtual-selector;
          width: 1px;height: 12px;
          margin-top: -6px;
          background-color: #999999;
        }
      }
    }
  }
  .form-txt-chk {
    display: block;
    margin-top: 40px;
  }
  .txt {
    display: block;
    margin-top: 15px;
    font-size: 14px;
  }
  .form-pop {
    .pop-inner {
      width: 560px;
    }
    input {
      &.w160 {
        width: 160px;
      }
    }
    .btn {
      width: 110px;height: 40px;
      margin-left: 6px;
      color: $color-main-purple;
      border: 1px solid $color-main-purple;
      border-radius: 5px;
    }
    .select-btn {
      width: 73px;
    }
    .tel-form {
      input {
        width: 65px;
      }
      span {
        margin: 0 3px;
      }
    }
  }
  .pop-wrap.table-type.form-pop {
    th {
      padding-left: 20px;
      text-align: left;
    }
  }
}
//회원정보
.mypage-que {
  .tab-wrap {
    padding: 32px 20px 20px;
  }
  .contents {
    padding: 30px 30px 180px;
    border: 1px solid $color-line-type02;
    border-top: 0;
  }
  .table-wrap {
    overflow: hidden;
    border: 1px solid $color-line-type02;
    border-radius: 5px;
    box-sizing: border-box;
  }
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse:inherit;
    tr:last-child {
      th, td {
        border-bottom: 0;
      }
    }
    th , td {
      height: 60px;
      padding: 0 20px;
      border-bottom: 1px solid $color-line-type02;
    }
    th {
      font-weight: 600;
      background-color: #f7f7f7;
    }
    td {
      span {
        margin: 0 6px;
      }
      .pop-btn {
        width: 150px;height: 40px;
        color: $color-main-purple;
        border: 1px solid $color-main-purple;
        border-radius: 5px;
      }
    }
    input[type="text"] {
      width: 164px;
    }
    .tel-form {
      button, input {
        width: 88px;
      }
    }
    .email-form {
      input:nth-child(1) {
        width: 88px;
      }
      input:last-child {
        width: 182px;
        margin-left: 6px;
      }
      button {
        width: 138px;
      }
    }
  }
  .tooltip-wrap {
    th, td {
      height: auto;
      padding: 10px 20px;
      vertical-align: top;
    }
    th {
      position: relative;
      padding-top: 20px;
      button {
        position: relative;
        top: 1px;
        width: 19px;height: 19px;
        margin-left: 8px;
        border-radius: 100%;
        border: 1px solid #989898;
        background: #fff url(../../images/common/ico_tooltip.png) no-repeat left 7px top 4px;
        background-size: 4px 8px;
        &:hover {
          background-color: #969696;
          filter: invert(98%) sepia(98%) saturate(8%) hue-rotate(162deg) brightness(102%) contrast(102%);
          & + .tooltip {
            display: inline-flex;
          }
        }
      }
    }
    td {
      display: flex;
      .img-drop {
        flex: none;
        width: 450px;
        height: 150px;
        padding: 10px;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-sizing: border-box;
        .cnt {
          @include layout-center-center;
          height: 100%;
          border: 1px dashed #999;
          border-radius: 5px;
          img {
            margin-right: 13px;
          }
          .tit {
            font-size: 16px;
            color: $color-font66;
          }
          .txt {
            display: block;
            margin-top: 8px;
            color: #b7b7b7;
            font-size: 14px;
          }
        }
      }
      > img {
        width: 450px;
        height: 150px;
        margin-left: 14px;
      }
    }
  }
  .tooltip {    
    @include content-center-center;
    display: none;
    position: absolute;
    top: 53px;left: 31px;
    width: 355px;height: 50px;    
    color: #fff;
    border-radius: 5px;
    background-color: #969696;
    span {
      @include font(14px, 400);
    }
    &::before {
      @include virtual-selector;
      position: absolute;
      left: 57px;
      top: -8px;
      width: 11px;height: 8px;
      background: url(../../images/common/ico_arrow_tooltip.png) no-repeat;
    }
  }
  .btn-default {
    width: 180px;
    margin: 19px auto 0;
  }
  .form-pop {
    .pop-inner {
      width: 560px;
      th {
        text-align: left;
      }
      td {
        padding: 10px 20px;
        input {
          width: 100%;
        }
      }
    }
    .form-txt-chk {
      display: block;
      margin: 7px 0 0 0;
    }
  }
  .complete-pop {
    .pop-inner {
      width: 600px;
    }
    .pop-header {
      padding-top: 25px;
      text-align: center;
      span {
        @include font(20px, 700);
      }
    }
    .pop-content {
      padding: 0 30px;
      img {
        padding-top: 30px;
      }
      .tit {
        display: block;
        margin: 40px 0 30px;
        @include font(24px, 700);
      }
      .cnt {
        display: block;
        line-height: 1.6;
        & + .cnt {
          margin-top: 15px;
        }
        i {
          @include font(20px, 700);          
        }
      }
      .txt {
        color: #999;
        font-size: 14px;
      }
      em {
        color: $color-main-purple;
      }
      i {
        font-style: normal;
      }
      .date-wrap {
        padding: 27px 0;
        border-radius: 10px;
        background-color: #f6f6f6;
        i {
          display: block;
          margin-top: 10px;
          @include font(26px, 600);
        }
      }
      .input-wrap {
        margin: 40px 0 20px;
        text-align: right;
      }
    }
  }
}
// 기출문제지
.sub04-que {
  .container {
    .inner {
      padding: 0 20px 30px;
      box-sizing: border-box;
    }
  }
  .tab-top {
    border-left: 1px solid $color-line-type02;
    border-right: 1px solid $color-line-type02;
  }
  .tab-menu-type01 {
    margin-top: 30px;
    li {
      &:last-child {
        a {
          width: 284px;
        }
      }
    }
  }
  .tab-list-type01 {
    .table {
      span {
        &:nth-child(1) {
          width: 10%;
        }
        &:nth-child(2) {
          width: 10%;
          justify-content: center;
        }
        &:nth-child(3) {
          width: 42%;
        }
        &:nth-child(4) {
          width: 12%;
          justify-content: center;
        }
        &:nth-child(5) {
          width: 5%;
        }
        &:nth-child(6) {
          width: 11%;
        }
        &:nth-child(7) {
          width: 8%;
        }
        &:nth-child(8) {
          width: 2%;
        }
      }
      
    }
    .table {
      .scroll-inner {
        height: 566px;
        border-bottom: 1px solid $color-line-type02;
      }
    }
  }
  .tbody {
    .col {
      > span {
        &:nth-child(3) {
          padding-left: 30px;
          justify-content: flex-start;
        }
      }
    }
  }
  .tooltip {
    left: -93px;
  }
}
//tab2
.sub04-02 {
  .tab-list-type01 {
    .table {
      span {
        &:nth-child(3) {
          width: 54%;
        }
        &:nth-child(4) {
          width: 5%;
        }
        &:nth-child(5) {
          width: 11%;
        }
        &:nth-child(6) {
          width: 8%;
        }
        &:nth-child(7) {
          width: 2%;
        }
      }
    }
  }
}
//tab3
.sub04-03 {
  .tab-list-type01 {
    .table {
      span {
        &:nth-child(3) {
          width: 55%;
        }
        &:nth-child(4) {
          width: 5%;
        }
        &:nth-child(5) {
          width: 20%;
        }
      }
    }
  }
  .tbody {
    a + a {
      margin-left: 10px;
    }
  }
}
// 수업진행
.sub06-que {
  .container {
    > .inner {
      display: flex;
      width: 1240px;
      padding-top: 30px;
    }
  }
  .tit-wrap {
    span {
      @include font(18px, 700);
    }    
  }
  .tooltip {
    span {
      @include font(14px, 400);
    }
  }
  .list-cnt {
    width: 200px;
    margin-right: 20px;
  }
  .detail-cnt {
    width: calc(100% - 220px);
  }
  .title {
    margin-right: 170px;
    @include font(20px, 700);
  }
  .search-wrap {
    display: inline-block;
    > div, > button {
      display: inline-block;
    }
    .btn-icon {
      position: relative;
      top: 2px;
      margin-left: 5px;
    }
  }
  .table-wrap {
    .inner {
      margin-top: 12px;
    }
  }
  .tab-list-type01 {
    .tab-top {
      padding: 0;
    }
    .title {
      margin-right: 0;
    }
    .txt {
      display: block;
      margin: 10px 0;
      font-size: 14px;
      i {
        position: relative;
        top: -2px;
        @include content-center-center;
        width: 18px;height: 18px;
        margin-right: 6px;
        color: #6e6e6e;
        @include font(11px, 700);
        border-radius: 100%;
        font-style: normal;
        background-color: $color-line-type02;

      }
    }
    .select-wrap {
      margin-left: 0;
      margin-right: 8px;
    }
    .chk-acc {
      span {
        &:nth-child(1) {
          width: 5%;
          &.tag-type01 {
            width: auto;
            padding: 4px 10px 3px;
            margin:0 10px;
            font-size: 12px;
          }
        }
        &:nth-child(2) {
          width: 6%;
        }
        &:nth-child(3) {
          width: 9%;
        }
        &:nth-child(4) {
          width: 54%;
        }
        &:nth-child(5) {
          width: 5%;
        }
        &:nth-child(6) {
          width: 5%;
        }
        &:nth-child(7) {
          width: 9%;
        }
        &:nth-child(8) {
          width: 5%;
        }
      }
      .tooltip {
        width: 408px;
        left: -194px;
        span {
          width: auto;
        }
        &::before {
          left: 50%;
          margin-left: -5px;
        }
      }
    }
    .btn-tip {
      margin-left: 0;
      margin-right: 4px;
    }
    .scroll-inner {
      height: 705px;
    }
    .tbody {
      position: relative;
      overflow: hidden;
    }
    .fix-btm-bar {
      display: none;
      position: absolute;
      bottom: 35px;left: 50%;
      transform: translateX(-50%);
      span {
        padding: 0;
      }
      &.on {
        display: flex;
      }
    }
  }
  .pop-top-btn {
    float: right;
    margin-right: 26px;
    margin-bottom: 10px;
  }
  .sub06-student {
    .table-wrap {
      .tit-wrap {
        padding-left: 20px;
        justify-content: flex-start;
      }
    }
    .tab-list-type01 {
      .chk-acc {
        span {
          &:nth-child(4) {
            width: 58%;
          }
          &:nth-child(7) {
            width: 5%;
          }
        }
      }
    }
  }
}
// 교재
.sub08-01 {
  .tab-wrap {
    overflow: hidden;
  }
  .tab-top {
    @include layout-justify-center;
    .pop-btn {
      position: relative;
      top: 1px;
      width: 198px;
      padding: 10px 0 9px;
      margin-right: 6px;
      font-weight: 600;
      border: 1px solid $color-line-type02;
      border-radius: 5px;
      background-color: #fff;
      img {
        margin-left: 20px;
      }
    }
  }
  .tab-list-type02 {
    .inner {
      margin-top: 10px;
    }
    .chk-acc {
      li {
        padding: 0 32px 0 26px;
      }
      .scroll-inner {
        height: 695px;
      }
    }
    .title-btn-wrap {
      padding: 0 20px;
      justify-content: space-between;
      .chk-wrap {
        label {
          @include content-center-center;
          width: 60px;height: 35px;
          padding: 0;
          font-weight: 600;
          border-radius: 5px;
          &.blue {
            margin-left: 30px;
            color: #247bf1;
            border: 1px solid #247bf1;
          }
          &.red {
            margin-left: 10px;
            color: #f13e26;
            border: 1px solid #f13e26;
          }
          &::before {
            display: none;
          }
        }
      }
    }
    li {
      .btn-wrap {
        margin-top: 0;
      }
      .chk-wrap {
        label {
          display: inline-flex;
          width: 38px;height: 38px;
          padding: 0;
          &::before {
            display: none;
          }
        }
        .answer {
          & + label {
            background: url(../../images/common/ico_answer.png) no-repeat;
          }
          &:checked {
            & + label {
              background: url(../../images/common/ico_answer_chk.png) no-repeat;
            }
          }
        }
        .wrong {
          & + label {
            margin-left: 32px;
            background: url(../../images/common/ico_wrong.png) no-repeat;
          }
          &:checked {
            & + label {
              background: url(../../images/common/ico_wrong_chk.png) no-repeat;
            }
          }
        }
      }      
    }
  }
  .tooltip-wrap {
    .tooltip.type02 {
      left: 0;
    }
  }
}
// 운영관리
.sub10-que {
  .container {
    .inner {
      margin-top: 70px;
      padding: 0 20px 30px;
      box-sizing: border-box;
    }
  }
  .tab-top {
    border-left: 1px solid $color-line-type02;
    border-right: 1px solid $color-line-type02;
  }
  .defalut-view {
    @include layout-center-center;
    flex-direction: column;
    height: 759px;
    border: 1px solid $color-line-type02;
    border-top: 0;
    .txt-box {
      margin-top: 25px;
      font-size: 18px;
      text-align: center;
      line-height: 1.5;
      em {
        color: $color-main-purple;
        font-weight: 600;
      }
    }
    .btn-icon {
      margin: 25px auto 0;
    }
  }
}


@media (max-width: 1280px) {
  
  // 로그인
  .login {
    padding-top: 0;
    .login-wrap {
      width: 100%;
      height: 100vh;
    }
    .left-img {
      width: 500px;
      img {
        height: 100%;
      }
    }
    .right-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: calc(100% - 500px);
      padding: 0;
    }
    .input-form {
      width: 440px;
      margin: 45px auto 0;
    }
    .btn-default {
      width: 100%;
    }
  }

  //회원정보
  .mypage-que {
    .contents {
      padding: 30px 30px 16px;
    }
  }

  //기출문제지
  .sub04-que {
    .tab-list-type01 {
      .table {
        .scroll-inner {
          height: 440px;
        }
      }
    }
  }

  //학습현황
  .sub06-que {
    .table-wrap {
      .row {
        .scroll-inner {
          height: 269px;
        }
        &:last-child {
          .scroll-inner {
            height: 199px;
          }
        }
      }
    }
    .tab-list-type01 {
      .scroll-inner {
        height: 514px;
      }
      .fix-btm-bar {
        bottom: 0;
      }
    }
  }

  //교재
  .sub08-01 {
    .tab-list-type02 {
      .chk-acc {
        .scroll-inner {
          height: 503px;
        }
      }
    }
  }
}